/*=======================*\
    BASE
\*=======================*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: var(--color-white);
}
