/*=======================*\
    BUTTON
\*=======================*/

.button {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  animation: fadeIn 0.5s;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}

.button .button__comecar {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  transition: all 0.2s;
  background-color: var(--color-green);
}

.button .button__comecar:hover {
  background-color: var(--color-green-dark);
}

.button .button__continuar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  transition: all 0.2s;
  background-color: var(--color-cyan);
}

.button .button__continuar:hover {
  background-color: var(--color-cyan-dark);
}

.button .button__comecar p,
.button .button__continuar p {
  font-family: 'Medium';
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: var(--color-white-fixed);
}
