/*=======================*\
    WELCOME
\*=======================*/

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.welcome .welcome__quadro {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 80px;
  animation: fadeIn 0.5s;
}

.welcome .welcome__quadro:not(:first-child) {
  display: none;
}

.welcome .welcome__quadro .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 50px;
}

.welcome .welcome__quadro .image {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/*=======================*\
    TEXT
\*=======================*/

.welcome .welcome__quadro .text h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  padding-bottom: 5px;
  color: var(--color-gray-extra-dark);
}

.welcome .welcome__quadro .text p {
  font-family: 'Medium';
  font-size: 1.1rem;
  max-width: 400px;
  color: var(--color-gray-dark);
}

/*=======================*\
    IMAGE
\*=======================*/

.welcome .welcome__quadro .image img {
  width: 350px;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .welcome .welcome__quadro {
    flex-direction: column;
    text-align: center;
  }
  .welcome .welcome__quadro .image {
    padding: 0 70px;
  }
  .welcome .welcome__quadro .text {
    margin-top: 30px;
    margin-left: 0;
    padding: 0 20px;
  }
}
