/*=======================*\
    GRÁFICO
\*=======================*/

.financeiro__grafico {
  display: grid;
  align-items: center;
  width: 100%;
  width: calc(100% - 60px);
  margin-top: 0;
  margin-bottom: 30px;

  grid-gap: 30px;
  grid-template-columns: 2fr 1fr;
}

/*=======================*\
    CONTENT
\*=======================*/

.financeiro__grafico .grafico__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__grafico .grafico__content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.financeiro__grafico .grafico__content .info .bolinha {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 100%;
}

.financeiro__grafico .grafico__content .info .info__receita .bolinha {
  background-color: var(--color-green);
}

.financeiro__grafico .grafico__content .info .info__despesa .bolinha {
  background-color: var(--color-red);
}

.financeiro__grafico .grafico__content .info .info__comissao .bolinha {
  background-color: var(--color-pink);
}

.financeiro__grafico .grafico__content .info .info__receita,
.financeiro__grafico .grafico__content .info .info__despesa,
.financeiro__grafico .grafico__content .info .info__comissao {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.financeiro__grafico .grafico__content .texto p {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.financeiro__grafico .grafico__content .texto span {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

/*=======================*\
    COMPLEMENTO
\*=======================*/

.financeiro__grafico .grafico__complemento {
  display: grid;
  height: 100%;

  grid-row-gap: 30px;
  grid-template-rows: 1fr 1fr;
}

.financeiro__grafico .grafico__complemento .complemento__receitas,
.financeiro__grafico .grafico__complemento .complemento__despesas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__grafico .grafico__complemento .title,
.financeiro__grafico .grafico__complemento .valor {
  width: 100%;
}

.financeiro__grafico .grafico__complemento .title h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-gray-dark);
}

.financeiro__grafico .grafico__complemento .title p {
  font-family: 'Medium';
  font-size: 1.1rem;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__grafico .grafico__complemento .valor p {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__grafico .grafico__complemento .complemento__receitas .valor span {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-green);
}

.financeiro__grafico .grafico__complemento .complemento__despesas .valor span {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-red);
}

/*=======================*\
    GRÁFICO SVG
\*=======================*/

.financeiro__grafico .grafico__content .grafico svg {
  max-width: 400px;
}

.financeiro__grafico .grafico__content .grafico svg .chart-text {
  font-family: 'Medium';
  font-size: 0.7rem;
  -webkit-transform: translateY(0.1em);
     -moz-transform: translateY(0.1em);
      -ms-transform: translateY(0.1em);
          transform: translateY(0.1em);

  fill: var(--color-gray);
}

.financeiro__grafico .grafico__content .grafico svg .chart-number {
  font-family: 'Medium';
  font-size: 0.2rem;
  -webkit-transform: translateY(-0.25em);
     -moz-transform: translateY(-0.25em);
      -ms-transform: translateY(-0.25em);
          transform: translateY(-0.25em);

  fill: var(--color-gray-dark);
  text-anchor: middle;
}

.financeiro__grafico .grafico__content .grafico svg .chart-label {
  font-family: 'Medium';
  font-size: 0.17rem;
  -webkit-transform: translateY(1.2em);
     -moz-transform: translateY(1.2em);
      -ms-transform: translateY(1.2em);
          transform: translateY(1.2em);

  fill: var(--color-gray);
  text-anchor: middle;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .financeiro__grafico {
    width: calc(100% - 30px);
    margin-bottom: 20px;

    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .financeiro__grafico .grafico__complemento {
    display: grid;

    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .financeiro__grafico .grafico__complemento {
    grid-template-columns: 1fr;
  }
  .financeiro__grafico .grafico__content {
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .financeiro__grafico .grafico__content .info {
    margin-top: 20px;
    margin-left: 0;
  }
  .financeiro__grafico .grafico__complemento .title h2 {
    font-size: 1.3rem;
  }
  .financeiro__grafico .grafico__complemento .title p {
    font-size: 1rem;
  }
  .financeiro__grafico .grafico__complemento .valor p {
    font-size: 1rem;
  }
  .financeiro__grafico .grafico__content .texto p {
    font-size: 1.1rem;
  }
}
