/*=======================*\
    PAGOS
\*=======================*/

.financeiro__pagos {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: calc(100% - 60px);
  margin-top: 0;
  padding-bottom: 30px;

  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.financeiro__pagos .pagos__comissoes,
.financeiro__pagos .pagos__gorjetas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__pagos .title,
.financeiro__pagos .valor {
  width: 100%;
}

.financeiro__pagos .title h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-gray-dark);
}

.financeiro__pagos .title p {
  font-family: 'Medium';
  font-size: 1.1rem;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__pagos .valor p {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__pagos .pagos__gorjetas .valor span {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-orange);
}

.financeiro__pagos .pagos__comissoes .valor span {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-pink);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .financeiro__pagos {
    width: 100%;
    width: calc(100% - 30px);
    padding-bottom: 70px;

    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .financeiro__pagos .title h2 {
    font-size: 1.3rem;
  }
  .financeiro__pagos .title p {
    font-size: 1rem;
  }
  .financeiro__pagos .valor p {
    font-size: 1rem;
  }
}
