/*=======================*\
    LISTA
\*=======================*/

.lista ul:empty:not(:focus):before {
  content: 'Nenhuma permissão cadastrada! Clique no botão "Adicionar Permissão" para cadastrar na lista.';
}

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__acessos {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.active .lista__dados span.item__acessos,
.lista ul li.active .lista__dados span.item__nome {
  color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 800px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__telefone {
    font-size: 0.9rem;
  }
}
