/*=======================*\
    MODAL
\*=======================*/

#modal_adicionar_permissao .modal__content .modal__body .setores,
#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes,
#modal_editar_permissao .modal__content .modal__body .setores,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes {
  margin-bottom: 30px;
}

#modal_adicionar_permissao .modal__content .modal__body .setores > .setores__button,
#modal_editar_permissao .modal__content .modal__body .setores > .setores__button {
  display: grid;
  padding-top: 15px;

  grid-gap: 15px;
  grid-template-areas: 'agenda clientes comandas' 'servicos produtos materiais' 'financeiro permissoes funcionarios';
}

#modal_adicionar_permissao .modal__content .modal__body .setores > .setores__button button,
#modal_editar_permissao .modal__content .modal__body .setores > .setores__button button {
  font-family: 'Medium';
  font-size: 1rem;
  justify-content: center;
  padding: 7px 20px;
  color: var(--color-cyan);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
  box-shadow: 0 1px 1px #557CF266;
}

#modal_adicionar_permissao .modal__content .modal__body .setores > .setores__button button.active,
#modal_editar_permissao .modal__content .modal__body .setores > .setores__button button.active {
  color: var(--color-white);
  background-color: var(--color-cyan);
}

#modal_adicionar_permissao .modal__content .modal__body .setores > p,
#modal_editar_permissao .modal__content .modal__body .setores > p {
  font-family: 'Medium';
  font-size: 1rem;
  max-width: 350px;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  color: var(--color-gray);
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div {
  display: grid;
  margin-top: 10px;

  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > .hidden,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > .hidden {
  display: none;
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > div,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > div {
  display: flex;
  margin-top: 5px;
  cursor: pointer;
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > div *,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > div * {
  pointer-events: none;
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > div p,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > div p {
  font-family: 'medium';
  font-size: 1rem;
  margin: 0;
  color: var(--color-gray);
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > .active p,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > .active p {
  color: var(--color-cyan);
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > div i,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > div i {
  font-size: 1.2rem;
  align-self: center;
  margin-right: 10px;
  transition: all ease 0.2s;
  color: var(--color-gray);
}

#modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > .active i,
#modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > .active i {
  color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  #modal_adicionar_permissao .modal__content .modal__body .setores > .setores__button,
  #modal_editar_permissao .modal__content .modal__body .setores > .setores__button {
    padding-top: 10px;

    grid-gap: 10px;
    grid-template-areas: 'agenda clientes' 'comandas servicos' 'produtos materiais' 'financeiro permissoes' 'funcionarios nenhum';
  }
  #modal_adicionar_permissao .modal__content .modal__body .setores > .setores__button button,
  #modal_editar_permissao .modal__content .modal__body .setores > .setores__button button {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  #modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div,
  #modal_editar_permissao .modal__content .modal__body .setor__permissoes > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #modal_adicionar_permissao .modal__content .modal__body .setor__permissoes > div > div,
  #modal_editar_permissao .modal__content .modal__body .setor__permissoes > div > div {
    flex-direction: row;
    margin-top: 10px;
  }
}
