/*=======================*\
    BUTTON
\*=======================*/

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  transition: all ease 0.2s;
}

/*=======================*\
    FOCUS
\*=======================*/

button:focus {
  outline: 0 !important;
}

/*=======================*\
    FIREFOX FIX
\*=======================*/

button::-moz-focus-inner {
  border: 0;
}

/*=======================*\
    BLOCK SELECTED
\*=======================*/

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}

/*=======================*\
    BUTTON DISABLED
\*=======================*/

button[disabled='true']:hover {
  cursor: not-allowed !important;
  color: var(--color-white-fixed) !important;
  background-color: var(--color-cyan) !important;
}

button[disabled] {
  cursor: not-allowed;
  transition: all ease 0.2s;

  filter: opacity(20%);
}

button[disabled]:hover {
  filter: opacity(20%) !important;
}

/*=======================*\
    BUTTON ADICIONAR
\*=======================*/

.content__adicionar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 30px);
  margin-top: 30px;
}

.content__adicionar button.adicionar__button {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.content__adicionar button.adicionar__button:hover {
  background-color: var(--color-cyan-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .content__adicionar button.adicionar__button {
    font-size: 1rem;
    padding: 15px 30px;
  }
}
