/*=======================*\
    IMAGES
\*=======================*/

img {
  width: auto;
  max-width: 100%;
}

/*=======================*\
    BLOCK SELECTED
\*=======================*/

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}
