/*=======================*\
    INPUT
\*=======================*/

input {
  font-family: 'Medium';
  font-size: 1rem;
  line-height: normal;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 15px;
  color: var(--color-gray-dark);
  border: 2px solid var(--color-gray-light);
  border-radius: 10px;
  outline: none;
  background-color: var(--color-white);
}

input:focus {
  transition: all 0.2s;
  opacity: 1;
  color: var(--color-cyan);
  border: 2px solid var(--color-cyan);
  outline: none;
}

input::placeholder {
  font-family: 'Medium';
  content: '';
  opacity: 1;
  color: var(--color-gray);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  opacity: 1;
  -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
          box-shadow: 0 0 0 30px var(--color-white) inset !important;
}

input:-webkit-autofill {
  opacity: 1;

  -webkit-text-fill-color: var(--color-cyan) !important;
}

/*=======================*\
    INPUT DATA
\*=======================*/

input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
  display: none;
}

input[type='date'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='time']::-webkit-clear-button {
  display: none;
}

/*=======================*\
    INPUT BUSCA
\*=======================*/

input[type=search] {
  padding: 10px 0;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/*=======================*\
    INPUT NUMBER
\*=======================*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

/*=======================*\
    RESPONSIVE
\*=======================*/

@media screen and (max-width: 600px) {
  input {
    font-size: 0.9rem;
    padding: 20px 12px;
  }
}
