.input {
  position: relative;
  padding-top: 13px;
}

.input input::placeholder,
.input textarea::placeholder {
  color: transparent;
}

.input label {
  font-family: 'Medium';
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 30px;
  margin-left: 15px;
  padding: 0 4px;
  -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  pointer-events: none;
  color: var(--color-gray);
  background-color: var(--color-white);
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label,
.input textarea:focus + label,
.input textarea:not(:placeholder-shown) + label {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-left: 10px;
  color: var(--color-cyan);
}

.input div:not(:indeterminate) + label {
  font-size: 0.7rem;
  margin-top: 5px;
  margin-left: 10px;
  color: var(--color-gray);
}

.input input:not(:focus) + label,
.input textarea:not(:focus) + label {
  color: var(--color-gray);
}

@media screen and (max-width: 600px) {
  .input label {
    font-size: 0.9rem;
    margin-top: 30px;
    margin-left: 15px;
  }
}
