/*=======================*\
    LINKS
\*=======================*/

a {
  cursor: pointer;
  transition: ease all 0.2s;
  text-decoration: none;
  color: unset;
}

a:link,
a:visited,
a:hover,
a:active {
  color: unset;
}

a:focus {
  outline: none;
}

a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}
