/*=======================*\
    TEXTAREA
\*=======================*/

textarea {
  font-family: 'Medium';
  font-size: 1rem;
  line-height: normal;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 15px;
  resize: none;
  color: var(--color-gray-extra-dark);
  border: 1.5px solid var(--color-gray-light);
  border-radius: 10px;
  outline: none;
  background-color: var(--color-white);
}

/*=======================*\
    FOCUS
\*=======================*/

textarea:focus {
  transition: all 0.2s;
  color: var(--color-cyan);
  border: 1.5px solid var(--color-cyan);
  outline: none;
}

/*=======================*\
    PLACEHOLDER
\*=======================*/

textarea::placeholder {
  font-family: 'Medium';
  content: '';
  opacity: 1;
  color: var(--color-gray-dark);
}

/*=======================*\
    AUTOCOMPLETE
\*=======================*/

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
          box-shadow: 0 0 0 30px var(--color-white) inset !important;
}

textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--color-purple) !important;
}
