/*=======================*\
    LISTA AJUDA
\*=======================*/

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__sobre {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.active .lista__dados span.item__sobre,
.lista ul li.active .lista__dados span.item__nome {
  color: var(--color-cyan);
}

.lista ul li span .lista__opcoes div:last-child i,
.lista ul li span .lista__opcoes div:last-child span {
  color: var(--color-green);
}

.lista ul li span .lista__opcoes div:last-child:hover i,
.lista ul li span .lista__opcoes div:last-child:hover span {
  color: var(--color-cyan);
}

.lista .lista__paginacao {
  display: none;
}

.lista ul li span .lista__opcoes {
  width: 230px;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 800px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__sobre {
    font-size: 0.9rem;
  }
}
