/*=======================*\
    SUPORTE
\*=======================*/

.ajuda__suporte {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(100% - 60px);
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.ajuda__suporte .suporte__title h2 {
  font-family: 'Medium';
  font-size: 1.4rem;
  color: var(--color-gray-dark);
}

.ajuda__suporte .suporte__title p {
  font-family: 'Medium';
  font-size: 1.1rem;
  color: var(--color-gray);
}


/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .ajuda__suporte {
    max-width: calc(100% - 30px);
    padding: 20px 0;
  }
  .ajuda__suporte .suporte__title h2 {
    font-size: 1.3rem;
  }
  .ajuda__suporte .suporte__title p {
    font-size: 1rem;
  }
}
