<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Ajuda - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/ajuda.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- Aside -->
  {{> aside}}

  <main>

    <!-- PESQUISA -->
    <section class="top">
      <div class="top__title">
        <h2>Ajuda</h2>
        <p>premium 24 horas</p>
      </div>
      <div class="top__ajuda">
      </div>
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- Titulo -->
    <section class="ajuda__suporte">
      <div class="suporte__title">
        <h2>Olá, seja bem-vinda a tela ajuda!</h2>
        <p>Aqui você consegue aprender sobre cada uma das telas e tirar todas as suas dúvidas!</p>
      </div>
    </section>

    <section class="lista" id="lista__funcionalidades"></section>

  </main>

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/ajuda.js?v={{versao.js}}"></script>

</body>

</html>
