<section class="modal" id="modal_opcoes_horario">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Opções do Horário</h2>
      <p>Selecione o que deseja fazer com esse horário da agenda.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

        <div class="content__horario">
          <div class="horario">
            <div class="horario__id" hidden></div>
            <div class="horario__telefone" hidden></div>
            <div class="horario__periodo">&nbsp;</div>
            <div class="horario__funcionario">&nbsp;</div>
            <div class="horario__cliente">&nbsp;</div>
            <div class="horario__estadia">&nbsp;</div>
          </div>
        </div>

        <div class="tags">
          <span class="tag__orange">Marcado</span>
          <span class="tag__green">Concluido</span>
          <span class="tag__red">Faltou</span>
        </div>

        <div class="content__opcoes">
          <div class="opcao__visualizar">
            <i class="icon-eye"></i>
            <span>Visualizar</span>
          </div>
          <div class="opcao__editar">
            <i class="icon-edit"></i>
            <span>Editar</span>
          </div>
          <div class="opcao__enviar__whatsapp">
            <i class="icon-whatsapp"></i>
            <span>Whatsapp</span>
          </div>
          <div class="opcao__enviar__comanda">
            <i class="icon-receipts"></i>
            <span>Enviar para Comanda</span>
          </div>
          <div class="opcao__deletar">
            <i class="icon-trash-alt"></i>
            <span>Deletar</span>
          </div>
        </div>

    </div>
  </div>
</section>
