<section class="modal" id="modal_adicionar_horario">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Adicione um Horário</h2>
      <p>Cadastre um novo horário na agenda.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Nome -->
      <div class="informacoes__cliente input">
        <div class="selecto__common"></div>
        <label>Cliente ( obrigatório )</label>
      </div>

      <!-- Funcionário -->
      <div class="informacoes__funcionario input">
        <div class="selecto__common"></div>
        <label>Funcionário ( obrigatório )</label>
      </div>

      <!-- Observação-->
      <div class="informacoes__observacao input">
        <textarea spellcheck="false" rows="4" autocomplete="off" wrap="hard" placeholder="Observação sobre horário"></textarea>
        <label>Observação ( opcional )</label>
      </div>

      <!-- Data -->
      <div class="servicos__data input">
        <div class="datepicker"></div>
        <label>Data Marcada ( obrigatório )</label>
      </div>

      <!-- Horário Inicial -->
      <div class="horario__inicial input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Começa 18:30" data-mask="##:##">
        <label>Horário Inicial ( obrigatório )</label>
      </div>

      <!-- Horário Final -->
      <div class="horario__final input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Termina 19:15" data-mask="##:##">
        <label>Horário Final ( obrigatório )</label>
      </div>

      <!-- Select Serviços -->
      <div class="servicos__agrupador">
        <div class="servicos__servicos input">
          <div class="selecto__common" data-id="1"></div>
          <label>Serviços ( obrigatório )</label>
          <div class="selecto__common hidden" data-id="2"></div>
          <div class="selecto__common hidden" data-id="3"></div>
          <div class="selecto__common hidden" data-id="4"></div>
          <div class="selecto__common hidden" data-id="5"></div>
          <div class="selecto__common hidden" data-id="6"></div>
          <div class="selecto__common hidden" data-id="7"></div>
          <div class="selecto__common hidden" data-id="8"></div>
          <div class="selecto__common hidden" data-id="9"></div>
          <div class="selecto__common hidden" data-id="10"></div>
        </div>
        <div class="botao">
          <button type="button" id="adicionar__servico">Adicionar Serviço</button>
        </div>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="adicionar">Salvar Horário</button>
    </div>

  </div>
</section>
