<section class="modal" id="modal_enviar_comanda">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Enviar para Comanda</h2>
      <p>Envie esse horário direto para alguma comanda. Caso não tenha comandas abertas cria uma!</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Hidden -->
      <div class="modal__hidden" hidden>
        <div class="hidden__id__cliente" hidden></div>
      </div>

      <!-- COMANDAS -->
      <div class="comandas">

        <!-- Slide Comandas -->
        <div class="slide__items"></div>

        <!-- Botão Adicionar Comanda -->
        <div class="botao">
          <button type="button" id="criar__comanda">Criar Comanda</button>
        </div>

      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="enviar">Enviar para Comanda</button>
    </div>

  </div>
</section>
