<section class="modal" id="modal_visualizar_horario">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Dados do Horário</h2>
      <p>Veja os dados cadastrados desse Horário.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Collapsible Informacoes -->
      <div class="collapsible" id="informacoes">
        <div class="title">
          <p>Informações</p>
        </div>
        <div class="content">
          <div class="cliente">
            <p>Cliente</p>
            <span>...</span>
          </div>
          <div class="funcionario">
            <p>Funcionário</p>
            <span>...</span>
          </div>
          <div class="observacao">
            <p>Observação</p>
            <span>...</span>
          </div>
          <div class="data__registro">
            <p>Data</p>
            <span>...</span>
          </div>
          <div class="hora__inicio">
            <p>Horário Inicial</p>
            <span>...</span>
          </div>
          <div class="hora__fim">
            <p>Horário Final</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Endereco -->
      <div class="collapsible" id="servicos">
        <div class="title">
          <p>Serviços</p>
        </div>
        <div class="content">
          <div class="servicos">
            <p>Serviços</p>
            <span>...</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
