/*=======================*\
    LISTA
\*=======================*/

.lista ul:empty:not(:focus):before {
  content: 'Nenhuma comissão ou gorjeta recebida!';
}

.lista ul li .lista__data {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: center;
}

.lista ul li .lista__data span.item__data {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__valor {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.gorjeta i.comissao {
  display: none;
}

.lista ul li.comissao i.gorjeta {
  display: none;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 800px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__valor {
    font-size: 0.9rem;
  }
  .lista ul li .lista__data {
    justify-content: left;
    margin-left: 42px;
  }
}

@media screen and (max-width: 600px) {
  .lista ul li .lista__data {
    justify-content: left;
    margin-left: 34px;
  }
}
