/*=======================*\
    OPÇÕES
\*=======================*/

.opcoes {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  width: calc(100% - 60px);
  padding: 50px 0 30px 0;
}

.opcoes .button {
  width: 100%;
}

.opcoes .button button {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.opcoes .button button div {
  margin-left: auto;
}

.opcoes .button button {
  font-family: 'Medium';
  font-size: 1.2rem;
  width: 100%;
  padding: 20px 30px;
  transition: all 0.2s;
  border-radius: 100px;
}

.opcoes .button button {
  color: var(--color-gray-dark);
  border: 2px solid var(--color-white);
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.opcoes .button button:hover {
  color: var(--color-cyan);
  border: 2px solid var(--color-cyan);
  background-color: var(--color-white);
}

.opcoes .button:nth-child(1) {
  width: 100%;
  margin-right: 20px;
}

.opcoes .button:nth-child(2) {
  width: 100%;
  margin-right: 20px;
}

.opcoes .button:nth-child(3) {
  width: 100%;
  margin-right: 20px;
}

.opcoes .button:nth-child(4) {
  width: 60%;
}

.opcoes .button:nth-child(4) button:hover {
  color: var(--color-white-fixed);
  border: 1.5px solid var(--color-red);
  background-color: var(--color-red);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .opcoes {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 30px 0 30px 0;
  }
  .opcoes .button:nth-child(1) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .opcoes .button:nth-child(2) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .opcoes .button:nth-child(3) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .opcoes .button:nth-child(4) {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .opcoes .button button {
    font-size: 1.1rem;
    padding: 15px 20px;
  }
}
