/*=======================*\
    SOBRE
\*=======================*/

.sobre {
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  padding: 50px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.sobre .sobre__receber {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.sobre .sobre__receber div:nth-child(1) {
  padding-right: 30px;
}

.sobre .sobre__receber span {
  font-family: 'Medium';
  font-size: 1.5rem;
}

.sobre .sobre__receber .receber__comissao span {
  color: var(--color-pink);
}

.sobre .sobre__receber .receber__gorjeta span {
  color: var(--color-orange);
}

.sobre .sobre__receber p {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

/*=======================*\
    MODO NOTURNO
\*=======================*/

.sobre .sobre__noturno {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding-left: 30px;
}

.sobre .sobre__noturno h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: var(--color-gray-dark);
}

.sobre .sobre__noturno p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-bottom: 20px;
  color: var(--color-gray);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .sobre {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 50px 30px;
    border-radius: 15px;
  }
  .sobre .sobre__receber {
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .sobre .sobre__noturno {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  .sobre .sobre__noturno .noturno__title {
    max-width: 400px;
    padding-top: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .sobre .sobre__receber {
    flex-direction: column;
  }
  .sobre .sobre__receber div:nth-child(1) {
    padding-right: 0;
    padding-bottom: 20px;
  }
}
