/*=======================*\
    comandas TOP
\*=======================*/

.comandas__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 60px);
  margin: 0 auto;
  margin-top: 40px;
  transition: ease all 0.2s;
  animation: fadeIn 0.2s;

  grid-gap: 30px;
}

/*=======================*\
    ADICIONAR
\*=======================*/

.comandas__top .adicionar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.comandas__top .adicionar button.adicionar__button {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.comandas__top .adicionar button.adicionar__button:hover {
  background-color: var(--color-cyan-dark);
}

.comandas__top .adicionar p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-bottom: 15px;
  color: var(--color-gray);
}



/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .comandas__top {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .comandas__top {
    width: calc(100% - 30px);
  }
  .comandas__top .adicionar button.adicionar__button {
    font-size: 1rem;
    padding: 15px 30px;
  }
  .comandas__top .adicionar {
    padding: 50px 30px;
  }
}
