/*=======================*\
    LISTA SELECTOS
\*=======================*/

#modal_faturar_comanda .modal__content .modal__body .list__selectos__pagamentos,
#modal_faturar_comanda .modal__content .modal__body .list__selectos__gorjetas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 80px;
}

#modal_faturar_comanda .modal__content .modal__body .list__selectos__pagamentos > .item,
#modal_faturar_comanda .modal__content .modal__body .list__selectos__gorjetas > .item {
  font-family: 'Medium';
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 15px;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  border-radius: 10px;
  background-color: var(--color-white);
}

#modal_faturar_comanda .modal__content .modal__body .list__selectos__pagamentos > .item:last-child,
#modal_faturar_comanda .modal__content .modal__body .list__selectos__gorjetas > .item:last-child {
  margin-bottom: 0;
}

#modal_faturar_comanda .modal__content .modal__body .list__selectos__pagamentos > .item > p,
#modal_faturar_comanda .modal__content .modal__body .list__selectos__gorjetas > .item > p {
  margin: 0;
}

#modal_faturar_comanda .modal__content .modal__body .list__selectos__pagamentos > .item > span,
#modal_faturar_comanda .modal__content .modal__body .list__selectos__gorjetas > .item > span {
  margin-left: 5px;
}

#modal_faturar_comanda .modal__content .modal__body .list__selectos__pagamentos > .item > .remove,
#modal_faturar_comanda .modal__content .modal__body .list__selectos__gorjetas > .item > .remove {
  font-size: 1.5rem;
  margin-left: auto;
  cursor: pointer;
  color: var(--color-red);
}
