/*=======================*\
    COMANDAS COMPONENTE
\*=======================*/

.comandas {
  display: flex;
  overflow-x: auto;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
  max-width: calc(100vw - 130px);
  min-height: 100vh;
  margin-top: 40px;
  margin-bottom: 80px;
}

.comandas {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.comandas {
  transform: rotateX(180deg);

  scrollbar-color: var(--color-gray) var(--color-gray-light);
  scrollbar-width: thin;
}

.comandas::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--color-gray);
}

.comandas::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: var(--color-gray-light);
}

.comandas::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.comandas *::selection {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.comandas.drag {
  cursor: grabbing;
}

/*=======================*\
    DIA
\*=======================*/

.comandas .comanda__dia {
  min-width: 230px;
  margin: 0 20px 20px 0;
  padding-top: 15px;
  transform: rotateX(180deg);
  text-align: center;
}

.comandas .comanda__dia .dia__header {
  font-family: 'Medium';
  font-size: 1.2rem;
  padding: 15px 10px;
  color: var(--color-gray);
  border-radius: 100px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.comandas .comanda__dia .dia__header.hoje {
  color: var(--color-cyan);
  border: 2px solid var(--color-cyan);
  background-color: var(--color-white);
}

.comandas .comanda__dia .dia__total {
  font-family: 'Medium';
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  padding: 15px 20px;
  color: var(--color-gray);
  border-radius: 12px;
  background-color: var(--color-white);
}

.comandas .comanda__dia .dia__total .numero__comandas {
  font-size: 0.6rem;
}

.comandas .comanda__dia .dia__total.fechado .valor__comandas {
  color: var(--color-green);
}

/*=======================*\
    ADD DIA
\*=======================*/

.comandas .comanda__dia .dia__body {
  margin-top: 20px;
  padding: 15px;
  transition: ease all 0.2s;
  border-radius: 12px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.comandas .comanda__dia .dia__body .dia__add {
  display: none;
}

/*=======================*\
    COMANDAS
\*=======================*/

.comandas .comanda__dia .dia__body .comanda {
  font-family: 'Medium';
  overflow-x: hidden;
  margin-top: 20px;
  padding: 15px;
  transition: all 0.2s;
  animation: fadeIn 0.4s;
  border: 2px solid var(--color-gray-light);
  border-radius: 12px;
  background-color: var(--color-white);
}

.comandas .comanda__dia .dia__body .comanda:nth-child(1) {
  margin-top: 0;
}

.comandas .comanda__dia .dia__body .comanda * {
  pointer-events: none;
}

.comandas .comanda__dia .dia__body .comanda:hover {
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid var(--color-cyan);
}

.comandas .comanda__dia .dia__body .comanda:hover .comanda__numero,
.comandas .comanda__dia .dia__body .comanda:hover .comanda__cliente,
.comandas .comanda__dia .dia__body .comanda:hover .comanda__total,
.comandas .comanda__dia .dia__body .comanda:hover .comanda__cliente::before,
.comandas .comanda__dia .dia__body .comanda:hover .comanda__total::before {
  color: var(--color-cyan);
}

.comandas .comanda__dia .dia__body .comanda .comanda__numero {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  padding: 10px;
  transition: all 0.2s;
  color: var(--color-gray);
  border-radius: 10px;
  background-color: var(--color-gray-extra-light);
}

.comandas .comanda__dia .dia__body .comanda .comanda__cliente,
.comandas .comanda__dia .dia__body .comanda .comanda__total {
  font-family: 'Medium';
  font-size: 1.2rem;
  overflow: hidden;
  color: var(--color-gray-dark);
}

.comandas .comanda__dia .dia__body .comanda .comanda__total {
  margin-bottom: 15px;
}

.comandas .comanda__dia .dia__body .comanda .comanda__cliente {
  margin-bottom: 10px;
}

.comandas .comanda__dia .dia__body .comanda .comanda__cliente::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: block;
  content: 'Cliente';
  color: var(--color-gray);
}

.comandas .comanda__dia .dia__body .comanda .comanda__total::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: block;
  content: 'Total da Comanda';
  color: var(--color-gray);
}

/*=======================*\
    TAGS
\*=======================*/

.comandas .comanda__dia .dia__body .comanda .comanda__situacao {
  font-family: 'Medium';
  font-size: 0.8rem;
  display: inline;
  padding: 4px 13px;
  color: var(--color-white-fixed);
  border-radius: 100px;
}

.comandas .comanda__dia .dia__body .comanda .comanda__situacao.orange {
  background-color: var(--color-orange);
}

.comandas .comanda__dia .dia__body .comanda .comanda__situacao.green {
  background-color: var(--color-green);
}

.comandas .comanda__dia .dia__body .comanda .comanda__situacao.red {
  background-color: var(--color-red);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .comandas {
    max-width: calc(100vw - 66px);
  }
}

@media screen and (max-width: 600px) {
  .comandas {
    max-width: calc(100vw - 35px);
  }
  .comandas .comanda__dia .dia__header {
    font-size: 1rem;
    padding: 10px 5px;
  }
  .comandas .comanda__dia .dia__body .comanda .comanda__cliente,
  .comandas .comanda__dia .dia__body .comanda .comanda__total {
    font-size: 1rem;
  }
  .comandas .comanda__dia .dia__body .comanda .comanda__cliente::before {
    font-size: 0.8rem;
  }
  .comandas .comanda__dia .dia__body .comanda .comanda__total::before {
    font-size: 0.8rem;
  }
  .comandas .comanda__dia {
    min-width: 220px;
  }
  .comandas .comanda__dia .dia__body .comanda .comanda__situacao {
    font-size: 0.7rem;
  }
  .comandas .comanda__dia .dia__body .comanda .comanda__numero {
    font-size: 1rem;
    padding: 10px;
  }
  .comandas .comanda__dia {
    min-width: 200px;
    margin: 0 20px 20px 0;
  }
  .comandas .comanda__dia .dia__body {
    margin-top: 15px;
    padding: 10px;
  }
}
