/*=======================*\
    MODAL
\*=======================*/

#modal_adicionar_comanda .modal__content .text__servicos,
#modal_adicionar_comanda .modal__content .text__produtos,
#modal_editar_comanda .modal__content .text__servicos,
#modal_editar_comanda .modal__content .text__produtos,
#modal_faturar_comanda .modal__content .text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#modal_adicionar_comanda .modal__content .text__servicos,
#modal_editar_comanda .modal__content .text__servicos {
  padding-top: 70px;
}

#modal_adicionar_comanda .modal__content .text__produtos,
#modal_editar_comanda .modal__content .text__produtos {
  padding-top: 80px;
}

#modal_adicionar_comanda .modal__content .text__servicos p,
#modal_adicionar_comanda .modal__content .text__produtos p,
#modal_editar_comanda .modal__content .text__servicos p,
#modal_editar_comanda .modal__content .text__produtos p,
#modal_faturar_comanda .modal__content .text p {
  font-family: 'Medium';
  font-size: 1.1rem;
  max-width: 280px;
  color: var(--color-gray);
}

/*=======================*\
    TOTAIS
\*=======================*/

#modal_adicionar_comanda .modal__content .totais,
#modal_editar_comanda .modal__content .totais {
  padding-top: 80px;
}

#modal_adicionar_comanda .modal__content .totais p,
#modal_editar_comanda .modal__content .totais p,
#modal_faturar_comanda .modal__content .total p {
  font-family: 'Medium';
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--color-gray);
}

#modal_adicionar_comanda .modal__content .totais p span,
#modal_editar_comanda .modal__content .totais p span {
  color: var(--color-cyan);
}

#modal_faturar_comanda .modal__content .total p span {
  color: var(--color-red);
}

/*=======================*\
    BUTTONS
\*=======================*/

#modal_adicionar_comanda .modal__content .botao button#adicionar__produto,
#modal_adicionar_comanda .modal__content .botao button#adicionar__servico,
#modal_editar_comanda .modal__content .botao button#adicionar__produto,
#modal_editar_comanda .modal__content .botao button#adicionar__servico,
#modal_faturar_comanda .modal__content .botao button#adicionar__pagamento,
#modal_faturar_comanda .modal__content .botao button#adicionar__gorjeta {
  font-family: 'Medium';
  font-size: 1.1rem;
  justify-content: center;
  padding: 7px 20px;
  color: var(--color-cyan);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
  box-shadow: 0 1px 1px #557CF266;
}

#modal_adicionar_comanda .modal__content .botao button#adicionar__produto:hover,
#modal_adicionar_comanda .modal__content .botao button#adicionar__servico:hover,
#modal_editar_comanda .modal__content .botao button#adicionar__produto:hover,
#modal_editar_comanda .modal__content .botao button#adicionar__servico:hover,
#modal_faturar_comanda .modal__content .botao button#adicionar__pagamento:hover,
#modal_faturar_comanda .modal__content .botao button#adicionar__gorjeta:hover {
  color: var(--color-white-fixed);
  background-color: var(--color-cyan);
}

/*=======================*\
    VISUALIZAR
\*=======================*/

#modal_visualizar_comanda .modal__content #servicos .content,
#modal_visualizar_comanda .modal__content #produtos .content,
#modal_visualizar_comanda .modal__content #pagamentos .content,
#modal_visualizar_comanda .modal__content #gorjetas .content {
  display: grid;

  grid-template-columns: 1fr;
}
