/*=======================*\
    MODAL OPÇÕES
\*=======================*/

.modal {
  animation-name: modalEffect;
  animation-duration: 0s;
}

#modal_opcoes_comanda .content__body {
  display: flex;
  flex-direction: column;
}

/*=======================*\
    CONTENT
\*=======================*/

#modal_opcoes_comanda .content__body .content__comanda {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#modal_opcoes_comanda .content__body .content__comanda .comanda {
  font-family: 'Medium';
  overflow-x: hidden;
  margin-top: 20px;
  padding: 15px;
  transition: all 0.2s;
  animation: fadeIn 0.4s;
  border: 2px solid var(--color-gray-light);
  border-radius: 12px;
  background-color: var(--color-white);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__numero {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  padding: 10px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border-radius: 10px;
  background-color: var(--color-gray-extra-light);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__cliente,
#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__total {
  font-family: 'Medium';
  font-size: 1.2rem;
  overflow: hidden;
  color: var(--color-gray-dark);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__total {
  margin-bottom: 15px;
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__cliente {
  margin-bottom: 10px;
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__cliente::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: block;
  content: 'Cliente';
  color: var(--color-gray);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__total::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: block;
  content: 'Total da Comanda';
  color: var(--color-gray);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__status {
  font-family: 'Medium';
  font-size: 0.8rem;
  display: inline;
  padding: 4px 13px;
  color: var(--color-white-fixed);
  border-radius: 100px;
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__status.orange {
  background-color: var(--color-orange);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__status.green {
  background-color: var(--color-green);
}

#modal_opcoes_comanda .content__body .content__comanda .comanda .comanda__status.red {
  background-color: var(--color-red);
}

/*=======================*\
    OPÇÕES
\*=======================*/

#modal_opcoes_comanda .content__body .content__opcoes {
  display: grid;

  grid-gap: 20px;
  grid-template-columns: 1fr;
}

#modal_opcoes_comanda .content__body .content__opcoes div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid var(--color-white);
  border-radius: 100px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

#modal_opcoes_comanda .content__body .content__opcoes div:hover {
  border: 2px solid var(--color-cyan);
  background-color: var(--color-white);
}

#modal_opcoes_comanda .content__body .content__opcoes div:nth-child(4):hover {
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
}

#modal_opcoes_comanda .content__body .content__opcoes div:hover i,
#modal_opcoes_comanda .content__body .content__opcoes div:hover span {
  color: var(--color-cyan);
}

#modal_opcoes_comanda .content__body .content__opcoes div:nth-child(4):hover i,
#modal_opcoes_comanda .content__body .content__opcoes div:nth-child(4):hover span {
  color: var(--color-white-fixed);
}

#modal_opcoes_comanda .content__body .content__opcoes div i {
  font-size: 1.2rem;
  margin-right: 7px;
  transition: all 0.2s;
  color: var(--color-gray);
}

#modal_opcoes_comanda .content__body .content__opcoes div span {
  font-family: 'Medium';
  font-size: 1.2rem;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  #modal_opcoes_comanda .content__body .content__opcoes {
    display: grid;

    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  #modal_opcoes_comanda .content__body .content__opcoes div span {
    font-size: 1.1rem;
  }
}
