/*=======================*\
    SELECTO COMMON
\*=======================*/

.modal .alert__empty p {
  font-family: 'Medium';
  font-size: 1rem;
  padding-top: 30px;
  padding-bottom: 15px;
  color: var(--color-gray);
}

.modal .alert__empty button {
  font-family: 'Medium';
  font-size: 1.1rem;
  justify-content: center;
  margin-bottom: 30px;
  padding: 7px 20px;
  color: var(--color-cyan);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
  box-shadow: 0 1px 1px #557CF266;
}

.modal .alert__empty button:hover {
  color: var(--color-white-fixed);
  background-color: var(--color-cyan);
}

/*=======================*\
    DROPDOWN
\*=======================*/

#modal_faturar_comanda .pagamentos__forma .selecto__common .dropdown .dropdown__busca,
#modal_faturar_comanda .gorjetas__funcionario .selecto__common .dropdown .dropdown__busca,
#modal_adicionar_comanda .agrupador__funcionario .selecto__common .dropdown .dropdown__busca {
  display: none;
}

#modal_faturar_comanda .pagamentos__forma .selecto__common .dropdown,
#modal_faturar_comanda .gorjetas__funcionario .selecto__common .dropdown,
#modal_adicionar_comanda .agrupador__funcionario .selecto__common .dropdown {
  padding-top: 30px;
}
