<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Gorjetas - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../../site.webmanifest">

  <!-- CSS -->
  <link href="../../static/css/gorjetas.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- TOP -->
    <section class="top">
      <div class="top__title">
        <h2>Gorjetas</h2>
        <p>dos funcionários</p>
      </div>
      <div class="date__selector"></div>
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- OPÇÕES FINANCEIRO -->
    <section class="financeiro__opcoes">
      <a href="/app/financeiro/receitas" class="opcoes__receitas">
        <span>Receitas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/despesas" class="opcoes__despesas">
        <span>Despesas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/comissoes" class="opcoes__comissoes">
        <span>Comissões</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro" class="opcoes__resumo">
        <span>Ir para resumo</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
    </section>

    <!-- GORJETAS PRINCIPAL -->
    <section class="financeiro__info">

      <!-- GORJETAS TOTAIS QUADRO -->
      <div class="info__complemento">

        <div class="complemento__gorjetas">
          <div class="title">
            <h2>Total em Gorjetas</h2>
          </div>
          <div class="valor">
            <p>Essas são as gorjetas pagas até o momento</p>
            <span id="gorjeta__mes">R$ 0,00</span>
          </div>
        </div>

      </div>

      <!-- GORJETAS TOTAIS FUNCIONÁRIOS -->
      <div class="info__content">

        <!-- FUNCIONÁRIOS GORJETAS -->
        <div class="content__funcionarios"></div>

      </div>

    </section>

    <!-- LISTA -->
    <section class="lista" id="lista__gorjetas"></section>

  </main>

  <!-- MODAL VISUALIZAR -->
  {{> modal-visualizar}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../../static/js/pages/gorjetas.js?v={{versao.js}}"></script>

</body>

</html>
