/*=======================*\
    COLLAPSIBLE
\*=======================*/

.collapsible {
  transition: all 0.2s;
}

/*=======================*\
    TITLE
\*=======================*/

.collapsible .title * {
  pointer-events: none;
}

.collapsible .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: ease all 0.2s;
}

.collapsible .title > p {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin-right: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: var(--color-gray);
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.collapsible .title:before {
  font-family: 'GB_Icons';
  font-size: 1.5rem;
  margin-right: 10px;
  content: '\e92b';
  transition: all 0.2s;
  color: var(--color-gray);
}

.collapsible.active .title:before {
  content: '\e929';
  color: var(--color-cyan);
}

/*=======================*\
    CONTEÚDO
\*=======================*/

.collapsible .content {
  display: grid;
  overflow: hidden;
  align-items: center;
  max-height: 0;
  margin-bottom: 20px;
  padding: 0;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
  background-color: var(--color-white);

  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.collapsible.active .content {
  max-height: 9999px;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
}

.collapsible:last-child .content {
  margin-bottom: 0;
}

.collapsible .content > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.collapsible .content > div > p {
  font-family: 'Medium';
  margin-top: 0;
  margin-bottom: 3px;
  color: var(--color-gray);

  margIn-right: auto;
}

.collapsible .content > div > span {
  font-family: 'Medium';
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  text-align: left;
  color: var(--color-cyan);
}

.collapsible .content > div > span > span {
  margin-bottom: 5px;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .collapsible .content {
    display: flex;
    flex-direction: column;
  }
  .collapsible .content > div > p {
    margin-top: 20px;
  }
}
