/*=======================*\
    DATEPICKER
\*=======================*/

.datepicker {
  font-family: 'Medium';
  position: relative;
}

/*=======================*\
    INPUT
\*=======================*/

.datepicker input {
  cursor: pointer;
  transition: all 0.2s;
}

/*=======================*\
    CALENDÁRIO
\*=======================*/

.datepicker .datepicker__calendar {
  position: absolute;
  z-index: 2;
  top: 61.5px;
  left: 0;
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  background-color: var(--color-white);
  box-shadow: 0 17px 38px -16px #00000040;
}

.datepicker .datepicker__calendar.show {
  display: block;
}

/*=======================*\
    CONTROLES
\*=======================*/

.datepicker .datepicker__calendar .calendar__controls {
  font-family: 'Medium';
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.datepicker .datepicker__calendar .calendar__controls .calendar__controls__previous,
.datepicker .datepicker__calendar .calendar__controls .calendar__controls__next {
  padding: 5px;
  cursor: pointer;
}

.datepicker .datepicker__calendar .calendar__controls .calendar__controls__previous *,
.datepicker .datepicker__calendar .calendar__controls .calendar__controls__next * {
  pointer-events: none;
}

/*=======================*\
    MÊS E ANO
\*=======================*/

.datepicker .datepicker__calendar .calendar__controls {
  padding-top: 10px;
}

.datepicker .datepicker__calendar .calendar__controls .calendar__controls__date span {
  font-family: 'Medium';
  font-size: 1.1rem;
  color: var(--color-gray-dark);
}

.datepicker .datepicker__calendar .calendar__controls .calendar__controls__previous i,
.datepicker .datepicker__calendar .calendar__controls .calendar__controls__next i {
  font-size: 1rem;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

.datepicker .datepicker__calendar .calendar__controls .calendar__controls__previous:hover i,
.datepicker .datepicker__calendar .calendar__controls .calendar__controls__next:hover i {
  font-size: 1rem;
  color: var(--color-cyan);
}

/*=======================*\
    DIAS DA SEMANA
\*=======================*/

.datepicker .datepicker__calendar .calendar__weekdays {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 5px;
}

.datepicker .datepicker__calendar .calendar__weekdays span {
  font-family: 'Medium';
  font-size: 1rem;
  width: calc(100% / 7);
  text-align: center;
  color: var(--color-cyan);
}

/*=======================*\
    DIAS
\*=======================*/

.datepicker .datepicker__calendar .calendar__days {
  display: flex;
  align-items: center;
  flex-basis: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.datepicker .datepicker__calendar .calendar__days span {
  font-family: 'Medium';
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  height: 30px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

.datepicker .datepicker__calendar .calendar__days span:hover {
  color: var(--color-cyan);
  border-radius: 100px;
  background-color: var(--color-cyan-extra-light);
}

/*=======================*\
    DIAS NONE
\*=======================*/

.datepicker .datepicker__calendar .calendar__days span.none {
  cursor: default;
  pointer-events: none;
  background-color: var(--color-white);
}

/*=======================*\
    DIA HOJE
\*=======================*/

.datepicker .datepicker__calendar .calendar__days span.today,
.datepicker .datepicker__calendar .calendar__days span.today:hover {
  color: var(--color-white-fixed);
  border-radius: 100px;
  background-color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .datepicker input {
    font-size: 1rem;
    padding: 18px 15px;
  }
}
