/*=======================*\
    DATE SELECTOR
\*=======================*/

.date__selector {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 13px 15px;
  border: 2px solid var(--color-gray-light);
  border-radius: 100px;
  background-color: var(--color-white);
}

.date__selector {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

/*=======================*\
    DATA
\*=======================*/

.date__selector .data {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  animation: fadeIn 0.3s;
  background-color: var(--color-white);
}

.date__selector .data p.data__mes {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin-bottom: 0;
  color: var(--color-gray-dark);
}

.date__selector .data p.data__ano {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin-left: 5px;
  color: var(--color-gray);
}

/*=======================*\
    SETA VOLTAR
\*=======================*/

.date__selector .seta__voltar {
  margin-right: auto;
  cursor: pointer;
}

.date__selector .seta__voltar * {
  pointer-events: none;
  background-color: var(--color-white);
}

.date__selector .seta__voltar .voltar {
  font-size: 1.2rem;
  transition: all 0.2s;
  color: var(--color-gray);
}

.date__selector .seta__voltar:hover .voltar {
  color: var(--color-cyan);
}

/*=======================*\
    SETA AVANÇAR
\*=======================*/

.date__selector .seta__avancar {
  margin-left: auto;
  cursor: pointer;
}

.date__selector .seta__avancar * {
  pointer-events: none;
  background-color: var(--color-white);
}

.date__selector .seta__avancar .avancar {
  font-size: 1.2rem;
  transition: all 0.2s;
  color: var(--color-gray);
}

.date__selector .seta__avancar:hover .avancar {
  color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 900px) {
  div.date__selector {
    padding: 10px 10px;
  }
  div.date__selector div.seta__voltar button.voltar {
    font-size: 1rem;
  }
  div.date__selector div.seta__avancar button.avancar {
    font-size: 1rem;
  }
  div.date__selector div.data p.data__mes {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  div.date__selector div.data p.data__ano {
    font-size: 1.2rem;
    margin-top: 0;
  }
}
