/*=======================*\
    LISTA
\*=======================*/

.lista {
  width: 100%;
  max-width: calc(100% - 60px);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 30px;
  transition: ease all 0.2s;
  animation: fadeIn 0.2s;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

/*=======================*\
    CLIENTES
\*=======================*/

.lista ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: ease all 0.2s;
  animation: fadeIn 0.2s;
}

.lista ul li {
  display: grid;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s;
  animation: fadeIn 0.2s;

  grid-template-columns: 1fr 1fr;
}
.lista ul:empty:before {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.lista ul:empty:not(:focus):before {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li:nth-child(odd) {
  border-radius: 10px;
  background-color: var(--color-gray-extra-light);
}

.lista ul li div.lista__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
}

.lista ul li div.lista__dados {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/*=======================*\
    ICONE
\*=======================*/

.lista ul li div.lista__avatar {
  margin-right: 10px;
}

.lista ul li div.lista__avatar i {
  font-size: 2.5rem;
  transition: all 0.2s;
  color: var(--color-gray-light);
}

.lista ul li.active div.lista__avatar i {
  color: var(--color-cyan);
}

/*=======================*\
    OPÇÕES ABRIR
\*=======================*/

.lista ul li div.lista__abrir__opcoes {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.lista ul li div.lista__abrir__opcoes i {
  font-size: 1.3rem;
  transition: all 0.2s;
  color: var(--color-gray);
  border-radius: 100%;
}

.lista ul li:hover div.lista__abrir__opcoes i {
  color: var(--color-cyan);
}

.lista ul li.active div.lista__abrir__opcoes i {
  color: var(--color-gray-dark);
}


/*=======================*\
    PAGINAÇÃO
\*=======================*/

.lista .lista__paginacao {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-touch-callout: none;
}

.lista .lista__paginacao > span {
  font-family: 'Medium';
  font-size: 1rem;
  line-height: normal;
  margin: 0;
  margin-left: 8px;
  padding: 8px 8px 5px 8px;
  cursor: pointer;
  transition: ease 0.2s all;
  color: var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-white);
}

.lista .lista__paginacao > span:last-child {
  margin-right: 0;
}

.lista .lista__paginacao span:hover {
  border-radius: 5px;
  background-color: var(--color-gray-extra-light);
}

.lista .lista__paginacao span.lista__paginacao__atual {
  color: var(--color-white-fixed);
  border-radius: 5px;
  background-color: var(--color-cyan);
}

.lista .lista__paginacao span.lista__paginacao__divisor {
  padding: 0;
  cursor: auto;
  color: var(--color-gray);
  border: none;
  background-color: var(--color-white);
}

/*=======================*\
    OPÇÕES ABERTO
\*=======================*/

.lista ul li span .lista__opcoes.show {
  display: flex;
}

.lista ul li {
  position: relative;
}

.lista ul li span .lista__opcoes {
  font-family: 'Medium';
  position: absolute;
  z-index: 2;
  top: 60px;
  right: -3px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: auto;
  padding: 20px 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: ease 0.2s all;
  animation: fadeIn 0.2s;
  pointer-events: auto;
  color: var(--color-gray);
  border-radius: 12px;
  outline: none;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);

   -khtml-user-select: none;
  -webkit-touch-callout: none;
}

.lista ul li span .lista__opcoes div:not(:last-child) {
  margin-bottom: 10px;
}

.lista ul li span .lista__opcoes div {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  pointer-events: auto;
}

.lista ul li span .lista__opcoes div * {
  transition: ease all 0.2s;
  pointer-events: none;
}

.lista ul li span .lista__opcoes div i {
  font-size: 1.4rem;
  margin-right: 7px;
  color: var(--color-gray);
}

.lista ul li span .lista__opcoes div span {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin: 0;
  color: var(--color-gray);
}

.lista ul li span .lista__opcoes div:hover span {
  color: var(--color-cyan);
}

.lista ul li span .lista__opcoes div:hover i {
  color: var(--color-cyan);
}

.lista ul li span .lista__opcoes div:last-child i,
.lista ul li span .lista__opcoes div:last-child span {
  color: var(--color-red);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .lista {
    max-width: calc(100% - 30px);
    margin-bottom: 150px;
    padding: 20px;
  }
  .lista ul li div.lista__abrir__opcoes {
    display: none;
  }
  .lista .lista__titulo {
    display: none;
  }
  .lista ul li {
    display: flex;
    flex-direction: column;
  }
  .lista ul li div.lista__avatar i {
    font-size: 2rem;
  }
  .lista ul li span .lista__opcoes {
    top: 70px;
    right: 10px;
    width: 200px;
  }
  .lista .lista__paginacao > span {
    font-size: 0.7rem;
    margin: 0;
    margin-left: 5px;
    padding: 8px 8px 5px 8px;
  }
}

@media screen and (max-width: 600px) {
  .lista ul li span .lista__opcoes div i {
    font-size: 1.3rem;
  }
  .lista ul li span .lista__opcoes div:not(:last-child) {
    margin-bottom: 10px;
  }
  .lista ul li span .lista__opcoes div span {
    font-size: 1rem;
  }
  .lista ul li div.lista__avatar i {
    font-size: 1.5rem;
  }
}
