/*=======================*\
    MESSAGEBOX
\*=======================*/

messagebox {
  position: fixed;
  z-index: 4;
  right: 15px;
  bottom: 15px;
  display: flex;
  visibility: hidden;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: max-content;
  height: auto;
  min-height: 1em;
  padding: 20px 50px 20px 20px;
  border-top: 1.5px solid var(--color-gray-light);
  border-right: 1.5px solid var(--color-gray-light);
  border-bottom: 1.5px solid var(--color-gray-light);
  border-left: 1.5px solid var(--color-gray-light);
  border-radius: 10px;
  background-color: var(--color-white);
}

messagebox * {
  pointer-events: none;
}

/*=======================*\
    ICON
\*=======================*/

messagebox div.icon {
  padding-right: 15px;
}

messagebox#message__error div.icon i {
  font-size: 1.5rem;
  padding: 20px;
  color: var(--color-white-fixed);
  border-radius: 100px;
  background-color: var(--color-red);
}

messagebox#message__success div.icon i {
  font-size: 1.5rem;
  padding: 20px;
  color: var(--color-white-fixed);
  border-radius: 100px;
  background-color: var(--color-green);
}

messagebox#message__info div.icon i {
  font-size: 1.5rem;
  padding: 20px;
  color: var(--color-white-fixed);
  border-radius: 100px;
  background-color: var(--color-cyan);
}

/*=======================*\
    TEXTO
\*=======================*/

messagebox div.text h2 {
  font-family: 'Medium';
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: var(--color-gray-extra-dark);
}

messagebox div.text p {
  font-family: 'Medium';
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color: var(--color-gray-dark);
}

/*=======================*\
    MESSAGEBOX ABERTO
\*=======================*/

messagebox.show {
  visibility: visible;
  animation: fadeIn 0.4s, fadeOut 0.5s 4.5s;
}

/*=======================*\
    EFEITOS
\*=======================*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  messagebox {
    right: 0;
    bottom: 48.5px;
    width: 100%;
    max-width: 100%;
    padding: 15px 10px 15px 10px;
    border-top: 1.5px solid var(--color-gray-light);
    border-right: 0 solid var(--color-gray-light);
    border-bottom: 0 solid var(--color-gray-light);
    border-left: 0 solid var(--color-gray-light);
    border-radius: 0;
  }
  messagebox div.text h2 {
    font-family: 'Medium';
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    color: var(--color-gray-extra-dark);
  }
  messagebox div.text p {
    font-family: 'Medium';
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    color: var(--color-gray-dark);
  }
  messagebox div.icon {
    padding-right: 25px;
  }
  messagebox#message__success div.icon i,
  messagebox#message__error div.icon i,
  messagebox#message__info div.icon i {
    font-size: 1.2rem;
    padding: 15px;
  }
}
