/*=======================*\
    MODAL
\*=======================*/

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  display: none;
  overflow: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  animation-name: modalEffect;
  animation-duration: 0.2s;
  background-color: var(--color-white);
}

.modal .modal__content {
  position: absolute;
  top: 50px;
  width: 100%;
  max-width: 500px;
  padding: 0 20px 100px 20px;
  text-align: center;
}

.modal .modal__content.modal__video {
  max-width: 800px;
}

/*=======================*\
    FECHAR MODAL
\*=======================*/

.modal .modal__content .modal__close {
  margin-bottom: 40px;
}

.modal .modal__content .modal__close i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-red);
}

.modal .modal__content .modal__close:hover {
  color: var(--color-red-dark);
}

/*=======================*\
    TÍTULO
\*=======================*/

.modal .modal__content .modal__header {
  margin-bottom: 20px;
}

.modal .modal__content .modal__header h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--color-gray-dark);
}

.modal .modal__content .modal__header p {
  font-family: 'Medium';
  font-size: 1.1rem;
  line-height: 30px;
  margin: 0;
  color: var(--color-gray);
}

/*=======================*\
    BOTÃO
\*=======================*/

.modal .modal__content .modal__button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.modal .modal__content .modal__button button {
  font-family: 'Medium';
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.modal .modal__content .modal__button button:hover {
  cursor: pointer;
  color: var(--color-white-fixed);
  background-color: var(--color-cyan-dark);
}

/*=======================*\
    BOTÃO SIM NÃO
\*=======================*/

.modal .modal__content .modal__button button.sim,
.modal .modal__content .modal__button button.nao {
  font-family: 'Medium';
  font-size: 1.5rem;
  margin: 20px 10px 0 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 100px;
  outline: none;
}

.modal .modal__content .modal__button button.sim {
  color: var(--color-red);
  border: 1.5px solid var(--color-red);
  background-color: var(--color-white);
}

.modal .modal__content .modal__button button.nao {
  color: var(--color-cyan);
  border: 1.5px solid var(--color-cyan);
  background-color: var(--color-white);
}

.modal .modal__content .modal__button button.sim:hover {
  color: var(--color-white-fixed);
  border: 1.5px solid var(--color-red);
  background-color: var(--color-red);
}

.modal .modal__content .modal__button button.nao:hover {
  color: var(--color-white-fixed);
  border: 1.5px solid var(--color-cyan);
  background-color: var(--color-cyan);
}

/*=======================*\
    SCROLL BAR
\*=======================*/

.modal::-webkit-scrollbar-track {
  display: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal::-webkit-scrollbar-thumb {
  display: none;
}

/*=======================*\
    ANIMAÇÕES
\*=======================*/

@keyframes modalEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .modal .modal__content {
    top: 50px;
  }
  .modal .modal__content .modal__header {
    margin-bottom: 0;
  }
  .modal .modal__content .modal__header h2 {
    font-size: 1.3rem;
    line-height: 32px;
  }
  .modal .modal__content .modal__header p {
    font-family: 'Medium';
    font-size: 1rem;
    line-height: 25px;
    padding-bottom: 20px;
  }
  .modal .modal__content .modal__button {
    display: flex;
  }
  .modal .modal__content .modal__button button.sim,
  .modal .modal__content .modal__button button.nao {
    font-size: 1.1rem;
    padding: 10px 40px;
  }
  .modal .modal__content .modal__button button {
    font-size: 1.1rem;
    padding: 15px 30px;
  }
}
