/*=======================*\
    PESQUISA TOPO
\*=======================*/

.top__pesquisa {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  border: 2px solid var(--color-gray-light);
  border-radius: 50px;
  background-color: var(--color-white);
}

.top__pesquisa form {
  width: 100%;
}

.top__pesquisa input {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin-bottom: 0;
  color: var(--color-cyan);
  border: none;
  background-color: transparent;
}

.top__pesquisa input:focus {
  border: none;
}

.top__pesquisa input::placeholder {
  font-family: 'Medium';
  font-size: 1.3rem;
  color: var(--color-gray);
}

.top__pesquisa input:-webkit-autofill,
.top__pesquisa input:-webkit-autofill:hover,
.top__pesquisa input:-webkit-autofill:focus,
.top__pesquisa input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
          box-shadow: 0 0 0 30px transparent inset !important;
}

.top__pesquisa i {
  font-size: 1.2rem;
  margin-right: 15px;
  color: var(--color-gray-light);
}

/*=======================*\
    INPUT PESQUISA
\*=======================*/

input[type=search] {
  padding: 10px 0;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .top__pesquisa i {
    font-size: 1.3rem;
    margin-right: 10px;
  }
  .top__pesquisa {
    padding: 8px 20px;
  }
  .top__pesquisa input {
    font-size: 1.1rem;
  }
  .top__pesquisa input::placeholder {
    font-size: 1.1rem;
  }
}
