/*=======================*\
    TOP
\*=======================*/

.top {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  transition: ease all 0.2s;
  animation: fadeIn 0.2s;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);

  grid-gap: 30px;
  grid-template-columns: 1fr 2fr 1fr;
}

/*=======================*\
    TÍTULO
\*=======================*/

.top .top__title {
  text-align: left;
}

.top .top__title h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--color-gray-dark);
}

.top .top__title p {
  font-family: 'Medium';
  font-size: 1.2rem;
  line-height: 20px;
  color: var(--color-gray);
}

/*=======================*\
    OPÇÕES
\*=======================*/

.top .top__options {
  text-align: right;
}

.top .top__options a[name='notificacoes'].active i {
  position: relative;
}

.top .top__options a[name='notificacoes'].active i:after {
  position: absolute;
  top: -3px;
  right: -3px;
  padding: 5px;
  content: '';
  border-radius: 50%;
  background-color: var(--color-red);
}

.top .top__options a {
  font-size: 2.5rem;
  margin-left: 20px;
  transition: all 0.2s;
  color: var(--color-cyan);
}

.top .top__options a:hover {
  color: var(--color-cyan-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .top {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
  }
  .top .top__title {
    margin-bottom: 15px;
    text-align: center;
  }
  .top .top__options {
    display: none;
  }
}
