/*=======================*\
    SELECTO MULTIPLE
\*=======================*/

.selecto__multiple {
  font-family: 'Medium';
  font-size: 1rem;
  line-height: normal;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  transition: all 0.2s;
  color: var(--color-cyan);
  border: 2px solid var(--color-gray-light);
  border-radius: 10px;
  outline: none;
  background-color: var(--color-white);
}

.selecto__multiple:hover {
  border: 2px solid var(--color-cyan);
}

.selecto__multiple[disabled='true'] {
  cursor: unset;
  pointer-events: none;
}

.selecto__multiple.hidden {
  display: none;
}

.selecto__multiple:after {
  font-family: 'GB_Icons';
  font-size: 1rem;
  position: absolute;
  top: 35%;
  right: 20px;
  content: '\e929';
  color: var(--color-gray);
}

/*=======================*\
    SELEÇÃO
\*=======================*/

.selecto__multiple {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

   -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/*=======================*\
    SCROLLBAR
\*=======================*/

.selecto__multiple .dropdown::-webkit-scrollbar-track {
  display: none;
}

.selecto__multiple .dropdown::-webkit-scrollbar {
  display: none;
}

.selecto__multiple .dropdown::-webkit-scrollbar-thumb {
  display: none;
}

/*=======================*\
    SELECTED
\*=======================*/

.selecto__multiple .selected {
  font-family: 'Medium';
  display: flex;
  flex-wrap: wrap;
  margin-left: 0 auto;
  pointer-events: none;
  color: var(--color-cyan);
}

.selecto__multiple .selected > span {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  animation: fadeIn 0.2s;
  border-radius: 100px;
  background-color: var(--color-cyan-extra-light);
}

.selecto__multiple .selected:empty:not(:focus):before {
  font-family: 'Medium';
  font-weight: normal;
  display: flex;
  margin-left: 0 auto;
  content: 'Funcionário';
  color: var(--color-gray);
}

/*=======================*\
    DROPDOWN
\*=======================*/

.selecto__multiple .dropdown {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
  padding: 20px 0;
  background-color: var(--color-white);
  box-shadow: 0 17px 38px -16px #00000040;
}

.selecto__multiple .dropdown.show {
  display: flex;
}

/*=======================*\
    BUSCA
\*=======================*/

.selecto__multiple .dropdown .dropdown__busca {
  padding: 20px;
}

.selecto__multiple .dropdown .dropdown__busca input {
  font-size: 1rem;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 10px 20px;
  color: var(--color-cyan);
  border: none;
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
}

.selecto__multiple .dropdown .dropdown__busca input::placeholder {
  color: var(--color-gray);
}

.selecto__multiple .dropdown .dropdown__busca input:focus {
  outline: 0;
}

/*=======================*\
    OPÇÕES
\*=======================*/

.selecto__multiple .dropdown .dropdown__opcoes option {
  font-family: 'Medium';
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
  color: var(--color-gray);
}

.selecto__multiple .dropdown .dropdown__opcoes option:hover {
  color: var(--color-cyan);
}

.selecto__multiple .dropdown .dropdown__opcoes option.checked {
  color: var(--color-green);
}

.selecto__multiple .dropdown .dropdown__opcoes option.checked::before {
  font-family: 'GB_Icons';
  margin-right: 5px;
  content: '\e914';
  color: var(--color-green);
}

.selecto__multiple .dropdown .dropdown__opcoes option::before {
  font-family: 'GB_Icons';
  margin-right: 5px;
  content: '\e914';
  color: var(--color-gray);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .selecto__multiple .selected > span {
    margin-top: 10px;
  }
  .selecto__multiple {
    font-size: 1rem;
    padding: 18px 15px;
  }
}
