/*=======================*\
    SELECTO COMMON
\*=======================*/

.selecto__common {
  font-family: 'Medium';
  font-size: 1rem;
  line-height: normal;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 15px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-gray-extra-dark);
  border: 2px solid var(--color-gray-light);
  border-radius: 10px;
  outline: none;
  background-color: var(--color-white);
}

.selecto__common:hover {
  border: 2px solid var(--color-cyan);
}

.selecto__common[disabled='true'] {
  cursor: unset;
  pointer-events: none;
}

.selecto__common.hidden {
  display: none;
}

.selecto__common:after {
  font-family: 'GB_Icons';
  font-size: 1rem;
  position: absolute;
  top: 35%;
  right: 20px;
  content: '\e929';
  color: var(--color-gray-dark);
}

/*=======================*\
    SELEÇÃO
\*=======================*/

.selecto__common {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

   -khtml-user-select: none;
  -webkit-touch-callout: none;
}

/*=======================*\
    SCROLLBAR
\*=======================*/

.selecto__common .dropdown::-webkit-scrollbar-track {
  display: none;
}

.selecto__common .dropdown::-webkit-scrollbar {
  display: none;
}

.selecto__common .dropdown::-webkit-scrollbar-thumb {
  display: none;
}

/*=======================*\
    SELECTED
\*=======================*/

.selecto__common .selected {
  font-family: 'Medium';
  display: flex;
  margin-left: 0 auto;
  pointer-events: none;
  color: var(--color-gray-dark);
}

.selecto__common .selected:empty:not(:focus):before {
  font-family: 'Medium';
  font-weight: normal;
  display: flex;
  margin-left: 0 auto;
  content: 'Selecione';
  color: var(--color-gray);
}

/*=======================*\
    DROPDOWN
\*=======================*/

.selecto__common .dropdown {
  position: absolute;
  z-index: 2;
  top: 65px;
  left: 0;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
  border-radius: 0 0 15px 15px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.selecto__common .dropdown.show {
  display: flex;
}

/*=======================*\
    BUSCA
\*=======================*/

.selecto__common .dropdown .dropdown__busca {
  padding: 20px;
}

.selecto__common .dropdown .dropdown__busca input {
  font-size: 1rem;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 10px 25px;
  color: var(--color-cyan);
  border: none;
  border: 2px solid var(--color-gray-light);
  border-radius: 100px;
  background-color: var(--color-white);
}

.selecto__common .dropdown .dropdown__busca input::placeholder {
  color: var(--color-gray);
}

.selecto__common .dropdown .dropdown__busca input:focus {
  outline: 0;
}

/*=======================*\
    OPÇÕES
\*=======================*/

.selecto__common .dropdown .dropdown__opcoes option {
  font-family: 'Medium';
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
  color: var(--color-gray);
}

.selecto__common .dropdown .dropdown__opcoes option:hover {
  color: var(--color-cyan);
}

/*=======================*\
    ALERT EMPTY
\*=======================*/

.selecto__common .alert__empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding-left: 0 10px;
}

.selecto__common .alert__empty a {
  cursor: pointer;
}

.selecto__common .alert__empty p {
  text-align: center;
}

/*=======================*\
    RESPONSIVE
\*=======================*/

@media screen and (max-width: 600px) {
  .selecto__common {
    font-size: 1rem;
    padding: 18px 15px;
  }
}
