/*=======================*\
    SLIDE ITEMS
\*=======================*/

.slide__items {
  display: flex;
  overflow-x: auto;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;

  scrollbar-color: var(--color-gray) var(--color-gray-light);
  scrollbar-width: thin;
}

/*=======================*\
    SELECTION
\*=======================*/

.slide__items {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.slide__items *::selection {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*=======================*\
    NO ITEMS
\*=======================*/

.slide__items:empty {
  display: none;
}

/*=======================*\
    SCROLLBAR
\*=======================*/

.slide__items::-webkit-scrollbar-thumb {
  display: none;
}

.slide__items::-webkit-scrollbar-track {
  display: none;
}

.slide__items::-webkit-scrollbar {
  display: none;
}

/*=======================*\
    DRAG
\*=======================*/

.slide__items.drag {
  cursor: grabbing;
  transition: opacity ease 0.2s;
  opacity: 1;
}

/*=======================*\
    ITEMS
\*=======================*/

.slide__items .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 280px;
  margin-top: 15px;
  margin-right: 15px;
  padding: 20px;
  padding-bottom: 0;
  animation: fadeIn 0.5s;
  border-radius: 12px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

/*=======================*\
    ITEM TÍTULO
\*=======================*/

.slide__items .item .titulo {
  margin-bottom: 15px;
}

.slide__items .item .titulo > p {
  font-family: 'Medium';
  font-size: 1.2rem;
  margin: 0;
  color: var(--color-gray-dark);
}

/*=======================*\
    ITEM DADOS
\*=======================*/

.slide__items .item .dados {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.slide__items .item .dados > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.slide__items .item .dados > div > p {
  font-family: 'Medium';
  font-size: 1rem;
  margin: 0;
  color: var(--color-gray);
}

.slide__items .item .dados > div > span {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

/*=======================*\
    ITEM BOTÃO
\*=======================*/

.slide__items .item .botao {
  position: relative;
  top: 20px;
}

.slide__items .item .botao button {
  font-family: 'Medium';
  font-size: 1rem;
  padding: 10px 25px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border: 1.5px solid var(--color-gray-light);
  border-radius: 100px;
  background-color: var(--color-white);
}

.slide__items .item .botao button:hover {
  color: var(--color-white-fixed);
  border: 1.5px solid var(--color-red);
  background-color: var(--color-red);
}

/*=======================*\
    RESPONSIVE
\*=======================*/

@media screen and (max-width: 600px) {
  .slide__items .item {
    min-width: 260px;
  }
  .slide__items .item .titulo > p {
    font-size: 1rem;
  }
  .slide__items .item .botao button {
    font-size: 1rem;
  }
  .slide__items .item .dados > div > p {
    font-size: 0.8rem;
  }
  .slide__items .item .dados > div > span {
    font-size: 0.8rem;
  }
}
