/*=======================*\
    TOGGLE
\*=======================*/

.toggle input {
  display: none;
}

.toggle input:checked + .toggle__label > .toggle__handler {
  transform: translate3d(50px, 0, 0) rotate(0);
  background-color: var(--color-green);
}

.toggle .toggle__label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 100px;
  background-color: var(--color-gray-light);
}

.toggle .toggle__handler {
  position: relative;
  z-index: 1;
  top: 5px;
  left: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: all 0.0000.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 100%;
  background-color: var(--color-red);
}

.toggle .toggle__handler::before {
  font-family: 'GB_Icons';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  content: '\e93f';
  color: var(--color-white-fixed);
}

.toggle input:checked + .toggle__label > .toggle__handler::before {
  font-family: 'GB_Icons';
  content: '\e92d';
}
