/*=======================*\
    VIDEO FRAME
\*=======================*/

.youtube-video {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding-top: 56.25%;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--color-black);
}

/*=======================*\
    THUMBNAIL
\*=======================*/

.youtube-video img {
  top: -16.84%;
  left: 0;
  width: 100%;
  transition: all 0.2s;
}

/*=======================*\
    BUTTON PLAY
\*=======================*/

.youtube-video .play-button {
  z-index: 1;
  width: 100px;
  height: 100px;
  transition: all 0.2s;
  border-radius: 100%;
  background-color: var(--color-cyan);
  box-shadow: 0 0 50px 0 var(--color-cyan);
}

.youtube-video .play-button:before {
  margin-left: 4px;
  content: '';
  transition: all 0.2s;
  border-width: 15px 0 15px 26.0px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-white-fixed);
}

.youtube-video .play-button:hover {
  background-color: var(--color-white-fixed);
  box-shadow: 0 0 50px 0 var(--color-white-fixed);
}

.youtube-video .play-button:hover:before {
  border-color: transparent transparent transparent var(--color-cyan);
}

.youtube-video img,
.youtube-video .play-button {
  cursor: pointer;
}

.youtube-video img,
.youtube-video iframe,
.youtube-video .play-button,
.youtube-video .play-button:before {
  position: absolute;
}

.youtube-video .play-button,
.youtube-video .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/*=======================*\
    IFRAME
\*=======================*/

.youtube-video iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .youtube-video .play-button {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 30px 0 var(--color-blue);
  }
  .youtube-video .play-button:before {
    margin-left: 3px;
    content: '';
    transition: all 0.2s;
    border-width: 12px 0 12px 16.0px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-white);
  }
}
