/*=======================*\
    INFO
\*=======================*/

.financeiro__info {
  display: grid;
  align-items: center;
  width: 100%;
  width: calc(100% - 60px);
  margin-top: 0;
  margin-bottom: 0;

  grid-gap: 30px;
  grid-template-columns: 1fr 2fr;
}

.financeiro__info .content__funcionarios:empty:not(:focus):before {
  font-family: 'Medium';
  font-size: 1rem;
  content: 'Nenhum funcionário recebeu comissões ainda!';
  color: var(--color-gray);
}

.financeiro__info .content__funcionarios:empty:before {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/*=======================*\
    CONTENT
\*=======================*/

.financeiro__info .info__content {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 30px 10px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__info .info__content.drag {
  cursor: grabbing;
}

.financeiro__info .info__content .content__funcionarios {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  max-width: calc(100% - 50px);
}

.financeiro__info .info__content .content__funcionarios {
  scrollbar-color: var(--color-gray) var(--color-gray-light);
  scrollbar-width: thin;
}

.financeiro__info .info__content .content__funcionarios {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
       -o-user-select: none;
}

.financeiro__info .info__content .content__funcionarios::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--color-gray);
}

.financeiro__info .info__content .content__funcionarios::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: var(--color-gray-extra-light);
}

.financeiro__info .info__content .content__funcionarios::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.financeiro__info .info__content .content__funcionarios *::selection {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.financeiro__info .info__content .content__funcionarios.drag {
  cursor: grabbing;
}

.financeiro__info .info__content .content__funcionarios .info_funcionario {
  min-width: 180px;
  margin-bottom: 5px;
  padding: 15px;
  text-align: center;
}

/*=======================*\
    FUNCIONÁRIO
\*=======================*/

.financeiro__info .info__content .content__funcionarios .nome {
  margin-top: 10px;
}

.financeiro__info .info__content .content__funcionarios .nome span {
  font-family: 'Medium';
  font-size: 1.1rem;
  color: var(--color-gray-dark);
}

.financeiro__info .info__content .content__funcionarios .comissao {
  margin-top: 5px;
}

.financeiro__info .info__content .content__funcionarios .comissao span {
  font-family: 'Medium';
  font-size: 1.3rem;
  color: var(--color-pink);
}

.financeiro__info .info__content .content__funcionarios .comissao p {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.financeiro__info .info__content .content__funcionarios .imagem img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

/*=======================*\
    COMPLEMENTO
\*=======================*/

.financeiro__info .info__complemento {
  display: grid;
  height: 100%;
}

.financeiro__info .info__complemento .complemento__comissoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__info .info__complemento .title,
.financeiro__info .info__complemento .valor {
  width: 100%;
}

.financeiro__info .info__complemento .title h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-gray-dark);
}

.financeiro__info .info__complemento .title p {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__info .info__complemento .valor p {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__info .info__complemento .complemento__comissoes .valor span {
  font-family: 'Medium';
  font-size: 2rem;
  text-align: left;
  color: var(--color-pink);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .financeiro__info {
    width: calc(100% - 30px);

    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .financeiro__info .info__complemento {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .financeiro__info .info__content {
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .financeiro__info .info__content .info {
    margin-top: 20px;
    margin-left: 0;
  }
  .financeiro__info .info__content .content__funcionarios {
    max-width: calc(100% - 30px);
  }
  .financeiro__info .info__complemento .title h2 {
    font-size: 1.3rem;
  }

  .financeiro__info .info__complemento .title p {
    font-size: 1rem;
  }
  .financeiro__info .info__complemento .valor p {
    font-size: 1rem;
  }
}
