/*=======================*\
    LISTA
\*=======================*/

.lista ul:empty:not(:focus):before {
  content: 'Nenhum funcionário recebeu comissão ainda! Entre na tela "Funcionários" e pague alguém, assim ficará salvo nessa lista.';
}

.lista ul li {
  grid-template-columns: 3fr 3fr 1fr;
}

/*=======================*\
    ITEM LISTA
\*=======================*/

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__valor {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.active .lista__dados span.item__valor,
.lista ul li.active .lista__dados span.item__nome {
  color: var(--color-pink);
}

.lista ul li .lista__data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lista ul li .lista__data span.item__data__vencimento {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li.active .lista__data span.item__data__vencimento {
  color: var(--color-pink);
}

.lista ul li span .lista__opcoes div:last-child i,
.lista ul li span .lista__opcoes div:last-child span {
  color: var(--color-gray);
}

.lista ul li span .lista__opcoes div:last-child:hover i,
.lista ul li span .lista__opcoes div:last-child:hover span {
  color: var(--color-cyan);
}

.lista ul li.active .lista__avatar i {
  color: var(--color-pink) !important;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__valor {
    font-size: 0.9rem;
  }
  .lista ul li .lista__data {
    justify-content: left;
    margin-left: 42px;
  }
}

@media screen and (max-width: 600px) {
  .lista ul li .lista__data {
    justify-content: left;
    margin-left: 34px;
  }
}
