<aside class="close">

  <!-- Imagem -->
  <div class="aside__imagem">
    <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: var(--color-cyan);
        }
      </style>
      <g>
        <g id="Camada_3_1_">
          <path class="st0" d="M420.4,222.7C474.7,143.6,437.6,6.5,309.2,6.5v81.1c72.4,0,72.4,108.6,0,108.6h-81.1
          c-44.8,0-81.1,36.3-81.1,81.1l0,0h54.1v98.4C62.7,324.5,81.9,88.1,258.6,88.1c7.9,0,15.7,0,23.6,0V7c-9.1,0-18.2,0-27.3,0l0,0
          c-282.3,3.4-300.3,400.2-53.8,453.6l0,0c0,18.2,14.7,32.9,32.9,32.9h48.2v-27c17.9,0,35.9,0,53.8,0l0,0
          C481.3,466.5,509.5,290.8,420.4,222.7z M336,385.4L336,385.4c-17.9,0.1-35.9,0.1-53.8,0.1v-52c0-31,25.1-56.1,56.1-56.1l0,0
          C408.1,279.6,407.3,385.4,336,385.4z">
        </g>
      </g>
    </svg>
  </div>

  <!-- Funcionalidades -->

  <div class="aside__funcionalidades">
    <!-- Agenda -->
    <a name="agenda" href="/app/agenda">
      <i class="icon-calendar-check"></i>
      <span>Agenda</span>
    </a>
    <!-- Comandas -->
    <a name="comandas" href="/app/comandas">
      <i class="icon-receipts"></i>
      <span>Comandas</span>
    </a>
    <!-- Clientes -->
    <a name="clientes" href="/app/clientes">
      <i class="icon-user-friends"></i>
      <span>Clientes</span>
    </a>
    <!-- Servicos -->
    <a name="servicos" href="/app/servicos">
      <i class="icon-cut"></i>
      <span>Serviços</span>
    </a>
    <!-- Produtos -->
    <a name="produtos" href="/app/produtos">
      <i class="icon-flask-potion"></i>
      <span>Produtos</span>
    </a>
    <!-- Materiais -->
    <a name="materiais" href="/app/materiais">
      <i class="icon-box-open"></i>
      <span>Materiais</span>
    </a>
    <!-- Financeiro -->
    <a name="financeiro" href="/app/financeiro">
      <i class="icon-chart-bar"></i>
      <span>Financeiro</span>
    </a>
    <!-- Funcionarios -->
    <a name="funcionarios" href="/app/funcionarios">
      <i class="icon-user-tie"></i>
      <span>Funcionários</span>
    </a>
    <!-- Permissoes -->
    <a name="permissoes" href="/app/permissoes">
      <i class="icon-id-badge"></i>
      <span>Permissões</span>
    </a>
    <!-- Empresa -->
    <a name="empresa" href="/app/empresa">
      <i class="icon-house"></i>
      <span>Empresa</span>
    </a>
  </div>

  <!-- Perfil -->
  <div class="aside__perfil">
    <a href="/app/perfil">
      <img src="https://app.gerenciabeleza.com.br/img/plataforma/all/placeholder-avatar.svg" alt="avatar">
    </a>
  </div>

</aside>
