<navbar>

  <!-- Funcionalidades -->
  <div class="navbar__funcionalidades">
    <div class="ferramentas__toggle"></div>
  </div>

  <!-- Notificações -->
  <div class="navbar__notificacoes">
    <a name="notificacoes" href="/app/notificacoes">
      <i class="icon-bell"></i>
    </a>
  </div>

  <!-- Chat -->
  <div class="navbar__chat">
    <a name="chat">
      <i class="icon-question-circle"></i>
    </a>
  </div>

  <!-- Perfil -->
  <div class="navbar__perfil">
    <a href="/app/perfil">
      <img src="https://app.gerenciabeleza.com.br/img/plataforma/all/placeholder-avatar.svg" alt="avatar">
    </a>
  </div>

</navbar>
