/*=======================*\
    BASE
\*=======================*/

html {
  display: block;
}

body {
  background-color: var(--color-white);
  background-image: url('https://app.gerenciabeleza.com.br/img/plataforma/all/background/background-profiles.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: row;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  body {
    background-image: none;
  }
}
