/*=======================*\
    alterar
\*=======================*/

.alterar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
  background-color: var(--color-white);
}

.alterar .alterar__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

/*=======================*\
    TÍTULO
\*=======================*/

.alterar .alterar__titulo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.alterar .alterar__titulo h2 {
  font-family: 'Medium';
  font-size: 2rem;
  color: var(--color-gray-extra-dark);
}

.alterar .alterar__titulo p {
  font-family: 'Medium';
  font-size: 1.1rem;
  color: var(--color-gray-dark);
}

.alterar .alterar__titulo p {
  margin-bottom: 20px;
}

/*=======================*\
    BUTTON
\*=======================*/

.alterar .alterar__button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}

.alterar .alterar__button button {
  font-family: 'Medium';
  font-size: 1.3rem;
  padding: 15px 70px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.alterar .alterar__button button:hover {
  color: var(--color-white);
  background-color: var(--color-cyan-dark);
}

/*=======================*\
    LOGO
\*=======================*/

.alterar .alterar__imagem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.alterar .alterar__imagem i {
  font-size: 3rem;
  color: var(--color-cyan);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
  padding: 50px;
}

.image img {
  width: 600px;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .alterar {
    width: 100%;
  }
  .image {
    display: none;
  }
  .alterar .alterar__content {
    padding: 250px 20px 50px 20px;
  }
  .alterar .alterar__opcoes {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .alterar .alterar__opcoes a:nth-child(1),
  .alterar .alterar__opcoes a:nth-child(2) {
    margin: auto;
    margin-bottom: 5px;
  }
  .alterar .alterar__button button {
    font-size: 1.2rem;
    padding: 15px 50px;
  }
  .alterar .alterar__titulo h2 {
    font-size: 1.5rem;
  }
  .alterar .alterar__titulo p {
    font-size: 1rem;
  }
}
