<section class="modal" id="modal_editar_servico">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Serviço</h2>
      <p>Faça a edição das informações do serviço cadastrado.</p>
    </div>

    <!-- Inputs -->
    <div class="modal__body">

      <!-- Id -->
      <div class="id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Nome -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do serviço">
        <label>Nome do serviço ( obrigatório )</label>
      </div>

      <!-- Preço -->
      <div class="valor__preco input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true">
        <label>Valor do serviço ( obrigatório )</label>
      </div>

      <!-- Comissão -->
      <div class="valor__comissao input">
        <input spellcheck="false" autocomplete="off" type="tel" max="100" maxlength="5" placeholder="Comissão em %">
        <label>Comissão do serviço ( obrigatório )</label>
      </div>

      <!-- Descrição -->
      <div class="descricao input">
        <textarea spellcheck="false" rows="6" autocomplete="off" wrap="hard" placeholder="Descreva o serviço"></textarea>
        <label>Descrição do serviço ( opcional )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Serviço</button>
    </div>

  </div>
</section>
