<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <title>Crie sua conta GB</title>
  <meta property="og:title" content="Crie sua conta GB">
  <meta name="twitter:title" content="Crie sua conta GB">
  <meta name="discord:title" content="Crie sua conta GB">

  <meta name="description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta itemprop="description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta property="og:description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta name="twitter:description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta name="discord:description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">

  <link rel="canonical" href="https://app.gerenciabeleza.com.br/registrar">
  <meta property="og:url" content="https://app.gerenciabeleza.com.br/registrar">
  <meta name="discord:site" content="https://app.gerenciabeleza.com.br/registrar">
  <meta property="discord:url" content="https://app.gerenciabeleza.com.br/registrar">

  {{> metatags }}

  <link rel="manifest" href="./site.webmanifest">

  <meta name="robots" content="index, follow">

  <!-- CSS -->
  <link href="./static/css/registrar.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <main>

    <section class="imagem">
      <img src="https://res.cloudinary.com/gerenciabeleza/image/upload/v1585206545/v3/corte-crianca-registrar.svg">
    </section>

    <!-- Registrar -->
    <section class="registrar">

        <!-- Título -->
        <div class="registrar__titulo">
          <h2>Criar nova conta</h2>
          <p>Crie uma conta para usar o sistema criado para você que tem um salão de beleza e busca mais organização e tecnologia.</p>
        </div>

        <div class="registrar__inputs">

          <!-- Nome Salão -->
          <div class="input registrar__salao">
            <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do salão">
            <label>Nome do salão</label>
          </div>

          <!-- Nome -->
          <div class="input registrar__nome">
            <input spellcheck="false" autocomplete="off" type="text" placeholder="Seu nome">
            <label>Seu nome</label>
          </div>

          <!-- Telefone -->
          <div class="input registrar__telefone">
            <input spellcheck="false" autocomplete="off" type="tel" placeholder="Seu Telefone" data-mask-phone="true">
            <label>Seu telefone</label>
          </div>

          <!-- Email -->
          <div class="input registrar__email">
            <input spellcheck="false" autocomplete="off" type="email" placeholder="Seu email">
            <label>Seu email</label>
          </div>

          <!-- Senha -->
          <div class="input registrar__senha">
            <input spellcheck="false" autocomplete="off" type="password" placeholder="Crie uma senha">
            <label>Crie uma senha</label>
          </div>

          <!-- Confirmar Senha -->
          <div class="input registrar__salao__confirmar">
            <input spellcheck="false" autocomplete="off" type="password" placeholder="Repita a senha criada">
            <label>Repita a senha criada</label>
          </div>

        </div>

        <!-- Button -->
        <div class="registrar__button">
          <button type="button" id="registrar">Criar Conta</button>
        </div>

        <!-- Opções -->
        <div class="registrar__opcoes">
          <a id="ajuda">Preciso de Ajuda</a>
          <a href="/entrar">Já tenho uma conta</a>
        </div>

    </section>

    <section class="background">
      <div></div>
    </section>

  </main>

  <!-- Modal Ajuda -->
  {{> modal-ajuda}}

  <!-- Modal Concluir -->
  {{> modal-concluir}}

  <!-- JS -->
  <script defer src="../static/js/pages/registrar.js?v={{versao.js}}"></script>

  <script>
    if ('serviceWorker' in navigator) navigator.serviceWorker.register('service-worker.js')
  </script>

</body>

</html>
