<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Ops... Um pequeno erro aconteceu!</title>

  {{> metatags_short }}

  <!-- CSS -->
  <link href="../../../../../static/css/erro.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <main>

    <!-- Erro -->
    <section class="erro">

      <!-- Imagem -->
      <div class="erro__image">
        <i class="icon-logo"></i>
      </div>

      <!-- Titulo -->
      <div class="erro__title">
        <h1>Um pequeno erro aconteceu!</h1>
        <p>A página que você tentou acessar não existe ou deixou de existir.</p>
      </div>

      <!-- Botao -->
      <div class="erro__button">
        <a href="https://app.gerenciabeleza.com">Ir para o Site</a>
      </div>

    </section>

  </main>

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="./static/js/pages/erro.js?v={{versao.js}}"></script>

</body>

</html>
