/*=======================*\
    SELECTO COMMON
\*=======================*/

#modal_adicionar_despesa .metodo .selecto__common .dropdown .dropdown__busca,
#modal_editar_despesa .metodo .selecto__common .dropdown .dropdown__busca {
  display: none;
}

#modal_adicionar_despesa .metodo .selecto__common .dropdown,
#modal_editar_despesa .metodo .selecto__common .dropdown {
  padding-top: 30px;
}
