<section class="modal" id="modal_pagar_funcionario">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Pagamento do Funcionário</h2>
      <p>Pague o funcionário que trabalha no salão.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Id -->
      <div class="id input">
        <input spellcheck="false" type="text" readonly hidden>
      </div>

      <!-- Funcionário -->
      <div class="funcionario input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do Funcionário" readonly>
        <label>Nome do funcionário ( obrigatório )</label>
      </div>

      <!-- Data -->
      <div class="data input">
        <div class="datepicker"></div>
        <label>Data do pagamento ( obrigatório )</label>
      </div>

      <!-- Comissão -->
      <div class="pagar__comissao input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true" data-valor-pendente="0">
        <label>Valor da comissão ( obrigatório )</label>
      </div>

      <!-- Gorjeta -->
      <div class="pagar__gorjeta input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true" data-valor-pendente="0">
        <label>Valor da gorjeta ( obrigatório )</label>
      </div>

      <!-- Pagamentos Pendentes -->
      <div class="pagar__pendentes">
        <div class="comissao__pendente">
          <span>R$ 0,00</span>
          <p>em comissões para receber</p>
        </div>
        <div class="gorjeta__pendente">
          <span>R$ 0,00</span>
          <p>em gorjetas para receber</p>
        </div>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="pagar">Pagar Funcionário</button>
    </div>

  </div>
</section>
