<section class="modal" id="modal_adicionar_funcionario">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Adicione um Funcionário</h2>
      <p>Cadastre um funcionário que trabalha no salão.</p>
    </div>

    <!-- Inputs -->
    <div class="modal__body">

      <!-- Nome -->
      <div class="informacoes__nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do funcionário">
        <label>Nome do funcionário ( obrigatório )</label>
      </div>

      <!-- Data de Nascimento-->
      <div class="informacoes__permissao input">
        <div class="selecto__common"></div>
        <label>Permissão ( obrigatório )</label>
      </div>

      <!-- Telefone 1 -->
      <div class="informacoes__contato__telefone1 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone principal ( obrigatório )</label>
      </div>

      <!-- Telefone 2 -->
      <div class="informacoes__contato__telefone2 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone 2 ( opcional )</label>
      </div>

      <!-- Data de Nascimento-->
      <div class="informacoes__nascimento input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00/00/0000" data-mask="##/##/####">
        <label>Data de nascimento ( opcional )</label>
      </div>

      <!-- Cep -->
      <div class="endereco__cep input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00.000-000" data-mask="##.###-###">
        <label>CEP ( opcional )</label>
      </div>

      <!-- Estado -->
      <div class="endereco__estado input">
        <div class="selecto__common"></div>
        <label>Estado ( opcional )</label>
      </div>

      <!-- Cidade -->
      <div class="endereco__cidade input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Cidade">
        <label>Cidade ( opcional )</label>
      </div>

      <!-- Bairro -->
      <div class="endereco__bairro input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Bairro">
        <label>Bairro ( opcional )</label>
      </div>

      <!-- Rua -->
      <div class="endereco__rua input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Rua">
        <label>Rua ( opcional )</label>
      </div>

      <!-- Numero -->
      <div class="endereco__numero input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Número">
        <label>Número ( opcional )</label>
      </div>

      <!-- Descrição -->
      <div class="autenticacao__descricao">
        <p>O email e a senha abaixo serão usados para que o funcionário acesse a plataforma usando eles, guarde com cuidado!</p>
      </div>

      <!-- Email -->
      <div class="autenticacao__email input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Email do funcionário">
        <label>Email do funcionário ( obrigatório )</label>
      </div>

      <!-- Senha -->
      <div class="autenticacao__senha input">
        <input spellcheck="false" autocomplete="off" type="text" value="" readonly>
        <label>Senha do funcionário ( obrigatório )</label>
      </div>

    </div>

    <!-- BOTAO ADICIONAR -->
    <div class="modal__button">
      <button type="button" id="adicionar">Adicionar Funcionário</button>
    </div>

  </div>
</section>
