<section class="modal" id="modal_editar_funcionario">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Funcionário</h2>
      <p>Faça a edição das informações do funcionário cadastrado.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Id -->
      <div class="informacoes__id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Nome -->
      <div class="informacoes__nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do funcionário">
        <label>Nome do funcionário ( obrigatório )</label>
      </div>

      <!-- Data de Nascimento-->
      <div class="informacoes__permissao input">
        <div class="selecto__common"></div>
        <label>Permissão ( obrigatório )</label>
      </div>

      <!-- Telefone 1 -->
      <div class="informacoes__contato__telefone1 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone principal ( obrigatório )</label>
      </div>

      <!-- Telefone 2 -->
      <div class="informacoes__contato__telefone2 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone 2 ( opcional )</label>
      </div>

      <!-- Data de Nascimento-->
      <div class="informacoes__nascimento input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00/00/0000" data-mask="##/##/####">
        <label>Data de nascimento ( opcional )</label>
      </div>

      <!-- Cep -->
      <div class="endereco__cep input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00.000-000" data-mask="##.###-###">
        <label>CEP ( opcional )</label>
      </div>

      <!-- Estado -->
      <div class="endereco__estado input">
        <div class="selecto__common"></div>
        <label>Estado ( opcional )</label>
      </div>

      <!-- Cidade -->
      <div class="endereco__cidade input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Cidade">
        <label>Cidade ( opcional )</label>
      </div>

      <!-- Bairro -->
      <div class="endereco__bairro input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Bairro">
        <label>Bairro ( opcional )</label>
      </div>

      <!-- Rua -->
      <div class="endereco__rua input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Rua">
        <label>Rua ( opcional )</label>
      </div>

      <!-- Numero -->
      <div class="endereco__numero input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Número">
        <label>Número ( opcional )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Funcionário</button>
    </div>

  </div>
</section>
