<section class="modal" id="modal_visualizar_produto">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Dados do Serviço</h2>
      <p>Veja os dados cadastrados desse serviço.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <div class="collapsible" id="informacoes">
        <div class="title">
          <p>Informações</p>
        </div>
        <div class="content">
          <div class="nome">
            <p>Nome</p>
            <span>...</span>
          </div>
          <div class="valor">
            <p>Valor</p>
            <span>...</span>
          </div>
          <div class="quantidade">
            <p>Estoque</p>
            <span>...</span>
          </div>
          <div class="quantidade__minima">
            <p>Estoque Mínimo</p>
            <span>...</span>
          </div>
          <div class="data__registro">
            <p>Data de Registro</p>
            <span>...</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
