<section class="modal" id="modal_editar_produto">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Produto</h2>
      <p>Faça a edição das informações do Produto cadastrado.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- ID -->
      <div class="id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Nome -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do produto">
        <label>Nome do produto ( obrigatório )</label>
      </div>

      <!-- Preço Produto -->
      <div class="preco input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true">
        <label>Preço do produto ( obrigatório )</label>
      </div>

      <!-- Estoque Atual -->
      <div class="estoque__atual input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Quantidade em estoque" minlength="1" maxlength="5">
        <label>Quantidade em estoque ( obrigatório )</label>
      </div>

      <!-- Estoque Mínimo -->
      <div class="estoque__minimo input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Estoque mínimo" minlength="1" maxlength="5">
        <label>Estoque mínimo ( opcional )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Produto</button>
    </div>

  </div>
</section>
