/*=======================*\
    LISTA
\*=======================*/

.lista ul:empty:not(:focus):before {
  content: 'Nenhum material cadastrado! Clique no botão "Adicionar Material" para cadastrar na lista.';
}

.lista ul li {
  grid-template-columns: 1fr 1fr;
}

/*=======================*\
    ITEM LISTA
\*=======================*/

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__estoque {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.active .lista__dados span.item__estoque,
.lista ul li.active .lista__dados span.item__nome {
  color: var(--color-cyan);
}

.lista ul li .lista__estoque {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lista ul li .lista__estoque span.item__minimo {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li.active .lista__estoque span.item__minimo {
  color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__estoque {
    font-size: 0.9rem;
  }
  .lista ul li .lista__estoque {
    display: none;
  }
}
