/*=======================*\
    SELECTO COMMON
\*=======================*/

section.modal#modal_repor_material div.metodo div.selecto__common .dropdown .dropdown__busca {
  display: none;
}

section.modal#modal_repor_material div.metodo div.selecto__common .dropdown {
  padding-top: 30px;
}
