<section class="modal" id="modal_visualizar_comanda">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Dados da Comanda</h2>
      <p>Veja os dados cadastrados dessa comanda.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Collapsible Informacoes -->
      <div class="collapsible" id="informacoes">
        <div class="title">
          <p>Informações</p>
        </div>
        <div class="content">
          <div class="cliente">
            <p>Cliente</p>
            <span>...</span>
          </div>
          <div class="total">
            <p>Total da Comanda</p>
            <span>...</span>
          </div>
          <div class="data">
            <p>Data da Comanda</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Serviço -->
      <div class="collapsible" id="servicos">
        <div class="title">
          <p>Serviços</p>
        </div>
        <div class="content">
          <div class="servicos">
            <p>Serviços</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Produtos -->
      <div class="collapsible" id="produtos">
        <div class="title">
          <p>Produtos</p>
        </div>
        <div class="content">
          <div class="produtos">
            <p>Produtos</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Pagamentos -->
      <div class="collapsible" id="pagamentos">
        <div class="title">
          <p>Pagamentos</p>
        </div>
        <div class="content">
          <div class="pagamentos">
            <p>Pagamentos</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Gorjetas -->
      <div class="collapsible" id="gorjetas">
        <div class="title">
          <p>Gorjetas</p>
        </div>
        <div class="content">
          <div class="gorjetas">
            <p>Gorjetas</p>
            <span>...</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
