<section class="modal" id="modal_editar_comanda">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Comanda</h2>
      <p>Faça a edição das informações cadastradas nessa comanda.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <div class="informacoes__id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Cliente -->
      <div class="informacoes__cliente input">
        <div class="selecto__common"></div>
        <label>Cliente ( obrigatório )</label>
      </div>

      <!-- Data -->
      <div class="informacoes__data input">
        <div class="datepicker"></div>
        <label>Data Marcada ( obrigatório )</label>
      </div>

      <div class="text__servicos">
        <p>Selecione os serviços que serão feitos para o cliente</p>
      </div>

      <!-- Serviço -->
      <div class="servico input">
        <div class="selecto__common"></div>
        <label>Serviço ( opcional )</label>
      </div>

      <!-- Funcionário -->
      <div class="agrupador__funcionario input">
        <div class="selecto__common"></div>
        <label>Funcionário ( opcional )</label>
      </div>

      <!-- Quantidade -->
      <div class="agrupador__quantidade__servicos input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="0" minlength="1" maxlength="5">
        <label>Quantidade de serviços ( opcional )</label>
      </div>

      <div class="botao">
        <button type="button" id="adicionar__servico">Adicionar Serviço</button>
      </div>

      <!-- SlideItems -->
      <div class="servicos">
        <div class="slide__items"></div>
      </div>

      <div class="text__produtos">
        <p>Selecione os produtos que o cliente comprou</p>
      </div>

      <!-- Produto -->
      <div class="agrupador__produto input">
        <div class="selecto__common"></div>
        <label>Produto ( opcional )</label>
      </div>

      <!-- Quantidade -->
      <div class="agrupador__quantidade__produtos input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="0" minlength="1" maxlength="5">
        <label>Unidades compradas ( opcional )</label>
      </div>

      <div class="botao">
        <button type="button" id="adicionar__produto">Adicionar Produto</button>
      </div>

      <!-- SlideItems -->
      <div class="produtos">
        <div class="slide__items"></div>
      </div>

      <!-- Totais -->
      <div class="totais">
        <p class="totais__servicos">Total em Serviços <span>R$ 0,00</span></p>
        <p class="totais__produtos">Total em Produtos <span>R$ 0,00</span></p>
        <p class="totais__comanda">Total da Comanda <span>R$ 0,00</span></p>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Comanda</button>
    </div>

  </div>
</section>
