<section class="modal" id="modal_faturar_comanda">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Faturar Comanda</h2>
      <p>Feche a comanda do seu cliente.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Id -->
      <div class="pagamentos__id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Total -->
      <div class="pagamentos__total input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Forma de Pagamento -->
      <div class="pagamentos__forma input">
        <div class="selecto__common"></div>
        <label>Forma de pagamento ( obrigatório )</label>
      </div>

      <!-- Valor do Pagamento -->
      <div class="pagamentos__valor input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true">
        <label>Valor da Comanda ( obrigatório )</label>
      </div>

      <!-- Botão Adicionar Pagamento -->
      <div class="botao">
        <button type="button" id="adicionar__pagamento">Adicionar Pagamento</button>
      </div>

      <!-- List Selectos Pagamentos -->
      <div class="list__selectos__pagamentos"></div>

      <div class="text">
        <p>Gorjeta que o cliente deu para o funcionário</p>
      </div>

      <!-- Funcionário -->
      <div class="gorjetas__funcionario input">
        <div class="selecto__common"></div>
        <label>Funcionário ( opcional )</label>
      </div>

      <!-- Valor da Gorjeta -->
      <div class="gorjetas__valor input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="R$ 0,00" data-mask-money="true">
        <label>Valor da gorjeta ( opcional )</label>
      </div>

      <!-- Botão Adicionar Gorjeta -->
      <div class="botao">
        <button type="button" id="adicionar__gorjeta">Adicionar Gorjeta</button>
      </div>

      <!-- List Selectos Gorjetas -->
      <div class="list__selectos__gorjetas"></div>

      <!-- Totais -->
      <div class="total">
        <p class="total__comanda">Total da Comanda <span>&nbsp;</span></p>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="faturar">Faturar Comanda</button>
    </div>

  </div>
</section>
