<section class="modal" id="modal_opcoes_comanda">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Opções da Comanda</h2>
      <p>Selecione o que deseja fazer com está comanda.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <div class="content__body">
        <div class="content__comanda">
          <div class="comanda">
            <div class="comanda__id" hidden></div>
            <div class="comanda__numero">&nbsp;</div>
            <div class="comanda__cliente">&nbsp;</div>
            <div class="comanda__total">&nbsp;</div>
            <div class="comanda__status">&nbsp;</div>
          </div>
        </div>
        <div class="content__opcoes">
          <div class="opcao__visualizar">
            <i class="icon-eye"></i>
            <span>Visualizar</span>
          </div>
          <div class="opcao__editar">
            <i class="icon-edit"></i>
            <span>Editar</span>
          </div>
          <div class="opcao__faturar">
            <i class="icon-sack-dollar"></i>
            <span>Faturar</span>
          </div>
          <div class="opcao__deletar">
            <i class="icon-trash-alt"></i>
            <span>Deletar</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
