/*=======================*\
    LISTA
\*=======================*/

.lista ul:empty:not(:focus):before {
  content: 'Nenhum serviço cadastrado! Clique no botão "Adicionar Serviço" para cadastrar na lista.';
}

.lista ul li {
  grid-template-columns: 3fr 3fr 1fr;
}

/*=======================*\
    ITEM LISTA
\*=======================*/

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__comissao {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.active .lista__dados span.item__comissao,
.lista ul li.active .lista__dados span.item__nome {
  color: var(--color-cyan);
}

.lista ul li .lista__preco {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lista ul li .lista__preco span.item__preco {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li.active .lista__preco span.item__preco {
  color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__comissao {
    font-size: 0.9rem;
  }
  .lista ul li .lista__preco {
    justify-content: left;
    margin-left: 42px;
  }
}

@media screen and (max-width: 600px) {
  .lista ul li .lista__preco {
    justify-content: left;
    margin-left: 34px;
  }
}
