<section class="modal" id="modal_assinar">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Está pronta?</h2>
      <p>Agora é a hora da decisão que vai mudar sua forma de trabalhar, sua forma de organizar e administrar seu salão!</p>
      <img src="https://app.gerenciabeleza.com.br/img/plataforma/autenticacao/image-entrar-registrar.svg">
      <p class="preco">R$ 39,90 / mês</p>
      <p>Você investirá R$ 39,90 por mês e terá recursos como: controle de estoque, organização financeira, comissões e gorjetas de funcionários calculadas automaticamente, comandas digitais, cadastro de funcionários ilimitados para usar a plataforma e centenas de funcionalidades exclusivas!</p>
      <p>O pagamento será realizado através do Paypal, o meio de pagamento mais renomado e seguro do mundo.</p>

      <!-- Buttons -->
      <div class="modal__button">
        <button type="button">Assinar Agora</button>
      </div>

    </div>

  </div>
</section>
