<section class="modal" id="modal_suporte">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Ajuda Premium</h2>
      <p>Com a gerencia beleza você tem suporte 24 horas por dia, inclusive nos finais de semanas e feriados!</p>
      <p>Clique no suporte desejado logo abaixo.</p>
    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <a target="_blank" class="button__whatsapp" href="https://wa.me/5513991257097" rel="nofollow noopener noreferrer">Whatsapp</a>
      <a target="_blank" class="button__instagram" href="https://instagram.com/gerenciabeleza" rel="nofollow noopener noreferrer">Instagram</a>
      <a target="_blank" class="button__facebook" href="https://m.me/gerenciabeleza" rel="nofollow noopener noreferrer">Facebook</a>
    </div>

  </div>
</section>
