<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Perfil - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/perfil.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- Aside -->
  {{> aside}}

  <main>

    <section class="perfil">

      <div class="perfil__background"></div>

      <div class="perfil__content">

        <div class="content__info">
          <div class="info__image">
            <img src="https://app.gerenciabeleza.com.br/img/plataforma/all/placeholder-avatar.svg">
            <div class="imagem__overlay">
              <div class="overlay__content"></div>
            </div>
            <input spellcheck="false" type="file" class="foto__input" name="foto__input" accept=".jpg, .jpeg, .png, .svg, .webm, webp" hidden>
          </div>
          <div class="info__title">
            <p id="perfil_nome">Nome Usuário</p>
            <p id="perfil_permissao">Permissão</p>
          </div>
        </div>

        <div class="content__options">
          <a name="notificacoes" href="/app/notificacoes">
            <i class="icon-bell"></i>
          </a>
          <a id="chat_desktop_start">
            <i class="icon-question-circle"></i>
          </a>
        </div>

      </div>

    </section>

    <section class="opcoes">
      <div class="button">
        <button id="editar_perfil">
          <span>Editar Perfil</span>
          <div>
            <i class="icon-arrow-pro-right"></i>
          </div>
        </button>
      </div>
      <div class="button">
        <button id="alterar_senha">
          <span>Alterar Senha</span>
          <div>
            <i class="icon-arrow-pro-right"></i>
          </div>
        </button>
      </div>
      <div class="button">
        <a href="/app/ajuda">
        <button>
          <span>Ajuda</span>
          <div>
            <i class="icon-arrow-pro-right"></i>
          </div>
        </button>
        </a>
      </div>
      <div class="button">
        <button id="logout">
          <span>Sair</span>
          <div>
            <i class="icon-power-off"></i>
          </div>
        </button>
      </div>
    </section>

    <section class="sobre">
      <div class="sobre__receber">
        <div class="receber__comissao">
          <span>R$ 0,00</span>
          <p class="large">em comissões para receber</p>
        </div>
        <div class="receber__gorjeta">
          <span>R$ 0,00</span>
          <p class="large">em gorjetas para receber</p>
        </div>
      </div>
      <div class="sobre__noturno">
        <div class="noturno__title">
          <h2>Modo Noturno</h2>
          <p>Ative o modo noturno da GB e deixe 100% do sistema em tons escuros diminuindo o incomodo nos seus olhos.</p>
        </div>

        <div class="toggle input">
        <input spellcheck="false" type="checkbox" class="modo__noturno" id="modo__noturno">
        <div class="toggle__label">
          <span class="toggle__handler"></span>
        </div>
        </div>

      </div>
    </section>

    <!-- LISTA -->
    <section class="lista" id="lista__pagamentos"></section>

  </main>

  <!-- MODAL EDITAR PERFIL -->
  {{> modal-editar-perfil}}

  <!-- MODAL ALTERAR SENHA -->
  {{> modal-alterar-senha}}

  <!-- MODAL SUPORTE -->
  {{> modal-suporte}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/perfil.js?v={{versao.js}}"></script>

</body>

</html>
