<section class="modal" id="modal_visualizar_permissao">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Dados da Permissão</h2>
      <p>Veja os dados cadastrados dessa permissão.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Collapsible Informacoes -->
      <div class="collapsible" id="informacoes">
        <div class="title">
          <p>Informações</p>
        </div>
        <div class="content">
          <div class="nome">
            <p>Nome</p>
            <span>...</span>
          </div>
          <div class="data__registro">
            <p>Data de Registro</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Acessos -->
      <div class="collapsible" id="permissoes">
        <div class="title">
          <p>Acessos</p>
        </div>
        <div class="content">
          <div class="agenda">
            <p>Agenda</p>
            <span>...</span>
          </div>
          <div class="clientes">
            <p>Clientes</p>
            <span>...</span>
          </div>
          <div class="comandas">
            <p>Comandas</p>
            <span>...</span>
          </div>
          <div class="servicos">
            <p>Serviços</p>
            <span>...</span>
          </div>
          <div class="produtos">
            <p>Produtos</p>
            <span>...</span>
          </div>
          <div class="materiais">
            <p>Materiais</p>
            <span>...</span>
          </div>
          <div class="financeiro">
            <p>Financeiro</p>
            <span>...</span>
          </div>
          <div class="permissoes">
            <p>Permissões</p>
            <span>...</span>
          </div>
          <div class="funcionarios">
            <p>Funcionários</p>
            <span>...</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
