<section class="modal" id="modal_editar_permissao">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Permissão</h2>
      <p>Faça a edição das informações dessa permissão.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Id -->
      <div class="permissao__id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Nome -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome da permissão">
        <label>Nome da Permissão ( obrigatório )</label>
      </div>

      <!-- Setores -->
      <div class="setores">
        <p>Defina o que quem tiver essa permissão vai poder fazer nas telas abaixo</p>
        <div class="setores__button">
          <button type="button" class="active" data-setor="agenda"> Agenda </button>
          <button type="button" data-setor="clientes"> Clientes </button>
          <button type="button" data-setor="comandas"> Comandas </button>
          <button type="button" data-setor="servicos"> Serviços </button>
          <button type="button" data-setor="produtos"> Produtos </button>
          <button type="button" data-setor="materiais"> Materiais </button>
          <button type="button" data-setor="financeiro"> Financeiro </button>
          <button type="button" data-setor="permissoes"> Permissões </button>
          <button type="button" data-setor="funcionarios"> Funcionários </button>
        </div>
      </div>
      <!-- Permissões -->
      <div class="setor__permissoes">

        <!-- Agenda -->
        <div class="setor__agenda active" data-setor="agenda">
          <div class="agenda__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p>Visualizar Agenda</p>
          </div>
          <div class="agenda__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p>Adicionar Horários</p>
          </div>
          <div class="agenda__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p>Editar Horários</p>
          </div>
          <div class="agenda__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p>Deletar Horários</p>
          </div>
          <div class="agenda__multipla" data-permissao="view_others">
            <i class="icon-check-circle"></i>
            <p>Agenda Múltipla</p>
          </div>
        </div>

        <!-- Clientes -->
        <div class="setor__clientes hidden" data-setor="clientes">
          <div class="clientes__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Clientes </p>
          </div>
          <div class="clientes__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Clientes </p>
          </div>
          <div class="clientes__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Clientes </p>
          </div>
          <div class="clientes__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Clientes </p>
          </div>
        </div>

        <!-- Comandas -->
        <div class="setor__comandas hidden" data-setor="comandas">
          <div class="comandas__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Comandas </p>
          </div>
          <div class="comandas__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Comandas </p>
          </div>
          <div class="comandas__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Comandas </p>
          </div>
          <div class="comandas__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Comandas </p>
          </div>
        </div>

        <!-- Serviços -->
        <div class="setor__servicos hidden" data-setor="servicos">
          <div class="servicos__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Serviços </p>
          </div>
          <div class="servicos__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Serviços </p>
          </div>
          <div class="servicos__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Serviços </p>
          </div>
          <div class="servicos__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Serviços </p>
          </div>
        </div>

        <!-- Produtos -->
        <div class="setor__produtos hidden" data-setor="produtos">
          <div class="produtos__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Produtos </p>
          </div>
          <div class="produtos__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Produtos </p>
          </div>
          <div class="produtos__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Produtos </p>
          </div>
          <div class="produtos__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Produtos </p>
          </div>
        </div>

        <!-- Materiais -->
        <div class="setor__materiais hidden" data-setor="materiais">
          <div class="materiais__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Materiais </p>
          </div>
          <div class="materiais__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Materiais </p>
          </div>
          <div class="materiais__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Materiais </p>
          </div>
          <div class="materiais__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Materiais </p>
          </div>
          <div class="materiais__repor" data-permissao="manage">
            <i class="icon-check-circle"></i>
            <p> Repôr Materiais </p>
          </div>
        </div>

        <!-- Financeiro -->
        <div class="setor__financeiro hidden" data-setor="lancamentos">
          <div class="financeiro__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Financeiro </p>
          </div>
          <div class="financeiro__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Lançamentos </p>
          </div>
          <div class="financeiro__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Lançamentos </p>
          </div>
          <div class="financeiro__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Lançamentos </p>
          </div>
        </div>

        <!-- Permissões -->
        <div class="setor__permissoes hidden" data-setor="permissoes">
          <div class="permissoes__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Permissões </p>
          </div>
          <div class="permissoes__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Permissões </p>
          </div>
          <div class="permissoes__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Permissões </p>
          </div>
          <div class="permissoes__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Permissões </p>
          </div>
        </div>

        <!-- Funcionários -->
        <div class="setor__funcionarios hidden" data-setor="usuarios">
          <div class="funcionarios__visualizar" data-permissao="view">
            <i class="icon-check-circle"></i>
            <p> Visualizar Funcionários</p>
          </div>
          <div class="funcionarios__adicionar" data-permissao="add">
            <i class="icon-check-circle"></i>
            <p> Adicionar Funcionários </p>
          </div>
          <div class="funcionarios__editar" data-permissao="edit">
            <i class="icon-check-circle"></i>
            <p> Editar Funcionários</p>
          </div>
          <div class="funcionarios__deletar" data-permissao="del">
            <i class="icon-check-circle"></i>
            <p> Deletar Funcionários</p>
          </div>
          <div class="funcionarios__pagar" data-permissao="pay">
            <i class="icon-check-circle"></i>
            <p> Pagar Funcionários </p>
          </div>
        </div>

      </div>
    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Permissão</button>
    </div>

  </div>
</section>
