<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Nova Senha - Gerencia Beleza</title>

  {{> metatags_short }}

  <!-- CSS -->
  <link href="../../../static/css/nova-senha.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <main>

    <!-- Alterar -->
    <section class="alterar">

      <div class="alterar__content">

        <!-- Logo do Mobile -->
        <div class="alterar__imagem">
          <i class="icon-logo"></i>
        </div>

        <!-- Título -->
        <div class="alterar__titulo">
          <h2>Cria sua nova senha!</h2>
          <p>Crie uma nova senha para acessar a plataforma da Gerencia Beleza! Utilize uma senha segura que contenha letras, números e símbolos.</p>
        </div>

        <!-- Senha -->
        <div class="alterar__senha">
          <input spellcheck="false" autocomplete="off" type="password" placeholder="Nova senha">
          <label>Nova senha</label>
        </div>

        <!-- Confirmar Senha -->
        <div class="alterar__confirmar__senha">
          <input spellcheck="false" autocomplete="off" type="password" placeholder="Digite novamente a senha">
          <label>Repetir nova senha</label>
        </div>

        <!-- Botão Alterar -->
        <div class="alterar__button">
          <button type="button" id="alterar">Alterar Senha</button>
        </div>

      </div>

    </section>

    <section class="image">
      <img src="https://app.gerenciabeleza.com.br/img/plataforma/autenticacao/image-entrar-registrar.svg">
    </section>

  </main>

  <!-- JS -->
  <script defer src="../../../static/js/pages/nova-senha.js?v={{versao.js}}"></script>

</body>

</html>
