<section class="modal" id="modal_visualizar_cliente">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Dados do Cliente</h2>
      <p>Veja os dados cadastrados de seu cliente.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Collapsible Informacoes -->
      <div class="collapsible" id="informacoes">
        <div class="title">
          <p>Informações</p>
        </div>
        <div class="content">
          <div class="nome">
            <p>Nome</p>
            <span>...</span>
          </div>
          <div class="data__nascimento">
            <p>Data de Nascimento</p>
            <span>...</span>
          </div>
          <div class="telefone">
            <p>Celular</p>
            <span>...</span>
          </div>
          <div class="telefone2">
            <p>Telefone Secundário</p>
            <span>...</span>
          </div>
          <div class="data__registro">
            <p>Data de Registro</p>
            <span>...</span>
          </div>
          <div class="observacao">
            <p>Observação</p>
            <span>...</span>
          </div>
        </div>
      </div>

      <!-- Collapsible Endereco -->
      <div class="collapsible" id="endereco">
        <div class="title">
          <p>Endereço</p>
        </div>
        <div class="content">
          <div class="cep">
            <p>CEP</p>
            <span>...</span>
          </div>
          <div class="estado">
            <p>Estado</p>
            <span>...</span>
          </div>
          <div class="cidade">
            <p>Cidade</p>
            <span>...</span>
          </div>
          <div class="bairro">
            <p>Bairro</p>
            <span>...</span>
          </div>
          <div class="rua">
            <p>Rua</p>
            <span>...</span>
          </div>
          <div class="numero">
            <p>Número</p>
            <span>...</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
