<section class="modal" id="modal_adicionar_cliente">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Adicione um Cliente</h2>
      <p>Cadastre um novo cliente em sua lista.</p>
    </div>

    <!-- Inputs -->
    <div class="modal__body">

      <!-- Nome -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Maria">
        <label>Nome do Cliente ( obrigatório )</label>
      </div>

      <!-- Telefone -->
      <div class="contato__telefone1 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone do Cliente ( obrigatório )</label>
      </div>

      <!-- Telefone Secundário -->
      <div class="contato__telefone2 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone 2 ( opcional )</label>
      </div>

      <!-- Data de Nascimento -->
      <div class="nascimento input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00/00/0000" data-mask="##/##/####">
        <label>Data de Nascimento ( opcional )</label>
      </div>

      <!-- Observação -->
      <div class="observacao input">
        <textarea spellcheck="false" rows="4" autocomplete="off" wrap="hard" placeholder="Observação sobre cliente"></textarea>
        <label>Observação ( opcional )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="adicionar">Salvar Cliente</button>
    </div>

  </div>
</section>
