/*=======================*\
    OPÇÕES
\*=======================*/

.financeiro__opcoes {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: calc(100% - 60px);
  margin-top: 30px;
  margin-bottom: 30px;

  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.financeiro__opcoes a {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.financeiro__opcoes a div {
  margin-left: auto;
}

.financeiro__opcoes a.opcoes__resumo,
.financeiro__opcoes a.opcoes__receitas,
.financeiro__opcoes a.opcoes__despesas,
.financeiro__opcoes a.opcoes__comissoes {
  font-family: 'Medium';
  font-size: 1.1rem;
  width: 100%;
  padding: 15px 30px;
  transition: all 0.2s;
  border-radius: 100px;
}

.financeiro__opcoes a.opcoes__resumo {
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__opcoes a.opcoes__resumo:hover {
  color: var(--color-white-fixed);
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
}

.financeiro__opcoes a.opcoes__receitas {
  color: var(--color-white-fixed);
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
}

.financeiro__opcoes a.opcoes__receitas:hover {
  color: var(--color-green);
  border: 2px solid var(--color-green);
  background-color: var(--color-white);
}

.financeiro__opcoes a.opcoes__comissoes {
  color: var(--color-white-fixed);
  border: 2px solid var(--color-pink);
  background-color: var(--color-pink);
}

.financeiro__opcoes a.opcoes__comissoes:hover {
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
  background-color: var(--color-white);
}

.financeiro__opcoes a.opcoes__despesas {
  color: var(--color-white-fixed);
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
}

.financeiro__opcoes a.opcoes__despesas:hover {
  color: var(--color-red);
  border: 2px solid var(--color-red);
  background-color: var(--color-white);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .financeiro__opcoes {
    width: calc(100% - 30px);
    margin-top: 20px;
    margin-bottom: 20px;

    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .financeiro__opcoes {
    grid-template-columns: 1fr;
  }
  .financeiro__opcoes a.opcoes__receitas,
  .financeiro__opcoes a.opcoes__despesas,
  .financeiro__opcoes a.opcoes__comissoes,
  .financeiro__opcoes a.opcoes__resumo {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
