/*=======================*\
    LISTA
\*=======================*/

.lista ul:empty:not(:focus):before {
  content: 'Nenhum funcionário cadastrado! Clique no botão "Adicionar Funcionário" para cadastrar na lista.';
}

.lista ul li {
  grid-template-columns: 3fr 3fr 1fr;
}

/*=======================*\
    ITEM LISTA
\*=======================*/

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__permissao {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

.lista ul li.active .lista__dados span.item__permissao,
.lista ul li.active .lista__dados span.item__nome {
  color: var(--color-cyan);
}

.lista ul li .lista__pendente {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.lista ul li .lista__pendente span {
  display: flex;
  flex-direction: row;
  transition: all 0.2s;
}

.lista ul li .lista__pendente span.item__comissao,
.lista ul li .lista__pendente span.item__gorjeta {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__pendente span.item__comissao p,
.lista ul li .lista__pendente span.item__gorjeta p {
  font-family: 'Medium';
  font-size: 1rem;
  padding-left: 5px;
  color: var(--color-gray);
}

.lista ul li.active .lista__pendente span.item__comissao,
.lista ul li.active .lista__pendente span.item__gorjeta,
.lista ul li.active .lista__pendente span.item__comissao p,
.lista ul li.active .lista__pendente span.item__gorjeta p {
  color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__permissao {
    font-size: 0.9rem;
  }
  .lista ul li .lista__pendente {
    display: block;
    justify-content: left;
    margin-left: 42px;
  }
  .lista ul li .lista__pendente span.item__gorjeta p,
  .lista ul li .lista__pendente span.item__comissao p,
  .lista ul li .lista__pendente span.item__gorjeta,
  .lista ul li .lista__pendente span.item__comissao {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .lista ul li .lista__pendente {
    justify-content: left;
    margin-left: 34px;
  }
}
