/*=======================*\
    MODAL
\*=======================*/

#modal_adicionar_funcionario .modal__content .autenticacao__descricao p,
#modal_pagar_funcionario .modal__content .pagar__pendentes p {
  font-family: 'Medium';
  font-size: 1rem;
  margin-top: 35px;
  margin-bottom: 15px;
  color: var(--color-gray);
}

#modal_pagar_funcionario .modal__content .pagar__pendentes span {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-red);
}

#modal_adicionar_funcionario .modal__content .autenticacao__senha input {
  color: var(--color-red);
}

/*=======================*\
    DATEPICKER
\*=======================*/

#modal_pagar_funcionario .data .datepicker input::placeholder:empty:not(:focus):before {
  content: 'Data do pagamento';
}

/*=======================*\
    RESPONSIVE
\*=======================*/

@media screen and (max-width: 600px) {
  #modal_adicionar_funcionario .modal__content .autenticacao__descricao p,
  #modal_pagar_funcionario .modal__content .pagar__pendentes p {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  #modal_pagar_funcionario .modal__content .pagar__pendentes span {
    font-size: 1rem;
  }
}
