/*=======================*\
    ALERTA EMPTY
\*=======================*/

.modal .alert__empty p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-top: 30px;
  padding-bottom: 15px;
  color: var(--color-gray-dark);
}

.modal .alert__empty button {
  font-family: 'Medium';
  font-size: 1rem;
  margin-bottom: 30px;
  padding: 10px 30px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
}

.modal .alert__empty button:hover {
  color: var(--color-cyan);
  background-color: var(--color-cyan-extra-light);
}

.modal .modal__content .modal__body .servicos .selecto__common .alert__empty button,
.modal .modal__content .modal__body .servicos .selecto__common .alert__empty button {
  margin: 0;
}
