/*=======================*\
    BASE ERRO
\*=======================*/

html {
  display: flex;
}

body {
  background-color: var(--color-white);
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: all 0.2s;
  background-color: var(--color-white);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
}
