/*=======================*\
    ERRO
\*=======================*/

.erro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
}

/*=======================*\
    TÍTULO
\*=======================*/

.erro .erro__title h1 {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-gray-extra-dark);
}

.erro .erro__title p {
  font-family: 'Medium';
  font-size: 1.2rem;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  text-align: center;
  color: var(--color-gray-dark);
}

/*=======================*\
    IMAGEM
\*=======================*/

.erro .erro__image {
  margin-bottom: 40px;
}

.erro .erro__image i {
  font-size: 3rem;
  color: var(--color-red);
}

/*=======================*\
    BUTTON
\*=======================*/

.erro .erro__button a {
  font-family: 'Medium';
  font-size: 1.3rem;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  color: var(--color-white-fixed);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.erro .erro__button a:hover {
  color: var(--color-white-fixed);
  background-color: var(--color-cyan-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1100px) {
  body {
    margin-top: -50px;

    grid-template-columns: auto;
  }
}
