/*=======================*\
    BOTÃO ADICIONAR
\*=======================*/

.adicionar__receita {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.adicionar__receita button {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin-right: auto;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-green);
}

.adicionar__receita button:hover {
  background-color: var(--color-green-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  .adicionar__receita button {
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}
