/*=======================*\
    GRÁFICO
\*=======================*/

.financeiro__grafico {
  display: grid;
  align-items: center;
  width: 100%;
  width: calc(100% - 60px);
  margin-top: 0;
  margin-bottom: 0;

  grid-gap: 30px;
  grid-template-columns: 1fr 2fr;
}

/*=======================*\
    CONTENT
\*=======================*/

.financeiro__grafico .grafico__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__grafico .grafico__content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.financeiro__grafico .grafico__content .info .bolinha {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 100%;
}

.financeiro__grafico .grafico__content .info .info__dinheiro .bolinha {
  background-color: var(--color-green);
}

.financeiro__grafico .grafico__content .info .info__credito .bolinha {
  background-color: var(--color-green-dark);
}

.financeiro__grafico .grafico__content .info .info__debito .bolinha {
  background-color: var(--color-green-light-fixed);
}

.financeiro__grafico .grafico__content .info .info__dinheiro,
.financeiro__grafico .grafico__content .info .info__credito,
.financeiro__grafico .grafico__content .info .info__debito {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.financeiro__grafico .grafico__content .texto p {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.financeiro__grafico .grafico__content .texto span {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

/*=======================*\
    COMPLEMENTO
\*=======================*/

.financeiro__grafico .grafico__complemento {
  display: grid;
  height: 100%;
}

.financeiro__grafico .grafico__complemento .complemento__receitas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.financeiro__grafico .grafico__complemento .title,
.financeiro__grafico .grafico__complemento .valor {
  width: 100%;
}

.financeiro__grafico .grafico__complemento .title h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-gray-dark);
}

.financeiro__grafico .grafico__complemento .title p {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__grafico .grafico__complemento .valor p {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--color-gray);
}

.financeiro__grafico .grafico__complemento .complemento__receitas .valor span {
  font-family: 'Medium';
  font-size: 2rem;
  text-align: left;
  color: var(--color-green);
}

/*=======================*\
    GRÁFICO SVG
\*=======================*/

.financeiro__grafico .grafico__content .grafico svg {
  max-width: 250px;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .financeiro__grafico {
    width: calc(100% - 30px);

    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .financeiro__grafico .grafico__complemento {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .financeiro__grafico .grafico__content {
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .financeiro__grafico .grafico__content .info {
    margin-top: 20px;
    margin-left: 0;
  }
  .financeiro__grafico .grafico__complemento .title h2 {
    font-size: 1.3rem;
  }
  .financeiro__grafico .grafico__complemento .title p {
    font-size: 1rem;
  }
  .financeiro__grafico .grafico__complemento .valor p {
    font-size: 1rem;
  }
  .financeiro__grafico .grafico__content .texto p {
    font-size: 1.1rem;
  }
}
