/*=======================*\
    SELECTO COMMON
\*=======================*/

section.modal#modal_adicionar_receita div.metodo div.selecto__common .dropdown .dropdown__busca,
section.modal#modal_editar_receita div.metodo div.selecto__common .dropdown .dropdown__busca {
  display: none;
}

section.modal#modal_adicionar_receita div.metodo div.selecto__common .dropdown,
section.modal#modal_editar_receita div.metodo div.selecto__common .dropdown {
  padding-top: 30px;
}
