<section class="modal" id="modal_recuperar_senha">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Título no Modal -->
    <div class="modal__header">
      <h2>Esqueceu sua Senha?</h2>
      <p>Preencha abaixo seu e-mail cadastrado para receber as instruções e criar uma nova senha na Gerencia Beleza.</p>
    </div>

    <!-- Modal -->
    <div class="modal__body">
      <div class="email input">
        <input spellcheck="false" autocomplete="off" type="email" placeholder="Digite seu Email">
        <label>Email de sua conta</label>
      </div>
    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="recuperar">Recuperar Senha</button>
    </div>

  </div>
</section>
