<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Agenda - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/agenda.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- TOP -->
    <section class="top">
      <!-- Top Title -->
      <div class="top__title">
        <h2>Agenda</h2>
        <p>do salão</p>
      </div>

      <!-- Componente DateSelector -->
      <div class="date__selector"></div>

      <!-- Options -->
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- Top Section -->
    <section class="agenda__top">

      <div class="adicionar">
        <p>Adicione um horário marcado na agenda</p>
        <button class="adicionar__button" type="button" id="adicionar">Adicionar Horário</button>
      </div>

      <div class="seletor">
        <p>Selecione o funcionário que você deseja ver a agenda</p>
        <div class="funcionario">
          <div class="selecto__multiple"></div>
        </div>
      </div>

    </section>

    <!-- Componente Agenda -->
    <section class="agenda"></section>

  </main>

  <!-- MODAL OPCOES -->
  {{> modal-opcoes}}

  <!-- MODAL ADICIONAR -->
  {{> modal-adicionar}}

  <!-- MODAL EDITAR -->
  {{> modal-editar}}

  <!-- MODAL DELETAR -->
  {{> modal-deletar}}

  <!-- MODAL VISUALIZAR -->
  {{> modal-visualizar}}

  <!-- MODAL ENVIAR -->
  {{> modal-enviar}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/agenda.js?v={{versao.js}}"></script>

</body>

</html>
