<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <title>Entre em sua conta GB</title>
  <meta property="og:title" content="Entre em sua conta GB">
  <meta name="twitter:title" content="Entre em sua conta GB">
  <meta name="discord:title" content="Entre em sua conta GB">

  <meta name="description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta itemprop="description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta property="og:description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta name="twitter:description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">
  <meta name="discord:description" content="Ajudamos donos de salões de beleza a proporcionarem uma experiência perfeita aos seus clientes através de tecnologias inovadoras">

  <link rel="canonical" href="https://app.gerenciabeleza.com">
  <meta property="og:url" content="https://app.gerenciabeleza.com">
  <meta name="discord:site" content="https://app.gerenciabeleza.com">
  <meta property="discord:url" content="https://app.gerenciabeleza.com">

  {{> metatags }}

  <link rel="manifest" href="./site.webmanifest">

  <meta name="robots" content="index, follow">

  <!-- CSS -->
  <link href="./static/css/entrar.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <main>

    <section class="imagem">
      <img src="https://res.cloudinary.com/gerenciabeleza/image/upload/v1585202596/v3/corte-crianca.svg">
    </section>

    <!-- Entrar -->
    <section class="entrar">

      <!-- Título -->
      <div class="entrar__titulo">
        <h2>Entrar no sistema</h2>
        <p>Use seu e-mail e senha cadastrados.</p>
      </div>
      <!-- Email -->
      <div class="entrar__email input">
        <input id="input" spellcheck="false" autocomplete="off" type="email" placeholder="seu.email@email.com">
        <label>Email da conta</label>
      </div>
      <!-- Senha -->
      <div class="entrar__senha input">
        <input spellcheck="false" autocomplete="off" type="password" placeholder="Senha">
        <label>Senha de acesso</label>
      </div>
      <!-- Botão Entrar -->
      <div class="entrar__button">
        <button type="button" id="entrar">Entrar</button>
      </div>
      <!-- Opções -->
      <div class="entrar__opcoes">
        <a id="opcoes__recuperacao__senha">Esqueci minha senha</a>
        <a href="/registrar">Quero criar uma nova conta</a>
      </div>

    </section>

    <section class="background">
      <div></div>
    </section>

  </main>

  <!-- Modal Recuperar Senha -->
  {{> modal-recuperar}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="./static/js/pages/entrar.js?v={{versao.js}}"></script>

  <script>
    if ('serviceWorker' in navigator) navigator.serviceWorker.register('service-worker.js')
  </script>

</body>

</html>
