/*=======================*\
    BASE
\*=======================*/

body {
  background-color: var(--color-gray-extra-light);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.imagem {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.imagem img {
  width: 300px;
}

.background {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: auto;
  background-color: var(--color-cyan-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .imagem {
    display: none;
  }
  .background {
    display: none;
  }
}
