/*=======================*\
    ENTRAR
\*=======================*/

.entrar {
  position: relative;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  height: auto;
  margin: 100px 0 100px 100px;
  padding: 50px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

/*=======================*\
    TÍTULO
\*=======================*/

.entrar .entrar__titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: left;
}

.entrar .entrar__titulo h2 {
  font-family: 'Bold';
  font-size: 1.7rem;
  color: var(--color-gray-dark);
}

.entrar .entrar__titulo p {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray);
}

/*=======================*\
    OPÇÕES
\*=======================*/

.entrar .entrar__opcoes {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.entrar .entrar__opcoes a {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.entrar .entrar__opcoes a:hover {
  color: var(--color-cyan);
}

.entrar .entrar__opcoes a:nth-child(1) {
  margin-right: auto;
}

.entrar .entrar__opcoes a:nth-child(2) {
  margin-left: auto;
}

.entrar .entrar__opcoes {
  display: flex;
  justify-content: center;
}

/*=======================*\
    BUTTON
\*=======================*/

.entrar .entrar__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.entrar .entrar__button button {
  font-family: 'Medium';
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.entrar .entrar__button button:hover {
  background-color: var(--color-cyan-dark);
}

.entrar .entrar__button button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  transform: scale(0, 0);
  border-radius: 100px;
  background-color: var(--color-cyan-dark);
}

.entrar .entrar__button button:focus:before {
  animation: shadowClick 1s ease-out;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .entrar {
    align-self: center;
    margin: 20px;
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .entrar {
    margin: 0;
    padding: 50px 20px;
  }
  .entrar .entrar__opcoes {
    flex-direction: column;
    margin-top: 50px;
  }
  .entrar .entrar__opcoes a:nth-child(1),
  .entrar .entrar__opcoes a:nth-child(2) {
    margin-right: auto;
    margin-left: 0;
  }
  .entrar .entrar__opcoes a {
    margin-bottom: 10px;
  }
}
