<section class="modal" id="modal_ajuda">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Título no Modal -->
    <div class="modal__header">
      <h2>Precisa de Ajuda?</h2>
      <p>Caso esteja com alguma dúvida, fique a vontade para nos chamar! Estamos online 24 horas para ajudar você no que for necessário.</p>
    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <a target="_blank" class="button__whatsapp" href="https://wa.me/5513991257097" rel="nofollow noopener noreferrer">Whatsapp</a>
      <a target="_blank" class="button__instagram" href="https://instagram.com/gerenciabeleza" rel="nofollow noopener noreferrer">Instagram</a>
      <a target="_blank" class="button__facebook" href="https://m.me/gerenciabeleza" rel="nofollow noopener noreferrer">Facebook</a>
    </div>
  </div>
</section>
