<section class="modal" id="modal_concluir">
  <div class="modal__content">

      <!-- Title -->
      <div class="modal__header">
        <h2>Registro Concluído!</h2>
        <p>Sua conta foi cadastrada com sucesso na plataforma Gerencia Beleza.</p>
        <p>Agora é só entrar no sistema com email e senha cadastrados!</p>
      </div>

      <!-- Botoes -->
      <div class="modal__button">
        <button type="button" id="entrar">Entrar</button>
      </div>

  </div>
</section>
