/*=======================*\
    CORES
\*=======================*/

:root {

  --color-white: #FFFFFF;
  --color-white-fixed: #FFFFFF;
  --color-black: #000000;

  --color-gray-extra-light: #F7FAFF;
  --color-gray-light: #dfe5f2;
  --color-gray: #b1b6c7;
  --color-gray-dark: #6f7380;
  --color-gray-extra-dark: #31343b;
  --color-gray-black: #1B1C1C;

  --color-purple: #522D9E;
  --color-purple-light: #522D9E60;
  --color-purple-extra-light: #522D9E20;

  --color-green: #00C48C;
  --color-green-light: #00C48C60;
  --color-green-extra-light: #00C48C20;
  --color-green-dark: #1b906f;
  --color-green-light-fixed: #7DDfC3;

  --color-red: #FF647C;
  --color-red-light: #FF647C60;
  --color-red-extra-light: #FF647C20;
  --color-red-dark: #993C4A;
  --color-red-light-fixed: #FDAFBB;

  --color-blue: #0084f4;
  --color-blue-light: #0084f460;
  --color-blue-extra-light: #0084f420;

  --color-yellow: #FFCF5C;
  --color-yellow-light: #FFCF5C60;
  --color-yellow-extra-light: #FFCF5C20;

  --color-orange: #FFA26B;
  --color-orange-light: #FFA26B60;
  --color-orange-extra-light: #FFA26B20;

  --color-cyan: #6979F8;
  --color-cyan-light: #6979F860;
  --color-cyan-extra-light: #6979F820;
  --color-cyan-dark: #5B69DA;

  --color-pink: #a264ff;
  --color-pink-light: #e162bb60;
  --color-pink-extra-light: #e162bb20;

  --color-shadow-one: #3b59b214;
  --color-shadow-two: #3b59b20f;

}

/*=======================*\
    MODO NOTURNO
\*=======================*/

body[data-theme='dark'] {

  --color-white: #141419;
  --color-gray-extra-light: #1B1C21;
  --color-gray-light: #272930;
  --color-gray-extra-dark: #FFFFFF;
  --color-gray-dark: #828386;
  --color-gray: #5D5F61;
  --color-shadow-one: transparent;
  --color-shadow-two: transparent;

}
