/*=======================*\
    FLEX
\*=======================*/

.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flex-collum {
  flex-direction: column;
}
