/*=======================*\
    ICONS
\*=======================*/

i {
  font-family: 'GB_Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  border: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*=======================*\
    LOGO GB
\*=======================*/

.icon-logo:before { content: "\e926"; }

/*=======================*\
    SETAS
\*=======================*/

.icon-arrow-alt-down:before { content: "\e902"; }
.icon-arrow-alt-left:before { content: "\e903"; }
.icon-arrow-alt-right:before { content: "\e904"; }
.icon-arrow-alt-up:before { content: "\e905"; }

.icon-arrow-pro-down:before { content: "\e92e"; }
.icon-arrow-pro-left:before { content: "\e92f"; }
.icon-arrow-pro-right:before { content: "\e930"; }
.icon-arrow-pro-up:before { content: "\e931"; }

.icon-arrow-thin-down:before { content: "\e929"; }
.icon-arrow-thin-left:before { content: "\e92a"; }
.icon-arrow-thin-right:before { content: "\e92b"; }
.icon-arrow-thin-up:before { content: "\e92c"; }

.icon-arrow-down:before { content: "\e906"; }
.icon-arrow-left:before { content: "\e907"; }
.icon-arrow-right:before { content: "\e908"; }
.icon-arrow-up:before { content: "\e909"; }

/*=======================*\
    FUNCIONALIDADES
\*=======================*/

.icon-calendar-check:before { content: "\e90f"; }
.icon-receipts:before { content: "\e939"; }
.icon-user-friends:before { content: "\e946"; }
.icon-cut:before { content: "\e917"; }
.icon-flask-potion:before { content: "\e921"; }
.icon-box-open:before { content: "\e90e"; }
.icon-chart-bar:before { content: "\e911"; }
.icon-chart-line:before { content: "\e912"; }
.icon-chart-line-down:before { content: "\e913"; }
.icon-sack-dollar:before { content: "\e93b"; }
.icon-coins:before { content: "\e916"; }
.icon-user-tie:before { content: "\e947"; }
.icon-id-badge:before { content: "\e923"; }
.icon-house:before { content: "\e922"; }
.icon-user:before { content: "\e944"; }
.icon-bell:before { content: "\e90c"; }
.icon-question-circle:before { content: "\e938"; }

/*=======================*\
    OUTROS
\*=======================*/

.icon-times:before { content: "\e93f"; }
.icon-times-circle:before { content: "\e940"; }
.icon-check:before { content: "\e92d"; }
.icon-check-circle:before { content: "\e914"; }
.icon-bars:before { content: "\e90b"; }
.icon-plus:before { content: "\e936"; }
.icon-minus:before { content: "\e928"; }
.icon-power-off:before { content: "\e937"; }

.icon-edit:before { content: "\e918"; }
.icon-user-circle:before { content: "\e945"; }
.icon-trash-alt:before { content: "\e941"; }
.icon-refill:before { content: "\e93a"; }

.icon-adjust:before { content: "\e900"; }
.icon-alarm-clock:before { content: "\e901"; }
.icon-ban:before { content: "\e90a"; }

.icon-flag-alt:before { content: "\e920"; }
.icon-lock-alt:before { content: "\e925"; }

.icon-phone:before { content: "\e935"; }
.icon-search:before { content: "\e93c"; }
.icon-star:before { content: "\e93d"; }
.icon-trophy:before { content: "\e942"; }
.icon-map-marker-alt:before { content: "\e927"; }
.icon-camera:before { content: "\e910"; }

.icon-birthday-cake:before { content: "\e90d"; }
.icon-cloud-download-alt:before { content: "\e915"; }
.icon-envelope:before { content: "\e919"; }
.icon-external-link-alt:before { content: "\e91a"; }
.icon-eye:before { content: "\e91b"; }
.icon-eye-slash:before { content: "\e91c"; }
.icon-filter:before { content: "\e91f"; }
.icon-hearth:before { content: "\e932"; }

/*=======================*\
    REDES SOCIAIS
\*=======================*/

.icon-facebook:before { content: "\e91d"; }
.icon-facebook-messenger:before { content: "\e91e"; }
.icon-telegram:before { content: "\e93e"; }
.icon-twitter:before { content: "\e943"; }
.icon-instagram:before { content: "\e924"; }
.icon-whatsapp:before { content: "\e948"; }
.icon-youtube:before { content: "\e949"; }
