/*=======================*\
    KEYFRAMES
\*=======================*/

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes scaleClick {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shadowClick {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  90% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(0, 0);
    opacity: 1;
  }
}
