<link rel="apple-touch-icon" sizes="180x180" href="https://app.gerenciabeleza.com.br/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://app.gerenciabeleza.com.br/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://app.gerenciabeleza.com.br/img/favicon/favicon-16x16.png">
<link rel="mask-icon" href="https://app.gerenciabeleza.com.br/img/favicon/safari-pinned-tab.svg" color="#6979f8">

<meta name="application-name" content="Gerencia Beleza">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#6979F8">
<meta name="msapplication-TileColor" content="#6979F8">
<meta name="msapplication-TileImage" content="https://app.gerenciabeleza.com.br/img/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="https://app.gerenciabeleza.com.br/img/favicon/browserconfig.xml">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#6979F8">
<meta name="apple-mobile-web-app-title" content="Gerencia Beleza">
