<meta name="author" content="Gerencia Beleza">
<meta itemprop="name" content="Gerencia Beleza">
<meta name="article:author" content="Gerencia Beleza">
<meta property="og:site_name" content="Gerencia Beleza">

<meta property="og:locale" content="pt_BR">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:type" content="website">
<meta property="og:card" content="summary_large_image">

<meta name="article:section" content="Sistema de Salão de Beleza">
<meta name="article:tag" content="gerenciabeleza, sistema de salão de beleza">

<meta name="twitter:site" content="@gerenciabeleza">

<meta property="twitter:card" content="summary_large_image">
<meta property="discord:card" content="summary_large_image">

<meta name="image" content="https://app.gerenciabeleza.com.br/img/social-network/share.png">
<meta itemprop="image" content="https://app.gerenciabeleza.com.br/img/social-network/share.png">
<meta property="og:image" content="https://app.gerenciabeleza.com.br/img/social-network/share.png">
<meta name="discord:image" content="https://app.gerenciabeleza.com.br/img/social-network/share.png">
<meta name="twitter:image" content="https://app.gerenciabeleza.com.br/img/social-network/share.png">

<link rel="apple-touch-icon" sizes="180x180" href="https://app.gerenciabeleza.com.br/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://app.gerenciabeleza.com.br/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://app.gerenciabeleza.com.br/img/favicon/favicon-16x16.png">
<link rel="mask-icon" href="https://app.gerenciabeleza.com.br/img/favicon/safari-pinned-tab.svg" color="#6979f8">

<meta name="application-name" content="Gerencia Beleza">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#6979F8">
<meta name="msapplication-TileColor" content="#6979F8">
<meta name="msapplication-TileImage" content="https://app.gerenciabeleza.com.br/img/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="https://app.gerenciabeleza.com.br/img/favicon/browserconfig.xml">
<meta name="msapplication-tap-highlight" content="no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#6979F8">
<meta name="apple-mobile-web-app-title" content="Gerencia Beleza">
