<section class="modal" id="modal_visualizar_gorjeta">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Dados da Gorjeta</h2>
      <p>Veja os dados cadastrados dessa gorjeta.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <div class="collapsible" id="informacoes">
        <div class="title">
          <p>Informações</p>
        </div>
        <div class="content">
          <div class="valor">
            <p>Valor</p>
            <span>&nbsp;</span>
          </div>
          <div class="funcionario">
            <p>Funcionário</p>
            <span>&nbsp;</span>
          </div>
          <div class="forma__pagamento">
            <p>Método de Pagamento</p>
            <span>&nbsp;</span>
          </div>
          <div class="data__pagamento">
            <p>Data de Pagamento</p>
            <span>&nbsp;</span>
          </div>
          <div class="data__registro">
            <p>Data de Registro</p>
            <span>&nbsp;</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
