<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Serviços - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/servicos.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- Aside -->
  {{> aside}}

  <main>

    <!-- SECTION TOP -->
    <section class="top">
      <div class="top__title">
        <h2>Serviços</h2>
        <p>feitos no salão</p>
      </div>
      <div class="top__pesquisa">
        <i class="icon-search"></i>
        <form autocomplete="off">
          <input spellcheck="false" type="search" autocomplete="off" placeholder="Buscar por serviço...">
        </form>
      </div>
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- BOTAO ADICIONAR -->
    <div class="content__adicionar">
      <button class="adicionar__button" type="button" id="adicionar">Adicionar Serviço</button>
    </div>

    <!-- LISTA -->
    <section class="lista" id="lista__servicos"></section>

  </main>

  <!-- MODAL ADICIONAR -->
  {{> modal-adicionar}}

  <!-- MODAL EDITAR -->
  {{> modal-editar}}

  <!-- MODAL DELETAR -->
  {{> modal-deletar}}

  <!-- MODAL VISUALIZAR -->
  {{> modal-visualizar}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/servicos.js?v={{versao.js}}"></script>

</body>

</html>
