<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Financeiro - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/financeiro.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- TOP -->
    <section class="top">
      <div class="top__title">
        <h2>Financeiro</h2>
        <p>resumido do salão</p>
      </div>
      <div class="date__selector"></div>
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- OPÇÕES FINANCEIRO -->
    <section class="financeiro__opcoes">
      <a href="/app/financeiro/receitas" class="opcoes__receitas">
        <span>Receitas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/despesas" class="opcoes__despesas">
        <span>Despesas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/comissoes" class="opcoes__comissoes">
        <span>Comissões</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/gorjetas" class="opcoes__gorjetas">
        <span>Gorjetas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
    </section>

    <!-- GRÁFICO PRINCIPAL -->
    <section class="financeiro__grafico">
      <div class="grafico__content">

        <!-- GRÁFICO -->
        <div class="grafico">
          <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">

            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="var(--color-white)"></circle>
            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="var(--color-gray-light)" stroke-width="6"></circle>

            <circle id="donut_receita" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
            fill="transparent" stroke="var(--color-green)" stroke-width="6" stroke-dasharray="0 100"></circle>

            <circle id="donut_despesa" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
            fill="transparent" stroke="var(--color-red)" stroke-width="6" stroke-dasharray="0 100"></circle>

            <circle id="donut_comissao" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
            fill="transparent" stroke="var(--color-pink)" stroke-width="6" stroke-dasharray="0 100"></circle>

            <g class="chart-text">
              <text x="50%" y="50%" class="chart-number" id="lucro_financeiro">
                R$ 0,00
              </text>
              <text x="50%" y="50%" class="chart-label">
                Lucro Total
              </text>
            </g>

          </svg>
        </div>

        <!-- TAGS -->
        <div class="info">
          <div class="info__receita">
            <div class="bolinha"></div>
            <div class="texto">
              <p>Ganhos do Salão</p>
              <span id="receita__porcentagem">0%</span>
            </div>
          </div>
          <div class="info__despesa">
            <div class="bolinha"></div>
            <div class="texto">
              <p>Gastos do Salão</p>
              <span id="despesa__porcentagem">0%</span>
            </div>
          </div>
          <div class="info__comissao">
            <div class="bolinha"></div>
            <div class="texto">
              <p>Pago a funcionários</p>
              <span id="comissao__porcentagem">0%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- RECEITA E DESPESA QUADRO -->
      <div class="grafico__complemento">

        <div class="complemento__receitas">
          <div class="title">
            <h2>Receitas</h2>
            <p>Receita é tudo que o seu salão ganha.</p>
          </div>
          <div class="valor">
            <p>Essa é a receita até o momento</p>
            <span id="receita__mes">R$ 0,00</span>
          </div>
        </div>

        <div class="complemento__despesas">
          <div class="title">
            <h2>Despesas</h2>
            <p>Despesa é tudo que o seu salão gasta.</p>
          </div>
          <div class="valor">
            <p>Essa é a receita até o momento</p>
            <span id="despesa__mes">R$ 0,00</span>
          </div>
        </div>

      </div>

    </section>
    <!-- COMISSÕES E GORJETAS QUADRO -->
    <section class="financeiro__pagos">
      <div class="pagos__comissoes">
        <div class="title">
          <h2>Comissões</h2>
          <p>Comissão é tudo que o seu salão paga aos funcionários.</p>
        </div>
        <div class="valor">
          <p>Esse é o total de comissões pagas até o momento</p>
          <span id="comissao__mes">R$ 0,00</span>
        </div>
      </div>
      <div class="pagos__gorjetas">
        <div class="title">
          <h2>Gorjetas</h2>
          <p>Gorjeta é tudo que o funcionário ganha do cliente.</p>
        </div>
        <div class="valor">
          <p>Esse é o total de gorjetas pagas até o momento</p>
          <span id="gorjeta__mes">R$ 0,00</span>
        </div>
      </div>
    </section>

  </main>

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/financeiro.js?v={{versao.js}}"></script>

</body>

</html>
