<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Receitas - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../../site.webmanifest">

  <!-- CSS -->
  <link href="../../static/css/receitas.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- TOP -->
    <section class="top">
      <div class="top__title">
        <h2>Receitas</h2>
        <p>do salão</p>
      </div>
      <div class="date__selector"></div>
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- OPÇÕES FINANCEIRO -->
    <section class="financeiro__opcoes">
      <a href="/app/financeiro" class="opcoes__resumo">
        <span>Ir para resumo</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/despesas" class="opcoes__despesas">
        <span>Despesas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/comissoes" class="opcoes__comissoes">
        <span>Comissões</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
      <a href="/app/financeiro/gorjetas" class="opcoes__gorjetas">
        <span>Gorjetas</span>
        <div>
          <i class="icon-arrow-pro-right"></i>
        </div>
      </a>
    </section>

    <!-- GRÁFICO PRINCIPAL -->
    <section class="financeiro__grafico">

      <!-- RECEITA E DESPESA QUADRO -->
      <div class="grafico__complemento">

        <div class="complemento__receitas">
          <div class="title">
            <h2>Total em ganhos</h2>
          </div>
          <div class="valor">
            <p>Essa é a receita até o momento</p>
            <span id="receita__mes">R$ 0,00</span>
          </div>

          <!-- BOTAO ADICIONAR -->
          <div class="adicionar__receita">
            <button type="button" id="adicionar">Adicionar Receita</button>
          </div>

        </div>

      </div>
      <div class="grafico__content">

        <!-- GRÁFICO -->
        <div class="grafico">
          <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">

            <!-- AQUI É QUANDO O GRÁFICO FICAR ZERADO -->
            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="var(--color-white)"></circle>
            <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="var(--color-gray-light)" stroke-width="6"></circle>

            <circle id="donut_dinheiro" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
            fill="transparent" stroke="var(--color-green)" stroke-width="6" stroke-dasharray="0 100"></circle>

            <circle id="donut_credito" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
            fill="transparent" stroke="var(--color-green-dark)" stroke-width="6" stroke-dasharray="0 100"></circle>

            <circle id="donut_debito" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
            fill="transparent" stroke="var(--color-green-light-fixed)" stroke-width="6" stroke-dasharray="0 100"></circle>
          </svg>
        </div>

        <!-- TAGS -->
        <div class="info">
          <div class="info__dinheiro">
            <div class="bolinha"></div>
            <div class="texto">
              <p>Ganhos em Dinheiro</p>
              <span id="receita_dinheiro">R$ 0,00</span>
            </div>
          </div>
          <div class="info__credito">
            <div class="bolinha"></div>
            <div class="texto">
              <p>Ganhos em Crédito</p>
              <span id="receita_credito">R$ 0,00</span>
            </div>
          </div>
          <div class="info__debito">
            <div class="bolinha"></div>
            <div class="texto">
              <p>Ganhos em Débito</p>
              <span id="receita_debito">R$ 0,00</span>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- LISTA -->
    <section class="lista" id="lista__receitas"></section>

  </main>

  <!-- MODAL ADICIONAR -->
  {{> modal-adicionar}}

  <!-- MODAL EDITAR -->
  {{> modal-editar}}

  <!-- MODAL DELETAR -->
  {{> modal-deletar}}

  <!-- MODAL VISUALIZAR -->
  {{> modal-visualizar}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../../static/js/pages/receitas.js?v={{versao.js}}"></script>

</body>

</html>
