<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Empresa - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/empresa.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- Aside -->
  {{> aside}}

  <main>

    <section class="empresa">

      <div class="empresa__background"></div>

      <div class="empresa__content">

        <div class="content__info">
          <div class="info__image">
            <img src="https://app.gerenciabeleza.com.br/img/plataforma/all/placeholder-avatar.svg">
            <div class="imagem__overlay">
              <div class="overlay__content"></div>
            </div>
            <input spellcheck="false" type="file" class="foto__input" name="foto__input" accept=".jpg, .jpeg, .png, .svg, .webm, webp" hidden>
          </div>
          <div class="info__title">
            <p id="nome_empresa">&nbsp;</p>
            <div>
              <p>Conta</p>
              <p id="status_assinatura"></p>
            </div>
          </div>
        </div>

        <div class="content__options">
          <a name="notificacoes" href="/app/notificacoes">
            <i class="icon-bell"></i>
          </a>
          <a id="chat_desktop_start">
            <i class="icon-question-circle"></i>
          </a>
        </div>

      </div>

    </section>

    <section class="opcoes">
      <div class="button">
        <button id="editar_empresa">
          <span>Editar Empresa</span>
          <div>
            <i class="icon-arrow-pro-right"></i>
          </div>
        </button>
      </div>
      <div class="button">
        <button id="visualizar_empresa">
          <span>Visualizar Empresa</span>
          <div>
            <i class="icon-arrow-pro-right"></i>
          </div>
        </button>
      </div>
      <div class="button">
        <button id="suporte_empresa">
          <span>Receber Suporte</span>
          <div>
            <i class="icon-arrow-pro-right"></i>
          </div>
        </button>
      </div>
    </section>

    <section class="assinatura">
      <div class="assinatura__info">
        <span id="dias_restantes">0</span>
        <p>Dias Restantes</p>
      </div>
      <div class="assinatura__nova">
        <h2>Faça sua Assinatura!</h2>
        <p>Continue controlando sua empresa de forma tecnológica com a assinatura premium da gerencia beleza.</p>
        <div>
          <button id="assinar">Assinar</button>
        </div>
      </div>
      <div class="assinatura__feita">
        <h2>Conta Premium!</h2>
        <p>Sua conta na gerencia beleza é premium! Use todas as funcionalidades do sistema para controlar seu salão com mais facilidade.</p>
      </div>
    </section>

    <!-- LISTA -->
    <section class="lista" id="lista__pagamentos"></section>

    <!-- LISTA -->
    <section class="pagamento"></section>

  </main>

  <!-- MODAL EDITAR -->
  {{> modal-editar}}

  <!-- MODAL VISUALIZAR -->
  {{> modal-visualizar}}

  <!-- MODAL ASSINAR -->
  {{> modal-assinar}}

  <!-- MODAL SUPORTE -->
  {{> modal-suporte}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/empresa.js?v={{versao.js}}"></script>

</body>

</html>
