<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Comandas - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/comandas.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- TOP -->
    <section class="top">
      <!-- Top Title -->
      <div class="top__title">
        <h2>Comandas</h2>
        <p>cadastradas</p>
      </div>

      <!-- Componente DateSelector -->
      <div class="date__selector"></div>

      <!-- Options -->
      <div class="top__options">
        <a name="notificacoes" href="/app/notificacoes">
          <i class="icon-bell"></i>
        </a>
        <a id="chat_desktop_start">
          <i class="icon-question-circle"></i>
        </a>
      </div>
    </section>

    <!-- Top Section -->
    <section class="comandas__top">

      <div class="adicionar">
        <p>Adicione uma nova comanda no sistema</p>
        <button class="adicionar__button" type="button" id="adicionar">Adicionar Comanda</button>
      </div>

    </section>

    <!-- Componente Comandas -->
    <section class="comandas"></section>

  </main>

  <!-- MODAL OPCOES -->
  {{> modal-opcoes}}

  <!-- MODAL ADICIONAR -->
  {{> modal-adicionar}}

  <!-- MODAL EDITAR -->
  {{> modal-editar}}

  <!-- MODAL DELETAR -->
  {{> modal-deletar}}

  <!-- MODAL VISUALIZAR -->
  {{> modal-visualizar}}

  <!-- MODAL FATURAR -->
  {{> modal-faturar}}

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/comandas.js?v={{versao.js}}"></script>

</body>

</html>
