/*=======================*\
    ASIDE
\*=======================*/

aside {
  position: fixed;
  z-index: 9;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  width: 60px;
  height: 100vh;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

aside {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all ease 0.2s;
  outline: none;

   -khtml-user-select: none;
  scrollbar-color: var(--color-gray) var(--color-gray-light);
  scrollbar-width: thin;
  -webkit-touch-callout: none;
}

aside::-webkit-scrollbar-track {
  display: none;
}

aside::-webkit-scrollbar {
  display: none;
}

aside::-webkit-scrollbar-thumb {
  display: none;
}

/*=======================*\
    LOGO
\*=======================*/

aside .aside__imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

aside .aside__imagem svg {
  width: 35px;
  height: 35px;
  margin-top: 20px;
}

/*=======================*\
    PERFIL
\*=======================*/

aside .aside__perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 15px;
}

aside .aside__perfil a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*=======================*\
    FUNCIONALIDADES
\*=======================*/

aside .aside__funcionalidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}

aside .aside__funcionalidades a {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

aside .aside__funcionalidades a span {
  display: none;
}

aside .aside__funcionalidades a i {
  font-size: 1.3rem;
  transition: all 0.2s;
  color: var(--color-gray);
}

aside .aside__funcionalidades a.active i {
  transform: scale(1.2);
  color: var(--color-gray-dark);
}

aside .aside__funcionalidades a:hover i {
  transform: scale(1.2);
  color: var(--color-cyan);
}


/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  aside.close {
    transition: all ease 0.4s;
    transform: translateY(100vh);
  }
  aside .aside__perfil {
    display: none;
  }
  aside .aside__imagem {
    display: none;
  }
  aside {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  aside .aside__funcionalidades {
    margin-bottom: 50px;
    margin-left: 0;
    padding-left: 30px;
  }
  aside .aside__funcionalidades a {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  aside .aside__funcionalidades a.active i {
    transform: scale(1.2);
    color: var(--color-cyan);
  }
  aside .aside__funcionalidades a span {
    font-family: 'Medium';
    font-size: 1.1rem;
    display: flex;
    margin-left: 10px;
    color: var(--color-gray);
  }
}
