/*=======================*\
    MAIN
\*=======================*/

main {
  z-index: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  transition: filter linear 0.2s;
  animation: fadeIn 0.2s;
  background-color: var(--color-gray-extra-light);
}

/*=======================*\
    MAIN DISABLED
\*=======================*/

main.disabled {
  z-index: -1;
}
