/*=======================*\
    NAVBAR
\*=======================*/

navbar {
  display: none;
}

/*=======================*\
    NAVBAR ATIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  navbar {
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: grid;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    background-color: var(--color-white);
    box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /*=======================*\
    FUNCIONALIDADES
\*=======================*/

  navbar .navbar__funcionalidades {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

  navbar .navbar__funcionalidades .ferramentas__toggle {
    cursor: pointer;
  }

  navbar .navbar__funcionalidades .ferramentas__toggle:before {
    font-family: 'GB_Icons';
    font-size: 1.6rem;
    content: '\e90b';
    color: var(--color-gray);
  }

  navbar .navbar__funcionalidades .ferramentas__toggle.show:before {
    content: '\e93f';
    color: var(--color-red);
  }

  /*=======================*\
    NOTIFICAÇÕES
\*=======================*/

  navbar .navbar__notificacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

  navbar .navbar__notificacoes a {
    font-size: 1.6rem;
    line-height: 0;
    margin: 0;
    padding: 0;
    color: var(--color-gray);
  }

  navbar .navbar__notificacoes a:hover {
    color: var(--color-cyan);
  }

  navbar .navbar__notificacoes a[name='notificacoes'].active i {
    position: relative;
  }

  navbar .navbar__notificacoes a[name='notificacoes'].active i:after {
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 4px;
    content: '';
    border-radius: 100%;
    background-color: var(--color-red);
  }

  /*=======================*\
    SUPORTE
\*=======================*/

  navbar .navbar__chat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

  navbar .navbar__chat a {
    font-size: 1.6rem;
    line-height: 0;
    margin: 0;
    padding: 0;
    color: var(--color-gray);
  }

  navbar .navbar__chat a:hover {
    color: var(--color-cyan);
  }

  /*=======================*\
    PERFIL
\*=======================*/

  navbar .navbar__perfil {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  navbar .navbar__perfil img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
