/*=======================*\
    registrar
\*=======================*/

.registrar {
  position: relative;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 100px 0 100px 100px;
  padding: 50px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.registrar .registrar__inputs {
  display: grid;

  grid-column-gap: 25px;
  grid-template-columns: 1fr 1fr;
}

/*=======================*\
    TÍTULO
\*=======================*/

.registrar .registrar__titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: left;
}

.registrar .registrar__titulo h2 {
  font-family: 'Bold';
  font-size: 1.7rem;
  color: var(--color-gray-dark);
}

.registrar .registrar__titulo p {
  font-family: 'Medium';
  font-size: 1.2rem;
  margin-top: 5px;
  color: var(--color-gray);
}

/*=======================*\
    OPÇÕES
\*=======================*/

.registrar .registrar__opcoes {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.registrar .registrar__opcoes a {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.registrar .registrar__opcoes a:hover {
  color: var(--color-cyan);
}

.registrar .registrar__opcoes a:nth-child(1) {
  margin-right: auto;
}

.registrar .registrar__opcoes a:nth-child(2) {
  margin-left: auto;
}

.registrar .registrar__opcoes {
  display: flex;
  justify-content: center;
}

/*=======================*\
    BUTTON
\*=======================*/

.registrar .registrar__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.registrar .registrar__button button {
  font-family: 'Medium';
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.registrar .registrar__button button:hover {
  background-color: var(--color-green);
}

.registrar .registrar__button button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  transform: scale(0, 0);
  border-radius: 100px;
  background-color: var(--color-green);
}

.registrar .registrar__button button:focus:before {
  animation: shadowClick 1s ease-out;
}

/*=======================*\
    MODAL AJUDA
\*=======================*/

#modal_ajuda .modal__content .modal__button a {
  font-family: 'Medium';
  font-size: 1rem;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 100px;
  outline: none;
}

#modal_ajuda .modal__content .modal__button a.button__whatsapp {
  color: var(--color-white);
  background-color: var(--color-green);
}

#modal_ajuda .modal__content .modal__button a.button__instagram {
  color: var(--color-white);
  background-color: var(--color-red);
}

#modal_ajuda .modal__content .modal__button a.button__facebook {
  color: var(--color-white);
  background-color: var(--color-blue);
}

#modal_ajuda .modal__content .modal__button a.button__whatsapp:hover,
#modal_ajuda .modal__content .modal__button a.button__instagram:hover,
#modal_ajuda .modal__content .modal__button a.button__facebook:hover {
  background-color: var(--color-gray-black);
}


/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .registrar {
    align-self: center;
    margin: 20px;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .registrar .registrar__inputs {
    display: grid;

    grid-column-gap: 0;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .registrar {
    margin: 0;
    padding: 50px 20px;
  }
  .registrar .registrar__opcoes {
    flex-direction: column;
    margin-top: 50px;
  }
  .registrar .registrar__opcoes a:nth-child(1),
  .registrar .registrar__opcoes a:nth-child(2) {
    margin-right: auto;
    margin-left: 0;
  }
  .registrar .registrar__opcoes a {
    margin-bottom: 10px;
  }
  #modal_ajuda .modal__content .modal__button {
    display: flex;
    flex-direction: column;
  }
}
