<section class="modal" id="modal_adicionar_material">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Adicione um Material</h2>
      <p>Cadastre um material que é usado no salão.</p>
    </div>

    <!-- Inputs -->
    <div class="modal__body">

      <!-- Nome -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do material">
        <label>Nome do material ( obrigatório )</label>
      </div>

      <!-- Estoque -->
      <div class="estoque__atual input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="0" minlength="1" maxlength="5">
        <label>Unidades no estoque ( obrigatório )</label>
      </div>

      <!-- Estoque Mínimo -->
      <div class="estoque__minimo input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="0" minlength="1" maxlength="5">
        <label>Estoque mínimo ( opcional )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="adicionar">Salvar Serviço</button>
    </div>

  </div>
</section>
