<section class="modal" id="modal_repor_material">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Repor Material</h2>
      <p>Adicione ao estoque a quantidade comprada desse material.</p>
    </div>

    <!-- Inputs -->
    <div class="modal__body">

      <!-- Id -->
      <div class="id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Nome Material -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome do material" readonly>
        <label>Nome do material ( obrigatório )</label>
      </div>

      <!-- Método Pagamento -->
      <div class="metodo input">
        <div class="selecto__common"></div>
        <label>Método de pagamento ( obrigatório )</label>
      </div>

      <!-- Unidades Compradas -->
      <div class="quantidade_reposta input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="0" minlength="1" maxlength="5">
        <label>Unidades compradas ( obrigatório )</label>
      </div>

      <!-- Preço Pago -->
      <div class="preco input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true">
        <label>Preço no total ( obrigatório )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="repor">Repor Material</button>
    </div>

  </div>
</section>
