<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Bem Vindo - Gerencia Beleza</title>

  {{> metatags_short }}

  <link rel="manifest" href="../site.webmanifest">

  <!-- CSS -->
  <link href="../static/css/bem-vindo.css?v={{versao.css}}" rel="stylesheet">

</head>

<body>

  <main>

    <section class="welcome">
      <!-- Quadro 1 -->
      <div class="welcome__quadro" data-slide="1">
        <div class="image">
          <img src="https://app.gerenciabeleza.com.br/img/plataforma/bem-vindo/confirma-bem-vindo.svg">
        </div>
        <div class="text">
          <h2>Parabéns pela Decisão</h2>
          <p>Chega de agenda desorganizada, estoque bagunçado e um financeiro totalmente confuso. Agora estamos aqui para ajudar você no que for preciso.</p>
        </div>
      </div>

      <!-- Quadro 2 -->
      <div class="welcome__quadro" data-slide="2">
        <div class="image">
          <img src="https://app.gerenciabeleza.com.br/img/plataforma/bem-vindo/funcionalidades-bem-vindo.svg">
        </div>
        <div class="text">
          <h2>Tudo na ponta do dedo</h2>
          <p>Controle seu financeiro, sua agenda, suas contas, seus estoques, e pare de calcular comissões na caneta!</p>
        </div>
      </div>

      <!-- Quadro 3 -->
      <div class="welcome__quadro" data-slide="3">
        <div class="image">
          <img src="https://app.gerenciabeleza.com.br/img/plataforma/bem-vindo/suporte-bem-vindo.svg">
        </div>
        <div class="text">
          <h2>Suporte 24 horas</h2>
          <p>Nós estamos todos os dias, incluindo finais de semana e feriados, prontos para ajudar você em dúvidas e dificuldades para usar o sistema.</p>
        </div>
      </div>

      <!-- Quadro 4 -->
      <div class="welcome__quadro" data-slide="4">
        <div class="image">
          <img src="https://app.gerenciabeleza.com.br/img/plataforma/bem-vindo/pronto-bem-vindo.svg">
        </div>
        <div class="text">
          <h2>Vamos começar?</h2>
          <p>Sua conta na Gerencia Beleza está pronta! Agora todas as funcionalidades estão disponíveis para o seu salão de beleza. Clique abaixo para iniciar uma nova jornada!</p>
        </div>
      </div>
    </section>

    <!-- Botão Continuar -->
    <section class="button">
      <div class="button__continuar" data-slide="1">
        <p>Continuar</p>
      </div>
      <a href="./servicos" class="button__comecar">
        <p>Começar</p>
      </a>
    </section>

  </main>

  <!-- JS -->
  <script async src="https://app.gerenciabeleza.com.br/js/theme.js"></script>
  <script defer src="../static/js/pages/bem-vindo.js?v={{versao.js}}"></script>

</body>

</html>
