<section class="modal" id="modal_editar_despesa">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Despesa</h2>
      <p>Faça a edição das informações da Despesa cadastrada.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">
      <!-- Id -->
      <div class="id input">
        <input spellcheck="false" autocomplete="off" type="text" hidden>
      </div>

      <!-- Nome -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome da Despesa">
        <label>Nome da despesa ( obrigatório )</label>
      </div>

      <!-- Data -->
      <div class="data input">
        <div class="datepicker"></div>
        <label>Data de vencimento ( obrigatório )</label>
      </div>

      <!-- Método de Pagamento -->
      <div class="metodo input">
        <div class="selecto__common"></div>
        <label>Método de pagamento ( obrigatório )</label>
      </div>

      <!-- Valor -->
      <div class="valor input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Valor pago" data-mask-money="true">
        <label>Valor pago ( obrigatório )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Despesa</button>
    </div>

  </div>
</section>
