/*=======================*\
    AGENDA TOP
\*=======================*/

.agenda__top {
  display: grid;
  align-items: center;
  width: calc(100% - 60px);
  margin: 0 auto;
  margin-top: 40px;
  transition: ease all 0.2s;
  animation: fadeIn 0.2s;

  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

/*=======================*\
    ADICIONAR
\*=======================*/

.agenda__top .adicionar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.agenda__top .adicionar button.adicionar__button {
  font-family: 'Medium';
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--color-cyan);
}

.agenda__top .adicionar button.adicionar__button:hover {
  background-color: var(--color-cyan-dark);
}

.agenda__top .adicionar p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-bottom: 15px;
  color: var(--color-gray);
}

/*=======================*\
    SELETOR
\*=======================*/

.agenda__top .seletor {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.agenda__top .seletor p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-bottom: 15px;
  color: var(--color-gray);
}

.agenda__top .seletor .funcionario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*=======================*\
    SELECTO MULTIPLE
\*=======================*/

.agenda__top .seletor .funcionario .selecto__multiple {
  max-width: 600px;
}

.agenda__top .funcionario .selecto__multiple {
  margin-bottom: 0;
}

.agenda__top .funcionario .selecto__multiple .dropdown .dropdown__busca {
  display: none;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .agenda__top {
    flex-direction: column;
  }
  .agenda__top div.calendar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .agenda__top {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .agenda__top {
    width: calc(100% - 30px);
  }
  .agenda__top div.seletor {
    padding: 50px 20px;
  }
  .agenda__top .adicionar button.adicionar__button {
    font-size: 1rem;
    padding: 15px 30px;
  }
  .agenda__top .adicionar {
    padding: 50px 30px;
  }
}
