/*=======================*\
    SELECTO REMOVE
\*=======================*/

.selecto__common .remove * {
  display: flex;
  cursor: pointer;
  pointer-events: none;
}

.selecto__common .remove {
  font-size: 1rem;
  position: absolute;
  top: 13px;
  right: 0;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  color: var(--color-red);
  border-radius: 100%;
}
