/*=======================*\
    MODAL ENVIAR COMANDA
\*=======================*/

#modal_enviar_comanda .modal__content .modal__body .comandas {
  margin-bottom: 50px;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items {
  display: flex;
  overflow-x: auto;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;

   -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items *::selection {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items:empty {
  display: none;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--color-gray);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: var(--color-gray-medium);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items.drag {
  cursor: grabbing;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
  margin: 0 10px 15px 10px;
  padding: 20px 10px;
  transition: all 0.2s;
  animation: fadeIn 0.4s;
  text-align: center;
  border: 1.5px solid var(--color-gray-extra-light);
  border-radius: 12px;
  background-color: var(--color-gray-extra-light);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:first-child {
  margin-left: 0;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:last-child {
  margin-right: 0;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda * {
  pointer-events: none;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover {
  cursor: pointer;
  transition: all 0.2s;
  border: 1.5px solid var(--color-cyan);
  background-color: var(--color-cyan-extra-light);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda.active:hover {
  cursor: pointer;
  transition: all 0.2s;
  border: 1.5px solid var(--color-cyan);
  background-color: var(--color-cyan-extra-light);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__numero {
  font-family: 'Medium';
  font-size: 1.2rem;
  margin-bottom: 3px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__data {
  font-family: 'Medium';
  font-size: 1rem;
  margin-bottom: 15px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__cliente,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__funcionario,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__total {
  font-family: 'Medium';
  font-size: 1rem;
  margin-bottom: 15px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__total {
  margin-bottom: 0;
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__cliente::before,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__total::before,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__funcionario::before {
  font-family: 'Medium';
  font-size: 0.8rem;
  display: block;
  margin-bottom: 3px;
  transition: all 0.2s;
  text-align: center;
  color: var(--color-gray-dark);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__cliente::before {
  content: 'Cliente';
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__total::before {
  content: 'Total da Comanda';
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda .comanda__funcionario::before {
  content: 'Funcionário';
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__numero,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__data,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__funcionario,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__total,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__cliente,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__funcionario::before,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__total::before,
#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda:hover .comanda__cliente::before {
  color: var(--color-cyan);
}

#modal_enviar_comanda .modal__content .modal__body .comandas .slide__items .comanda.active {
  border: 1.5px solid var(--color-red);
  background-color: var(--color-white);
}
