/*=======================*\
    MODAL OPÇÕES
\*=======================*/

.modal {
  animation-name: modalEffect;
  animation-duration: 0s;
}

#modal_opcoes_horario .modal__body {
  display: flex;
  flex-direction: column;
}

/*=======================*\
    CONTENT MODAL
\*=======================*/

#modal_opcoes_horario .modal__body .content__horario {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#modal_opcoes_horario .modal__body .content__horario .horario {
  font-family: 'Medium';
  overflow-x: hidden;
  margin-top: 20px;
  padding: 15px;
  transition: all 0.2s;
  animation: fadeIn 0.4s;
  border: 2px solid var(--color-gray-light);
  border-radius: 12px;
  background-color: var(--color-white);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__periodo {
  font-family: 'Medium';
  font-size: 1.1rem;
  margin-bottom: 15px;
  padding: 10px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border-radius: 10px;
  background-color: var(--color-gray-extra-light);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__cliente,
#modal_opcoes_horario .modal__body .content__horario .horario .horario__funcionario {
  font-family: 'Medium';
  font-size: 1.2rem;
  overflow: hidden;
  color: var(--color-gray-dark);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__funcionario {
  margin-bottom: 15px;
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__cliente {
  margin-bottom: 10px;
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__cliente::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: block;
  content: 'Cliente';
  color: var(--color-gray);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__funcionario::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: block;
  content: 'Funcionário';
  color: var(--color-gray);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__estadia {
  font-family: 'Medium';
  font-size: 0.8rem;
  display: inline;
  padding: 4px 13px;
  color: var(--color-white-fixed);
  border-radius: 100px;
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__estadia.orange {
  background-color: var(--color-orange);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__estadia.green {
  background-color: var(--color-green);
}

#modal_opcoes_horario .modal__body .content__horario .horario .horario__estadia.red {
  background-color: var(--color-red);
}

/*=======================*\
    CONTENT OPÇÕES
\*=======================*/

#modal_opcoes_horario .modal__body .content__opcoes {
  display: grid;

  grid-gap: 20px;
  grid-template-columns: 1fr;
}

#modal_opcoes_horario .modal__body .content__opcoes div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid var(--color-white);
  border-radius: 100px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

#modal_opcoes_horario .modal__body .content__opcoes div:hover {
  border: 2px solid var(--color-cyan);
  background-color: var(--color-white);
}

#modal_opcoes_horario .modal__body .content__opcoes div:hover span {
  color: var(--color-cyan);
}

#modal_opcoes_horario .modal__body .content__opcoes div:hover i {
  color: var(--color-cyan);
}

#modal_opcoes_horario .modal__body .content__opcoes div:nth-child(5):hover {
  border: 2px solid var(--color-red);
  background-color: var(--color-red);
}

#modal_opcoes_horario .modal__body .content__opcoes div:nth-child(5):hover span,
#modal_opcoes_horario .modal__body .content__opcoes div:nth-child(5):hover i {
  color: var(--color-white-fixed);
}

#modal_opcoes_horario .modal__body .content__opcoes div:nth-child(3):hover {
  border: 2px solid var(--color-green);
  background-color: var(--color-white);
}

#modal_opcoes_horario .modal__body .content__opcoes div:nth-child(3):hover span,
#modal_opcoes_horario .modal__body .content__opcoes div:nth-child(3):hover i {
  color: var(--color-green);
}

#modal_opcoes_horario .modal__body .content__opcoes div i {
  font-size: 1.2rem;
  margin-right: 7px;
  transition: all 0.2s;
  color: var(--color-gray);
}

#modal_opcoes_horario .modal__body .content__opcoes div span {
  font-family: 'Medium';
  font-size: 1.2rem;
  transition: all 0.2s;
  color: var(--color-gray-dark);
}

/*=======================*\
    TAGS
\*=======================*/

#modal_opcoes_horario .tags {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

#modal_opcoes_horario .tags span {
  font-family: 'Medium';
  font-size: 0.9rem;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
  box-shadow: 0 1px 1px #557CF266;
}

#modal_opcoes_horario .tags span:nth-child(1),
#modal_opcoes_horario .tags span:nth-child(2) {
  margin-right: 10px;
}

#modal_opcoes_horario .tags span.tag__green:hover {
  color: var(--color-white-fixed);
  background: var(--color-green);
}

#modal_opcoes_horario .tags span.tag__orange:hover {
  color: var(--color-white-fixed);
  background: var(--color-orange);
}

#modal_opcoes_horario .tags span.tag__red:hover {
  color: var(--color-white-fixed);
  background: var(--color-red);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  #modal_opcoes_horario .modal__body .content__opcoes {
    display: grid;

    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  #modal_opcoes_horario .tags span:nth-child(1),
  #modal_opcoes_horario .tags span:nth-child(2) {
    margin-right: 10px;
  }
  #modal_opcoes_horario .modal__body .content__opcoes div span,
  #modal_opcoes_horario .modal__body .content__opcoes__comanda div span {
    font-size: 1.1rem;
  }
}
