/*=======================*\
    MODAL
\*=======================*/

#modal_adicionar_horario .modal__content .botao,
#modal_editar_horario .modal__content .botao {
  margin-bottom: 60px;
}

#modal_adicionar_horario .modal__content .botao button#adicionar__servico,
#modal_editar_horario .modal__content .botao button#adicionar__servico,
#modal_enviar_comanda .modal__content .botao button#criar__comanda {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding: 10px 30px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
}

#modal_adicionar_horario .modal__content .botao button#adicionar__servico:hover,
#modal_editar_horario .modal__content .botao button#adicionar__servico:hover,
#modal_enviar_comanda .modal__content .botao button#criar__comanda:hover {
  color: var(--color-cyan);
  background-color: var(--color-cyan-extra-light);
}

/*=======================*\
    DATEPICKER
\*=======================*/

#modal_adicionar_horario .servicos__data .datepicker input::placeholder:empty:not(:focus):before,
#modal_editar_horario .servicos__data .datepicker input::placeholder:empty:not(:focus):before {
  content: 'Data Marcada';
}

/*=======================*\
    RESPONSIVE
\*=======================*/

@media screen and (max-width: 600px) {
  #modal_adicionar_horario .modal__content .botao button#adicionar__servico,
  #modal_editar_horario .modal__content .botao button#adicionar__servico,
  #modal_enviar_comanda .modal__content .botao button#criar__comanda {
    font-family: 'Medium';
    font-size: 1rem;
  }
}
