/*=======================*\
    SELECTO COMMON
\*=======================*/

.modal .alert__empty p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-top: 30px;
  padding-bottom: 15px;
  color: var(--color-gray-dark);
}

.modal .alert__empty button {
  font-family: 'Medium';
  font-size: 1rem;
  margin-bottom: 30px;
  padding: 10px 30px;
  transition: all 0.2s;
  color: var(--color-gray-dark);
  border-radius: 100px;
  background-color: var(--color-gray-extra-light);
}

.modal .alert__empty button:hover {
  color: var(--color-cyan);
  background-color: var(--color-cyan-extra-light);
}

.modal .modal__content .modal__body .servicos .selecto__common .alert__empty button,
.modal .modal__content .modal__body .servicos .selecto__common .alert__empty button {
  margin: 0;
}

/*=======================*\
    DROPDOWN BUSCA
\*=======================*/

#modal_adicionar_horario .informacoes__funcionario .selecto__common .dropdown .dropdown__busca,
#modal_editar_horario .informacoes__funcionario .selecto__common .dropdown .dropdown__busca {
  display: none;
}

#modal_adicionar_horario .informacoes__funcionario .selecto__common .dropdown,
#modal_editar_horario .informacoes__funcionario .selecto__common .dropdown {
  padding-top: 30px;
}

/*=======================*\
    SELECTO COMMON
\*=======================*/

.servicos__servicos .selecto__common:nth-child(1) .remove {
  display: none;
}

.servicos__servicos .selecto__common:nth-child(1):after {
  margin-right: 0;
}

.servicos__servicos .selecto__common:after {
  margin-right: 25px;
}

.servicos__servicos .selecto__common .remove {
  margin-right: 5px;
}
