<section class="modal" id="modal_visualizar_notificacoes">
  <div class="modal__content">

    <span class="item__id" hidden></span>

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <div class="modal__body">

      <!-- Header -->
      <div class="modal__header">
        <h2 class="titulo__notificacao"></h2>
        <p class="descricao__notificacao"></p>
        <p class="data__notificacao"></p>
      </div>

    </div>

  </div>
</section>
