/*=======================*\
    ASSINATURA
\*=======================*/

.assinatura {
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  padding: 50px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.assinatura .assinatura__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.assinatura .assinatura__info span {
  font-family: 'Medium';
  font-size: 7rem;
  line-height: 100px;
  color: var(--color-gray-dark);
}

.assinatura .assinatura__info p {
  font-family: 'Medium';
  font-size: 1.3rem;
  color: var(--color-gray);
}

.assinatura .assinatura__feita {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.assinatura .assinatura__nova {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.assinatura .assinatura__nova h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: var(--color-gray-dark);
}

.assinatura .assinatura__feita h2 {
  font-family: 'Medium';
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: var(--color-cyan);
}

.assinatura .assinatura__nova p,
.assinatura .assinatura__feita p {
  font-family: 'Medium';
  font-size: 1.1rem;
  padding-bottom: 20px;
  color: var(--color-gray);
}

.assinatura .assinatura__nova button,
.assinatura .assinatura__feita button {
  font-family: 'Medium';
  font-size: 1.5rem;
  padding: 15px 50px;
  transition: all 0.2s;
  color: var(--color-white-fixed);
  border-radius: 100px;
  background-color: var(--color-green);
}

.assinatura .assinatura__nova button:hover,
.assinatura .assinatura__feita button:hover {
  color: var(--color-white-fixed);
  background-color: var(--color-cyan);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .assinatura {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    padding: 50px 30px;
    border-radius: 15px;
  }
  .assinatura .assinatura__feita,
  .assinatura .assinatura__nova {
    align-items: center;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .assinatura .assinatura__nova p,
  .assinatura .assinatura__feita p {
    max-width: 400px;
  }
}
