/*=======================*\
    TOP EMPRESA
\*=======================*/

.empresa {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

/*=======================*\
    BACKGROUND
\*=======================*/

.empresa .empresa__background {
  width: 100%;
  height: 300px;
  background-image: url('https://app.gerenciabeleza.com.br/img/plataforma/all/background/background-profiles.svg');
  background-repeat: no-repeat;
  background-size: 300%;
}

/*=======================*\
    CONTENT
\*=======================*/

.empresa .empresa__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 100px);
  margin: 0 auto;
  margin-top: -60px;
}

/*=======================*\
    INFO
\*=======================*/

.empresa .empresa__content .content__info {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
}

.empresa .empresa__content .content__info .info__image {
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50%;
  box-shadow: 0 0 1px 0 var(--color-shadow-one), 0 4px 14px var(--color-shadow-two);
}

.empresa .empresa__content .content__info .info__image img {
  width: 160px;
  height: 160px;
  transition: all 0.2s;
  transform: scale(1.2);
}

.empresa .empresa__content .content__info .info__image:hover img {
  transition: all 0.2s;

  filter: brightness(50%);
  filter: blur(50%);
}

.empresa .empresa__content .content__info .info__image .imagem__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.2s;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.empresa .empresa__content .content__info .info__image:hover .imagem__overlay {
  transition: all 0.2s;
  opacity: 1;
}

.empresa .empresa__content .content__info .info__image:hover .imagem__overlay .overlay__content:before {
  font-family: 'GB_Icons';
  font-size: 4rem;
  content: '\e910';
  transition: all 0.2s;
  color: var(--color-white-fixed);
}

.empresa .empresa__content .content__info .info__title {
  padding-left: 20px;
}

.empresa .empresa__content .content__info .info__title p#nome_empresa {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--color-gray-dark);
}

.empresa .empresa__content .content__info .info__title div {
  display: flex;
  flex-direction: row;
}

.empresa .empresa__content .content__info .info__title div p:nth-child(1) {
  padding-right: 5px;
}

.empresa .empresa__content .content__info .info__title div p {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray);
}

/*=======================*\
    OPÇÕES
\*=======================*/

.empresa .empresa__content .content__options {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.empresa .empresa__content .content__options a[name='notificacoes'].active i {
  position: relative;
}

.empresa .empresa__content .content__options a[name='notificacoes'].active i:after {
  position: absolute;
  top: -3px;
  right: -3px;
  padding: 5px;
  content: '';
  border-radius: 50%;
  background-color: var(--color-red);
}

.empresa .empresa__content .content__options a {
  font-size: 2.5rem;
  margin-left: 20px;
  transition: all 0.2s;
  color: var(--color-cyan);
}

.empresa .empresa__content .content__options a:hover {
  color: var(--color-cyan-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .empresa {
    height: 350px;
  }
  .empresa .empresa__content .content__options {
    display: none;
  }
  .empresa .empresa__background {
    height: 150px;
  }
  .empresa .empresa__content {
    width: calc(100% - 60px);
  }
  .empresa .empresa__content .content__info {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .empresa .empresa__content .content__info .info__title {
    padding-top: 20px;
    padding-left: 0;
  }
  .empresa .empresa__content .content__info .info__title div {
    justify-content: center;
  }
}
