/*=======================*\
    LISTA
\*=======================*/

.lista ul li .lista__status {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: center;
}

.lista ul li .item__situacao::before {
  font-family: 'Medium';
  font-size: 0.9rem;
  padding: 5px 15px;
  color: var(--color-white-fixed);
  border-radius: 100px;
}

.lista ul li .item__situacao.cancelado::before {
  content: 'Cancelada';
  background-color: var(--color-red);
}

.lista ul li .item__situacao.pendente::before {
  content: 'Pendente';
  background-color: var(--color-orange);
}

.lista ul li .item__situacao.pago::before {
  content: 'Paga';
  background-color: var(--color-green);
}

.lista ul li:hover .item__situacao::before,
.lista ul li.active .item__situacao::before {
  color: var(--color-white-fixed);
}

/*=======================*\
    LISTA ITEM
\*=======================*/

.lista ul li .lista__dados span.item__nome {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--color-gray-dark);
}

.lista ul li .lista__dados span.item__valor {
  font-family: 'Medium';
  font-size: 1rem;
  color: var(--color-gray);
}

.lista ul li * {
  pointer-events: none;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  .lista ul li .lista__dados span.item__nome {
    font-size: 1.1rem;
  }
  .lista ul li .lista__dados span.item__valor {
    font-size: 0.9rem;
  }
  .lista ul li .lista__status {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 40px;
  }
}
