/*=======================*\
    MODAL
\*=======================*/

#modal_suporte .modal__content .modal__button a {
  font-family: 'Medium';
  font-size: 1rem;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 100px;
  outline: none;
}

#modal_suporte .modal__content .modal__button a.button__whatsapp {
  color: var(--color-white-fixed);
  background-color: var(--color-green);
}

#modal_suporte .modal__content .modal__button a.button__instagram {
  color: var(--color-white-fixed);
  background-color: var(--color-red);
}

#modal_suporte .modal__content .modal__button a.button__facebook {
  color: var(--color-white-fixed);
  background-color: var(--color-blue);
}

#modal_suporte .modal__content .modal__button a.button__whatsapp:hover {
  color: var(--color-green);
  background-color: var(--color-green-extra-light);
}

#modal_suporte .modal__content .modal__button a.button__instagram:hover {
  color: var(--color-red);
  background-color: var(--color-red-extra-light);
}

#modal_suporte .modal__content .modal__button a.button__facebook:hover {
  color: var(--color-blue);
  background-color: var(--color-blue-extra-light);
}

#modal_assinar .modal__content .modal__header img {
  margin-bottom: 50px;
}

#modal_assinar .modal__content .modal__header p.preco {
  font-family: 'Bold';
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: var(--color-gray-extra-dark);
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 600px) {
  #modal_suporte .modal__content .modal__button {
    display: flex;
    flex-direction: column;
  }
}
