/*=======================*\
    BASE BODY
\*=======================*/

html {
  display: none;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--color-gray-extra-light);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*=======================*\
    SELECTION COLOR
\*=======================*/

*::selection {
  color: var(--color-white);
  background-color: var(--color-gray-extra-dark);

  scrollbar-color: var(--color-gray) var(--color-gray-light);
  scrollbar-width: thin;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1100px) {
  body {
    overflow: -moz-scrollbars-none;

    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar {
    width: 0 !important;
  }
}
