/*=======================*\
    FONT REGULAR
\*=======================*/

@font-face {
  font-family: 'Regular';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://app.gerenciabeleza.com.br/fonts/montserrat-regular.woff2') format('woff2');
}

/*=======================*\
    FONT MEDIUM
\*=======================*/

@font-face {
  font-family: 'Medium';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://app.gerenciabeleza.com.br/fonts/montserrat-medium.woff2') format('woff2');
}

/*=======================*\
    FONT BOLD
\*=======================*/

@font-face {
  font-family: 'Bold';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://app.gerenciabeleza.com.br/fonts/montserrat-bold.woff2') format('woff2');
}

/*=======================*\
    FONT EXTRABOLD
\*=======================*/

@font-face {
  font-family: 'Extrabold';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://app.gerenciabeleza.com.br/fonts/montserrat-extrabold.woff2') format('woff2');
}

/*=======================*\
    FONT ICONS
\*=======================*/

@font-face {
  font-family: 'GB_Icons';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://app.gerenciabeleza.com.br/fonts/gb-icons.woff') format('woff');
}
