/*=======================*\
    BASE LAYOUT
\*=======================*/

body {
  display: grid;

  grid-template-areas: 'navbar navbar' 'aside main';
  grid-template-columns: 60px auto;
  grid-template-rows: 0 auto;
}

/*=======================*\
    AREAS LAYOUT
\*=======================*/

navbar {
  grid-area: navbar;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

/*=======================*\
    RESPONSIVO
\*=======================*/

@media screen and (max-width: 1000px) {
  body {
    grid-template-areas: 'navbar' 'main';
    grid-template-columns: auto;
    grid-template-rows: 0 auto;
  }
}
