/*=======================*\
    BASE NORMALIZE
\*=======================*/

html {
  line-height: 1.15; /* 1 */

  -webkit-text-size-adjust: 100%; /* 2 */
}

/*=======================*\
    SECTIONS
\*=======================*/

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*=======================*\
    GROUPING CONTENT
\*=======================*/

hr {
  overflow: visible; /* 2 */
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*=======================*\
    TEXT-LEVEL SEMANTICS
\*=======================*/

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
  border-bottom: none; /* 1 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*=======================*\
    EMBEDDED CONTENT
\*=======================*/

img {
  border-style: none;
}

/*=======================*\
    FORMS
\*=======================*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  display: table; /* 1 */
  box-sizing: border-box; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
  color: inherit; /* 2 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px; /* 2 */

  -webkit-appearance: textfield; /* 1 */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit; /* 2 */

  -webkit-appearance: button; /* 1 */
}

/*=======================*\
    INTERACTIVE
\*=======================*/

details {
  display: block;
}

summary {
  display: list-item;
}

/*=======================*\
    MISC
\*=======================*/

template {
  display: none;
}

[hidden] {
  display: none;
}

/*=======================*\
    SANITIZE
\*=======================*/

*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  vertical-align: inherit; /* 2 */
  text-decoration: inherit; /* 1 */
}

html {
  line-height: 1.5; /* 2 */
  cursor: default; /* 1 */
  word-break: break-word; /* 6 */
  -moz-tab-size: 4; /* 3 */
       tab-size: 4; /* 3 */

  -webkit-tap-highlight-color: transparent /* 4 */;
  -webkit-text-size-adjust: 100%; /* 5 */
      -ms-text-size-adjust: 100%; /* 5 */
}

/*=======================*\
    SECTIONS
\*=======================*/

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*=======================*\
    GROUPING CONTENT
\*=======================*/

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  overflow: visible; /* 2 */
  height: 0; /* 1 */
}

main {
  display: block;
}

nav ol,
nav ul {
  padding: 0;
  list-style: none;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*=======================*\
    TEXT-LEVEL SEMANTIC
\*=======================*/

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

/*=======================*\
    EMBEDDED CONTENT
\*=======================*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/*=======================*\
    DADOS DE TABELA
\*=======================*/

table {
  border-collapse: collapse;
}

/*=======================*\
    FORMS
\*=======================*/

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

fieldset {
  padding: 0.35em 0.75em 0.625em; /* 2 */
  border: 1.5px solid #A0A0A0; /* 1 */
}

input {
  overflow: visible;
}

legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
  color: inherit; /* 2 */
}

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

select {
  text-transform: none;
}

textarea {
  overflow: auto; /* 2 */
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

[type='search'] {
  outline-offset: -2px; /* 2 */

  -webkit-appearance: textfield; /* 1 */
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit; /* 2 */

  -webkit-appearance: button; /* 1 */
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

/*=======================*\
    INTERATIVO
\*=======================*/

details {
  display: block;
}

dialog {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width:    -moz-fit-content;
  width: -webkit-fit-content;
  width:         fit-content;
  height:    -moz-fit-content;
  height: -webkit-fit-content;
  height:         fit-content;
  margin: auto;
  padding: 1em;
  color: black;
  border: solid;
  background-color: white;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

/*=======================*\
    SCRIPTING
\*=======================*/

canvas {
  display: inline-block;
}

template {
  display: none;
}

/*=======================*\
    INTERAÇÃO USUÁRIO
\*=======================*/

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
      touch-action: manipulation; /* 2 */
}

[hidden] {
  display: none;
}

/*=======================*\
    ACESSIBILIDADE
\*=======================*/

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden='false'][hidden] {
  display: initial;
}

[aria-hidden='false'][hidden]:not(:focus) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
