/*=======================*\
    SCROLLBAR
\*=======================*/

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-gray) var(--color-gray-extra-dark);
  scrollbar-width: thin;
}

* {
  scrollbar-color: var(--color-gray) var(--color-gray-light);
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: var(--color-gray-light);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-dark);
}
