<section class="modal" id="modal_adicionar_receita">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Adicione uma Receita</h2>
      <p>Cadastre uma receita ganha no salão.</p>
    </div>

    <!-- Inputs -->
    <div class="modal__body">

      <!-- Nome da Receita -->
      <div class="nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Nome da receita">
        <label>Nome da receita ( obrigatório )</label>
      </div>

      <!-- Data de Vencimento -->
      <div class="data input">
        <div class="datepicker"></div>
        <label>Data do pagamento ( obrigatório )</label>
      </div>

      <!-- Método de Recebimento -->
      <div class="metodo input">
        <div class="selecto__common"></div>
        <label>Método de Pagamento ( obrigatório )</label>
      </div>

      <!-- Valor -->
      <div class="valor input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="R$ 0,00" data-mask-money="true">
        <label>Valor pago ( obrigatório )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="adicionar">Salvar Receita</button>
    </div>

  </div>
</section>
