<section class="modal" id="modal_deletar_receita">
  <div class="modal__content">

    <!-- Header -->
    <div class="modal__header">
      <h2>Deseja excluir essa Receita?</h2>
      <p>...</p>
    </div>

    <!-- Id -->
    <div class="id">
      <input spellcheck="false" autocomplete="off" type="text" hidden>
    </div>

    <!-- Botoes -->
    <div class="modal__button">
      <button class="sim" type="button" id="deletar">Sim</button>
      <button class="nao" type="button" data-close="true">Não</button>
    </div>

  </div>
</section>
