<section class="modal" id="modal_alterar_senha">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Alterar Senha</h2>
      <p>Faça a alteração de sua senha atual, lembre-se de usar uma senha segura com letras e números.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Senha Atual -->
      <div class="senha input">
        <input spellcheck="false" autocomplete="off" type="password" placeholder="Senha atual">
        <label>Senha atual ( obrigatório )</label>
      </div>

      <!-- Senha Nova -->
      <div class="senha__nova input">
        <input spellcheck="false" autocomplete="off" type="password" placeholder="Senha nova">
        <label>Nova senha ( obrigatório )</label>
      </div>

      <!-- Senha Confirmação -->
      <div class="senha__confirmacao input">
        <input spellcheck="false" autocomplete="off" type="password" placeholder="Confirmar senha nova">
        <label>Repetir nova senha ( obrigatório )</label>
      </div>
    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="alterar">Salvar Senha</button>
    </div>

  </div>
</section>
