<section class="modal" id="modal_editar_perfil">
  <div class="modal__content">

    <!-- Fechar Modal -->
    <div class="modal__close">
      <i data-close="true" class="icon-times"></i>
    </div>

    <!-- Header -->
    <div class="modal__header">
      <h2>Editar Perfil</h2>
      <p>Faça a edição das informações salvas no seu perfil.</p>
    </div>

    <!-- Body -->
    <div class="modal__body">

      <!-- Nome -->
      <div class="informacoes__nome input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Seu nome">
        <label>Seu nome ( obrigatório )</label>
      </div>

      <!-- Contatos-->
      <div class="informacoes__contato__telefone1 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Seu telefone ( obrigatório )</label>
      </div>

      <!-- Contatos-->
      <div class="informacoes__contato__telefone2 input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="(00) 00000-0000" data-mask-phone="true">
        <label>Telefone 2 ( opcional )</label>
      </div>

      <!-- Date de Nascimento-->
      <div class="informacoes__nascimento input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00/00/0000" data-mask="##/##/####">
        <label>Data de nascimento ( opcional )</label>
      </div>

      <!-- Cep -->
      <div class="endereco__cep input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="00.000-000" data-mask="##.###-###">
        <label>CEP ( opcional )</label>
      </div>

      <!-- Estado -->
      <div class="endereco__estado input">
        <div class="selecto__common"></div>
        <label>Estado ( opcional )</label>
      </div>

      <!-- Cidade -->
      <div class="endereco__cidade input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Cidade">
        <label>Cidade ( opcional )</label>
      </div>

      <!-- Bairro -->
      <div class="endereco__bairro input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Bairro">
        <label>Bairro ( opcional )</label>
      </div>

      <!-- Rua -->
      <div class="endereco__rua input">
        <input spellcheck="false" autocomplete="off" type="text" placeholder="Rua">
        <label>Rua ( opcional )</label>
      </div>

      <!-- Numero -->
      <div class="endereco__numero input">
        <input spellcheck="false" autocomplete="off" type="tel" placeholder="Número">
        <label>Número ( opcional )</label>
      </div>

    </div>

    <!-- Buttons -->
    <div class="modal__button">
      <button type="button" id="editar">Salvar Perfil</button>
    </div>

  </div>
</section>
